/* FILE: __badge.scss */





.badge {
	font-weight: 300;
	vertical-align: top;

	small & {
		vertical-align: baseline;
	}

	#tips + .section h3 & {
		display: inline-block;
		width: 2.62em;
		height: 2.62em;
		padding: 0;
		margin-right: 1em;
		line-height: 2.62em;
		text-align: center;
		font-size: 1rem;
		font-weight: 700;
		background: #dc1e35;
		color: #fff;
		border-radius: 2.62em;
	}

}
