/* FILE: __classes.scss */





// Typography

	.font-weight-400 {
		font-weight: 400;
	}

	.uppercase {
		text-transform: uppercase;
	}



// Layout

	// Spacing

		.indented {
			margin-left: 4%;
		}

		.mt0,
		.alert p.mt0,
		.main-content h3.mt0 {
			margin-top: 0 !important;
		}

		.mt,
		.alert p.mt,
		.main-content h3.mt {
			margin-top: 3.62em;
		}

		.mt-s,
		.alert p.mt-s,
		.main-content h3.mt-s {
			margin-top: 1.62em;
		}

		.mt-m,
		.alert p.mt-m,
		.main-content h3.mt-m {
			margin-top: 2.62em;
		}



	// Align

		.text-center {
			text-align: center;
		}

		.alignleft {
			float: left;
			margin-right: 1.62em;
			margin-bottom: .62em;
		}

		.alignright {
			float: right;
			margin-left: 1.62em;
			margin-bottom: .62em;
		}



// Frame

	.frame {
		// Basic frame styles are the same as for <figure>
		padding: 1em;
		margin: .62em 0 1.62em;
		background: $color_figure_bg;
		border: 2px solid $color_content_bd;
		border-radius: .19em;

		&:first-child {
			margin-top: 0;
		}

	}



// Modified elements

	dl.list {
		padding: 0;
		border: 0;

		dd {
			margin-left: 1.62em;
		}

	}



	code.wrap {
		white-space: normal;
	}
