/* FILE: __content.scss */





.main-content {
	max-width: $content_width;

	.container-fluid > h2 {
		padding-top: 3.62em;
		margin-top: 3.62em;
		margin-bottom: .62em;
		color: $color_content_heading;
		border-top: 2px solid $color_content_bd;

		&:first-child {
			border: 0;
		}

	}

}

.main-content h3,
.plugins > h4 {
	padding-bottom: 1em;
	margin-top: 3.62em;
	margin-bottom: 1em;
	font-size: 1.62em;
	border-bottom: 2px solid $color_content_bd;
}
