/* FILE: editor-block/__index.scss */

$selector_editor_wrapper: '.editor-styles-wrapper'; // Was `div.editor-styles-wrapper` - if any issue arises, specificity may be adapted.

$selectors_margin_bottom: (
	'p',
	'ol', 'ul', 'dl',
	'hr',
	'form',
	'blockquote',
	'table',
	'figure',
	'iframe',
	'address',
	'pre',
);

$selectors_button: (
	'[class].button',
	'[class].wp-block-button__link',
	'[class].wp-block-search__button',
);

$important_contexts: append( $important_contexts, 'modifier_font_size' );
$important_contexts: append( $important_contexts, 'modifier_line_height' );
$important_contexts: append( $important_contexts, 'modifier_no_gaps' );

@import 'custom-properties';
@import 'ui';

@import 'typography';
@import 'base';
@import 'accessibility';

#{ $selector_editor_wrapper } {
	@import '../main/typography/_index';
	@import '../main/headings/base';
	@import '../main/base/elements';
	@import '../main/forms/buttons';
	@import '../main/wp/_index';
	@import '../main/modifiers/_index';

	@import '../blocks/_index'; // Already contains extenders.
}

@import 'blocks/_index';
