/* FILE: editor-block/_base.scss */

.editor-styles-wrapper {
	// Not using `$selector_editor_wrapper` here because
	// specificity should be as low as possible!

	*,
	*::after,
	*::before {
		border-color: inherit;
	}

}

#{ $selector_editor_wrapper } {
	padding-top: 0; // This is being taken care of in `.editor-post-title` of _post-title.scss.
	// For bottom padding see `.editor-block-list__layout` below.

	// Colors

		body & {
			background-color: var(--color_content_background);
			color: var(--color_content_text);
			border-color: var(--color_content_text--a20);
		}

	// Elements

		a {
			color: var(--color_accent);
		}

		li {

			ul,
			ol {

				&:last-child {
					margin-bottom: 0;
				}

			}

		}

		ul,
		ol {
			padding: 0;

			ul {
				list-style: disc;
			}

		}

		ul[class^="wp-block-"],
		ol[class^="wp-block-"] {
			padding-#{$left}: 0;
		}

		[data-type*="gallery"] ul {
			margin: 0;
			list-style: none;
		}

		#{ $elements_margin_bottom } {

			&:last-child {
				margin-bottom: calc( var(--typography_size_html) * #{ $golden } ); // Simulating rem unit for block editor.
			}

		}

		blockquote,
		.wp-block-quote {
			border: 0;
		}

		blockquote {

			p {

				&,
				&:last-child {
					margin-bottom: 1em;
				}

			}

		}

	// Headings

		// Heading styles on small devices
		@include h_tags( $golden_major + $golden_minor / 2, false, true );
		// Heading styles on large devices
		@include media( map_get( $breakpoint, 'm' ) ) {
			@include h_tags( 1, false, true );
		}

		#{ $elements_headings } {
			color: map_get( $customize_options, 'color_content_headings' );
			color: var(--color_content_headings);
		}

		[style*="font-size:"] {

			h1, h2, h3, h4, h5, h6 {
				font-size: inherit;
			}

		}

		[style*="font-weight:"] {

			h1, h2, h3, h4, h5, h6 {
				font-weight: inherit;
			}

		}

}

.block-editor-block-list__layout {
	padding-bottom: 4em;
	// No need to match bottom padding to front-end content.
	// @see  _helper.scss > .compensate-content-padding-bottom

	&.wp-block,
	.wp-block & {
		padding-bottom: 0;
	}

}

%pre {
	@extend %break_words_disable;
	font-family: 'Lucida Console', Monaco, 'Courier New', monospace;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	white-space: pre-wrap; // https://css-tricks.com/almanac/properties/w/whitespace
	line-height: 1.5;
	color: inherit;
}
