/* FILE: editor-block/_post-title.scss */

#{ $selector_editor_title } {

	@include media( map_get( $breakpoint, 's' ) ) {
		font-size: var(--typography_size_html);
	}

	& &__block,
	&__block.wp-block,
	&__block.wp-block:last-child {
		max-width: $max_width_content;
		padding: 0;
		margin-top: 4em !important;
		margin-bottom: 4em !important;
		font-size: inherit;
	}

	& &__input {
		max-width: $max_width_entry_content;
		padding-top: 0;
		padding-bottom: 0;
		margin-#{$right}: auto;
		font-family: var(--typography_fonts_headings);
		font-size: nth( map_get( $setup_headings, 'h1, .h1' ), 1 ) +em;
		font-weight: 700;
		line-height: 1.25;

		&,
		&:focus {
			color: var(--color_content_headings);
		}

	}

}
