/* FILE: editor-block/_post-title.scss */

.editor-post-title {
	padding-top: $golden_major * strip_unit( $padding_vertical ) +em;
	padding-bottom: $golden_major * strip_unit( $padding_vertical ) +em;
	margin-bottom: $golden_major * strip_unit( $padding_vertical ) +em;
	background-color: map_get( $customize_options, 'color_intro_background' );
	background-color: var(--color_intro_background);
	border-bottom: 1px solid;
	border-color: rgba( map_get( $customize_options, 'color_intro_text' ), 20 / 100 );
	border-color: var(--color_intro_text--a20);

	@include media( map_get( $breakpoint, 's' ) ) {
		font-size: map_get( $customize_options, 'typography_size_html' );
		font-size: var(--typography_size_html);
	}

	@include media( map_get( $breakpoint, 'l' ) ) {
		margin-bottom: strip_unit( $padding_vertical ) +em;
	}

	@include media( map_get( $breakpoint, 'xl' ) ) {
		padding-top: strip_unit( $padding_vertical ) +em;
		padding-bottom: strip_unit( $padding_vertical ) +em;
		margin-bottom: $golden * strip_unit( $padding_vertical ) +em;
	}

	.editor-post-title__block {
		max-width: calc( #{ map_get( $customize_options, 'layout_width_content' ) } + #{ $ui_margin * 2 } );
		max-width: calc( var(--layout_width_content) + #{ $ui_margin * 2 } );
		padding: 0;
		margin-bottom: 0;
		font-size: inherit;
	}

	.editor-post-title__input {
		@extend %font_headings;
		padding-top: 0;
		padding-bottom: 0;
		font-size: nth( map_get( $setup_headings, 'h1, .h1' ), 1 ) +em;
		color: map_get( $customize_options, 'color_intro_headings' );
		color: var(--color_intro_headings);
	}

}
