/* FILE: editor-block/_typography.scss */

html #{ $selector_editor_wrapper } {
	font-family: var(--typography_fonts_text);
	font-size: var(--typography_font_size_base);
	line-height: $golden;
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	font-family: inherit;
}
