/* FILE: editor-block/_ui.scss */

// Block editor UI margin applied on blocks.
// We use this to compensate block widths.
$ui_margin: 14px;

// Very approx compensation for UI width...
$alignment_width: $alignment_width + $alignment_margin;

.block-editor-block-list__layout .block-editor-default-block-appender > .block-editor-default-block-appender__content,
.block-editor-block-list__layout > .block-editor-block-list__block > .block-editor-block-list__block-edit,
.block-editor-block-list__layout > .block-editor-block-list__layout > .block-editor-block-list__block > .block-editor-block-list__block-edit {
	margin-top: $golden +em;
	margin-bottom: $golden +em;
}

[data-type="core/more"],
[data-type="core/nextpage"] {
	clear: both;
}
