/* FILE: editor-block/_ui.scss */

// Very approx compensation for UI width...
$alignment_width: $alignment_width + $alignment_margin;

// Block editor UI margin applied on blocks.
// Used to compensate the block widths.

	:root {
		--block_ui_margin: var(--zero);
		--block_ui_border: var(--zero);
	}

	// Backwards compatibility (WP5.3-):
	.editor-block-list__layout {
		--block_ui_margin: 14px;
		--block_ui_border: 2px;
	}

	// These can not be CSS vars, we need to use SASS vars.
	$max_width_content: calc( var(--layout_width_content) + var(--block_ui_margin) + var(--block_ui_margin) + var(--block_ui_border) );
	$max_width_entry_content: calc( 36 * var(--typography_size_html) + var(--block_ui_margin) + var(--block_ui_margin) + var(--block_ui_border) );

.block-list-appender.block-list-appender.block-list-appender,
.block-editor-block-list__block,
.block-library-spacer__resize-container {
	margin-top: 0;
	margin-bottom: 0;
}

[data-type="core/more"],
[data-type="core/nextpage"] {
	clear: both;
}
