/* FILE: blocks/_block.scss */

[class*="wp-block-"] + figcaption {
	margin-top: -1em;
}

.blocks-gallery-caption,
.blocks-gallery-item__caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	color: inherit;

	a {
		color: inherit;
	}

}
