/* FILE: blocks/_block.scss */

[class^="wp-block-"] + figcaption {
	margin-top: -1rem;
}

.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	color: inherit;
}

[class^="wp-block-"] {

	&.alignleft,
	&.aligncenter,
	&.alignright {
		max-width: $alignment_width;
	}

}
