/* FILE: blocks/_gallery.scss */

.wp-block-gallery,
.blocks-gallery-grid {

	// WP6.0+ fix
	&.alignfull {
		margin-#{$left}: calc( 50% - 50vw + ( var(--scrollbar_width) / 2 ) );
		margin-#{$right}: auto;
	}

}

.wp-block-gallery:not(.alignfull):not(.alignwide),
.blocks-gallery-grid {
	// Do not apply max-width in block editor!
	@if not variable-exists( 'selector_editor_wrapper' ) {
		max-width: 100%;
	}
}

.blocks-gallery-grid {
	width: 100%;
}

.wp-block-gallery {

	img,
	figcaption {
		margin-left: auto;
		margin-right: auto;
	}

}

[class*="wp-container-"] {

	&.blocks-gallery-grid,
	&.wp-block-gallery {
		gap: var(--wp--style--block-gap);
	}

}

.wp-block-gallery.wp-block-gallery.wp-block-gallery figure figcaption {
	@include gallery_caption();
}
