/* FILE: blocks/_group.scss */

.wp-block-group {

	&__inner-container {
		@extend %block_inner_container;
		@extend %clearfix;
	}

		// Sometimes the Group block does not receive layout class
		// by WordPress (such as when nested within full aligned Group)
		// and also `.wp-block-group__inner-container` is not rendered,
		// so we need to fix inner block alignment here (front-end only).
		// (These styles are from `%block_inner_container`.)
		&:not(.is-layout-flex) > :not(
			.alignfull,
			.alignwide,
			.alignwide-wrap,
			.wp-block-group__inner-container
		) {
			// max-width: var(--layout_width_entry_content); // This style is not needed here (see below).
			margin-inline: auto;
		}

	&.has-background > .wp-block-group__inner-container > .alignwide-wrap {
		padding-left: 0;
		padding-right: 0;
	}

	// Used as flexbox:

		&.wp-block-group {
			gap: var(--wp--style--block-gap);
		}

		> :not(.wp-block-group__inner-container) {
			max-width: var(--layout_width_entry_content);
		}

		$selector_alignfull : '.alignfull';
		$selector_alignwide : '.alignwide';
		@if variable-exists( 'selector_editor_wrapper' ) {
			$selector_alignfull : '[data-align="full"]';
			$selector_alignwide : '[data-align="wide"]';
		}

		> #{$selector_alignfull},
		> #{$selector_alignwide},
		> .alignwide-wrap {
			width: 100%;
		}

		> #{$selector_alignwide},
		> .alignwide-wrap {
			max-width: var(--layout_width_content);
		}

		> #{$selector_alignfull} {
			max-width: none;
		}

}

.has-widgets-in-sidebar .wp-block-group:not(.alignwide) .wp-block-group__inner-container {
	max-width: none;
}
