/* FILE: blocks/_pullquote.scss */

.wp-block-pullquote {
	padding: ( _pow( $ratio, 2 ) +em ) 6%;
	font-size: 1em;
	text-align: inherit;
	border-top-width: $ratio_min +em;
	border-top-style: solid;
	border-bottom-width: $ratio_min +em;
	border-bottom-style: solid;
	color: inherit;

	blockquote {
		padding: 0;
	}

	&.wp-block-pullquote p {
		font-size: 1em;
	}

	&.is-style-solid-color {

		blockquote {
			max-width: none;
			text-align: inherit;

			p {
				font-size: 1em;
			}

		}

	}

	&.has-border-color,
	&[style*="border-width"],
	&[style*="border-style"] {
		// Using !important to override possible inline styles for `border-style`.
		border-left-style: none !important;
		border-right-style: none !important;
	}

}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright,
[data-align="left"] .wp-block-pullquote,
[data-align="right"] .wp-block-pullquote {
	max-width: calc( var(--layout_width_entry_content) / 2 - var(--typography_font_size_base) / 2 );
	padding-left: 0;
	padding-right: 0;

	@include media( map_get( $breakpoint, 'l' ) ) {
		max-width: calc( var(--layout_width_entry_content) / 2 - var(--typography_font_size_base) );
	}

}
