/* FILE: blocks/_search.scss */

.wp-block-search {

	svg {
		fill: currentColor;
		width: auto !important;
		height: 1.5rem !important;
		vertical-align: middle;
	}

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper {
		padding: .25em;

		.wp-block-search__input,
		.wp-block-search__button {
			padding: calc( #{ $form_field_padding_vertical } - .25em ) 1em;
		}

	}

}
