/* FILE: blocks/_table.scss */

.is-style-stripes table,
table.is-style-stripes,
.wp-block-table.is-style-stripes {

	&,
	th,
	td {
		border-width: 0;
	}

}

.wp-block-table {

	th,
	td {
		border-color: inherit;
	}

	&.is-style-stripes tbody tr {

		&:nth-child(odd) {
			background: transparent;
		}

		&:nth-child(even) {

			th,
			td {
				@extend %shaded_background;
				position: relative;
			}

		}

	}

	thead {
		border-bottom: 3px solid;
	}

	tfoot {
		border-top: 3px solid;
	}

}

.has-text-color table {
	border-color: currentColor;
}
