/* FILE: main/wp/__alignment.scss */

//
// Alignment
//





.site-content {
	// Needed to prevent horizontal scrolling due to incorrect
	// `100vw` calculation in browsers on Windows operating system.
	overflow-x: hidden;
}



$content_indent: 100 - $page_content_width;

.align-wrap {
	clear: both;
	width: 100vw;
	margin-#{$left}: calc( 50% - 50vw ); // {{RTL}}
	pointer-events: none;

	// Sidebar is displayed:
	.has-widgets-sidebar & {

		@include media( map_get( $breakpoint, 'l' ) ) {
			width: auto;
			margin-#{$left}: calc( 50% / #{ $page_content_width / 100 } - 50vw );
		}

	}

	// Boxed site layout:
	.site-layout-boxed & {

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-left: 30px;
			padding-right: 30px;
		}

	}

	// Boxed site layout + sidebar:
	.site-layout-boxed.has-widgets-sidebar & {

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-#{$right}: 0;
			margin-#{$left}: calc( 50% / #{ $page_content_width / 100 } - 50vw );
		}

	}

}

.alignwide,
.alignfull {
	pointer-events: auto;

	&,
	&:last-child {
		margin-bottom: $golden +em;
	}

	&.wp-block-columns,
	&.has-no-margin,
	&.has-no-margin-vertical,
	&.has-no-margin-bottom {
		margin-bottom: 0;
	}

	&,
	&.has-no-margin {
		// Horizontal margin has to be applied.
		margin-left: auto;
		margin-right: auto;
	}

}

.alignwide {
	$content_padding: 6%;
	/* $content_width */
	width: map_get( $customize_options, 'layout_width_content' );
	width: var(--layout_width_content);
	max-width: 100% - 2 * $content_padding;

	// Sidebar is displayed:
	.has-widgets-sidebar & {
		$alignwide_overlap: 10; // in %

		@include media( map_get( $breakpoint, 'l' ) ) {
			width: #{ round( map_get( $customize_options, 'layout_width_site' ) * ( $page_content_width + $alignwide_overlap ) / 100 ) };
			width: calc( var(--layout_width_content) * #{ ( $page_content_width + $alignwide_overlap ) / 100 } );
			max-width: 100% - $content_padding;

			&,
			&.has-no-margin {
				margin-#{$right}: 0;
			}

		}

	}

}

.alignfull {
	width: 100%;
	max-width: 100%;

	// Boxed site layout:
	.site-layout-boxed & {
		width: map_get( $customize_options, 'layout_width_site' );
		width: var(--layout_width_site);
	}

	// Boxed site layout + sidebar:
	.site-layout-boxed.has-widgets-sidebar & {

		@include media( map_get( $breakpoint, 'l' ) ) {
			width: auto;
			/* $content_width */
			max-width: calc( #{ map_get( $customize_options, 'layout_width_site' ) } / 2 + #{ map_get( $customize_options, 'layout_width_content' ) } * #{ $page_content_width / 100 } - #{ map_get( $customize_options, 'layout_width_content' ) } / 2 );
			max-width: calc( var(--layout_width_site) / 2 + var(--layout_width_content) * #{ $page_content_width / 100 } - var(--layout_width_content) / 2 );

			&,
			&.has-no-margin {
				margin-#{$right}: 0;
			}

		}

	}

}
