/* FILE: main/wp/__alignment.scss */

//
// Alignment
//





.site-content {
	// Needed to prevent horizontal scrolling due to incorrect
	// `100vw` calculation in browsers on Windows operating system.
	overflow-x: hidden;
}



$content_indent: 100 - $page_content_width;

.align-wrap {
	clear: both;
	width: 100vw;
	margin-#{$left}: calc( 50% - 50vw ); // {{RTL}}
	margin-bottom: $golden +em;

	// Applied on pages only:
	.page-layout-outdented & {

		@include media( map_get( $breakpoint, 'xl' ) ) {
			$content_center: ( 50 - $content_indent ) / ( 100 - $content_indent );
			$content_center: percentage( $content_center );
			margin-#{$left}: calc( #{ $content_center } - 50vw );
		}

	}

	&:last-child {
		margin-bottom: 0;
	}

	& + & {
		// Removing vertical margin here in favor of Spacer block
		// used to space out the wide/full aligned blocks.
		margin-top: -$golden +em;
	}

	.site-layout-boxed & {

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-left: 30px;
			padding-right: 30px;
		}

	}

}



.alignwide {
	/* $content_width */
	max-width: map_get( $customize_options, 'layout_width_content' );
	max-width: var(--layout_width_content);
	margin: 0 auto;

	// Applied on pages only:
	// We have to use `body` as `.page` is also applied on `article` tag.

		.site-layout-fullwidth.page:not(.page-layout-outdented) & {
			/* $content_width */
			max-width: map_get( $customize_options, 'layout_width_content' ) * 1.33;
			max-width: calc( var(--layout_width_content) * 1.2 );
		}

		.site-layout-boxed.page:not(.page-layout-outdented) & {
			/* $content_width */
			max-width: map_get( $customize_options, 'layout_width_content' ) * 1.33;
			max-width: calc( var(--layout_width_content) * 1.2 );
		}

}

.alignfull {
	width: 100%;
	max-width: 100%;
	margin: 0;

	.site-layout-boxed & {
		width: map_get( $customize_options, 'layout_width_site' );
		width: var(--layout_width_site);
		margin: 0 auto;
	}

}
