/* FILE: main/wp/__gallery.scss */

//
// Gallery
//





.gallery {

	img {
		width: 100%;
	}

	&-columns-1 .gallery-item {
		margin-top: 2em;
	}

	&-caption {
		@extend %font_style_italic;
		padding: 1em;
		margin-top: -1px; // To prevent a gap in certain cases.
	}

}
