/* FILE: main/wp/__pullquote.scss */

//
// Pullquote
//





blockquote {

	&.alignleft,
	&.alignright {
		padding: 0;
		margin-top: 0;

		@include media( map_get( $breakpoint, 's' ) ) {
			width: 35%;
		}

	}

	&.alignleft {
		margin-left: 0;

		&::before {
			float: $right; // {{RTL}}
			margin-#{$right}: 0; // {{RTL}}
			margin-#{$left}: .25em; // {{RTL}}
		}

	}

	&.alignright {
		margin-right: 0;
	}

}
