/* FILE: main/wp/__separator.scss */

//
// Separator
//





.wp-block-separator {

	&.is-style-dots::before {
		opacity: map_get( $border_opacity_from_text, 'general' );
	}

	&.is-style-short,
	&.is-style-default {
		max-width: 6em;
		border-bottom-width: $golden_minor / 2 +em;
	}

}
