/* FILE: main/wp/_player.scss */

.mejs-container {
	margin-bottom: $ratio +em;

	&:last-child {
		margin-bottom: 0;
	}

	.site & .mejs-controls .mejs-button button {
		background-color: transparent;
		color: inherit;
	}

}

.wp-playlist {
	// Keep the text in playlist left/right even if container text is centered
	text-align: $left; // {{RTL}}

	.site & {
		// Wrapping within `.site` class to override WordPress default styles.
		padding: 0;
		background: none;
		border-width: 1px;
		border-style: solid;

		&-current-item,
		&-tracks {
			height: auto;
			padding: $ratio +rem;
			margin: 0;
		}

		&-current-item {
			@extend %font_weight_700;
			padding-bottom: $ratio_maj +rem;
		}

	}

	.posts & {
		border-top-width: 0;
		border-left-width: 0;
		border-right-width: 0;
	}

}

.wp-video .mejs-container,
.wp-video-playlist .mejs-container {
	@extend %video_container;

	.mejs-inner {
		@extend %video_object;
	}

}

.posts .mejs-container {
	min-width: 0 $important; // Overriding inline element styles.
}

.entry-media .mejs-container a {
	width: auto;
}

.entry-media .mejs-container .mejs-horizontal-volume-slider {
	width: 56px;
}
