/* FILE: main/wp/_wp.scss */

//
// WordPress styles
//





// Imports

	@import '_button';

	@import '_caption';

	@import '_file';

	@import '_gallery';

	@import '_player';

	@import '_pullquote';

	@import '_quote';

	@import '_separator';

	@import '_verse';

	@import '_alignment';
