/**
 * THIS IS FALLBACK STYLESHEET ONLY!
 *
 * WooCommerce fallback styles.
 *
 * This only enqueues if the theme supports `stylesheet-generator`.
 *
 * @package    Reykjavik
 * @copyright  WebMan Design, Oliver Juhas
 *
 * @since    1.0.0
 * @version  1.0.0
 */





@import url( 'assets/css/woocommerce-rtl.css' );

@import url( 'assets/css/custom-styles-woocommerce.css' );
