/* FILE: customize.scss */

//
// Customize styles
//
// @package     WebMan WordPress Theme Framework
// @subpackage  Customize
//
// @since    1.5.0
// @version  1.5.0
//





// Setup language direction

	$left: left;
	$right: right;



// Imports

	@import "styles/customize";
