/* FILE: customize-rtl.scss */

//
// Customize RTL styles
//
// @subpackage  Customize
//
// @package    WebMan WordPress Theme Framework
// @copyright  WebMan Design, Oliver Juhas
//





// Setup language direction

	$left: right;
	$right: left;



// Imports

	@import "styles/customize";
