/* FILE: customize.scss */

//
// Customize styles
//
// @subpackage  Customize
//
// @package    WebMan WordPress Theme Framework
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.5.0
// @version  2.7.0
//





// Setup language direction

	$left: left;
	$right: right;



// Imports

	@import "styles/customize";
