/* FILE: welcome.scss */

//
// Welcome page styles
//
// @package     WebMan WordPress Theme Framework
// @subpackage  Welcome page
//
// @since    1.5.0
// @version  1.5.0
//





// Setup language direction

	$left: left;
	$right: right;



// Imports

	@import "styles/welcome";
