/////////////////////
//
// Variables
//
// To override these variables, you can redefine them in your SASS files.
// All the `!default` variables can be redefined easily.
// Import your variables file BEFORE the actual `starter` import.
//
/////////////////////





//
// Global variables
//

	// Responsive breakpoints (in px).

		$breakpoint: (
			's'     :  448, // =  28em // Starting mobile landscape
			'm'     :  672, // =  42em // Starting tablet portrait
			'l'     :  880, // =  55em // Starting tablet landscape
			'xl'    : 1280, // =  80em // Starting laptop
			'xxl'   : 1600, // = 100em // Starting desktop
			'xxxl'  : 1920, // = 120em // Starting desktop full HD
			'xxxxl' : 2560, // = 160em // Starting desktop WQHD
		) !default;

	// Golden ratio.

		$golden:       1.618 !default;
		$golden_major: 0.618 !default;
		$golden_minor: 0.382 !default;

	// Specificity

		// Wrappers

			// Global wrapper.
			$wrapper: '.site' !default;

			// Section related wrappers:
			$wrapper_modifiers: $wrapper !default;

		// Forced important

			// Global important. Should be kept unchanged.
			$important: !important !default;

			// Section related importants:
			$important_base_accessibility: $important !default;
			$important_base_modifiers: null !default;
			$important_plugins_jetpack_infinite_scroll: $important !default;
			$important_plugins_jetpack_sharing: $important !default;
			$important_wp_embed: $important !default;



//
// Setup variables
//

	// Preferred unit type.
	//
	// Used in media queries.
	// "absolute" (px, pt) vs "relative" (em, rem, %)

		$preferred_units: absolute !default;

	// Right To Left languages support.
	//
	// There are `{{RTL}}` notes left in the code where change is applicable.

		$language_direction: ltr !default;
		$left: left;
		$right: right;

		@if rtl == $language_direction {
			$left: right;
			$right: left;
		}

	// Blocks support.

		$support__block: (
			'audio',
			'button',
			'code',
			'columns',
			'cover',
			'drop-cap',
			'embed',
			'gallery',
			'image',
			'latest-comments',
			'latest-posts',
			'media-text',
			'pullquote',
			'quote',
			'separator',
			'spacer',
			'table',
			'verse',
			'video',
		) !default;

		$alignment_margin: percentage( .06 ) !default;
		$alignment_width: percentage( $golden_major - .06 ) !default;

	// Post Formats support.

		$support__post_format: (
			// 'link',
			// 'quote',
			// 'status',
		) !default;

	// Plugin support: Jetpack modules.
	//
	// @link  https://jetpack.com/
	// @link  https://jetpack.com/support/
	// @link  https://jetpack.com/support/control-jetpacks-modules-on-one-page/

		$support__jetpack: (
			'blocks',
			'contact-form',
			'infinite-scroll',
			'related-posts',
			'responsive-videos',
			'sharing',
			'tiled-gallery',
			'widgets',
		) !default;



//
// Typography variables
//

	// Base font size and spacing.

		$typography_line_height: $golden !default;
		$typography_margin_bottom: $golden !default;

	// Headings font size, line height and vertical margins.

		$elements_heading_1: 'h1, .h1' !default;
		$elements_heading_2: 'h2, .h2' !default;
		$elements_heading_3: 'h3, .h3' !default;
		$elements_heading_4: 'h4, .h4' !default;
		$elements_heading_5: 'h5, .h5' !default;
		$elements_heading_6: 'h6, .h6' !default;

		$elements_headings: $elements_heading_1, $elements_heading_2, $elements_heading_3, $elements_heading_4, $elements_heading_5, $elements_heading_6;

		$setup_headings: (

			// @see  "Golden Ditonic Scale" at http://spencermortensen.com/articles/typographic-scale/

			// $selector : (
			//   $size
			//   $line_height
			//   $margin_top    [ ( span_4_or_3_lines - $size * $line_height - $margin_bottom ) / $size ]
			//   $margin_bottom [ $margin_bottom / $size / $line_height ]
			// )

			$elements_heading_1 : (
				2.618,
				1.191,
				( 4 * $typography_line_height - 2.618 * 1.191 - $typography_margin_bottom ) / 2.618,
				$typography_margin_bottom / 2.618 / 1.191
			),

			$elements_heading_2 : (
				2.058,
				1.191,
				( 4 * $typography_line_height - 2.058 * 1.191 - $typography_margin_bottom ) / 2.058,
				$typography_margin_bottom / 2.058 / 1.191
			),

			$elements_heading_3 : (
				1.618,
				1.382,
				( 3 * $typography_line_height - 1.618 * 1.382 - $typography_margin_bottom ) / 1.618,
				$typography_margin_bottom / 1.618 / 1.382
			),

			$elements_heading_4 : (
				1.272,
				( 1.618 / 1.272 ),
				( 3 * $typography_line_height - 1.272 * ( 1.618 / 1.272 ) - $typography_margin_bottom ) / 1.272,
				$typography_margin_bottom / 1.272 / ( 1.618 / 1.272 )
			),

			$elements_heading_5 : (
				1.272,
				( 1.618 / 1.272 ),
				( 3 * $typography_line_height - 1.272 * ( 1.618 / 1.272 ) - $typography_margin_bottom ) / 1.272,
				$typography_margin_bottom / 1.272 / ( 1.618 / 1.272 )
			),

			$elements_heading_6 : (
				1.272,
				( 1.618 / 1.272 ),
				( 3 * $typography_line_height - 1.272 * ( 1.618 / 1.272 ) - $typography_margin_bottom ) / 1.272,
				$typography_margin_bottom / 1.272 / ( 1.618 / 1.272 )
			),

		) !default;
