/////////////////////
//
// Variables
//
// To override these variables, you can redefine them in your SASS files.
// All the `!default` variables can be redefined easily.
// Import your variables file BEFORE the actual `starter` import.
//
/////////////////////





//
// Setup variables
//

	// Preferred unit type.
	//
	// Used in media queries.
	// "absolute" (px, pt) vs "relative" (em, rem, %)

		$preferred_units: absolute !default;

	// Right To Left languages support.
	//
	// There are `{{RTL}}` notes left in the code where change is applicable.

		$language_direction: ltr !default;
		$left: left;
		$right: right;

		@if rtl == $language_direction {
			$left: right;
			$right: left;
		}

	// Blocks support.

		$supported_blocks: (
			'archives',
			'audio',
			'button',
			'categories',
			'code',
			'columns',
			'cover',
			'drop-cap',
			'embed',
			'gallery',
			'latest-comments',
			'latest-posts',
			'pullquote',
			'separator',
			'spacer',
			'table',
			'verse',
			'video',
		) !default;

	// Post Formats support.

		$supported_post_formats: (
			// 'link',
			// 'quote',
			// 'status',
		) !default;

	// Plugin support: Jetpack modules.
	//
	// @link  https://jetpack.com/
	// @link  https://jetpack.com/support/
	// @link  https://jetpack.com/support/control-jetpacks-modules-on-one-page/

		$supported_jetpack_modules: (
			'contact-form',
			'infinite-scroll',
			'related-posts',
			'sharing',
			'tiled-gallery',
			'widgets',
		) !default;



//
// Global variables
//

	// Responsive breakpoints (in px).

		$breakpoint: (
			's'     :  448, // =  28em // Starting mobile landscape
			'm'     :  672, // =  42em // Starting tablet portrait
			'l'     :  880, // =  55em // Starting tablet landscape
			'xl'    : 1280, // =  80em // Starting laptop
			'xxl'   : 1600, // = 100em // Starting desktop
			'xxxl'  : 1920, // = 120em // Starting desktop full HD
			'xxxxl' : 2560, // = 160em // Starting desktop WQHD
		) !default;

	// Golden ratio.

		$golden:       1.618 !default;
		$golden_major: 0.618 !default;
		$golden_minor: 0.382 !default;



//
// Typography variables
//

	// Base font size and spacing.

		$font_size: 16 !default;

		$typography_line_height: $golden !default;
		$typography_margin_bottom: $golden !default;

	// Headings font size, line height and vertical margins.

		$h_tags_1: 'h1, .h1' !default;
		$h_tags_2: 'h2, .h2' !default;
		$h_tags_3: 'h3, .h3' !default;
		$h_tags_4: 'h4, .h4' !default;
		$h_tags_5: 'h5, .h5' !default;
		$h_tags_6: 'h6, .h6' !default;

		$h_tags: $h_tags_1, $h_tags_2, $h_tags_3, $h_tags_4, $h_tags_5, $h_tags_6;

		$h_tags_setup: (

			// @see  "Golden Ditonic Scale" at http://spencermortensen.com/articles/typographic-scale/

			// $selector : (
			//   $size
			//   $line_height
			//   $margin_top    [ ( span_4_or_3_lines - $size * $line_height - $margin_bottom ) / $size ]
			//   $margin_bottom [ $margin_bottom / $size / $line_height ]
			// )

			$h_tags_1 : (
				2.618,
				1.191,
				( 4 * $typography_line_height - 2.618 * 1.191 - $typography_margin_bottom ) / 2.618,
				$typography_margin_bottom / 2.618 / 1.191
			),

			$h_tags_2 : (
				2.058,
				1.191,
				( 4 * $typography_line_height - 2.058 * 1.191 - $typography_margin_bottom ) / 2.058,
				$typography_margin_bottom / 2.058 / 1.191
			),

			$h_tags_3 : (
				1.618,
				1.382,
				( 3 * $typography_line_height - 1.618 * 1.382 - $typography_margin_bottom ) / 1.618,
				$typography_margin_bottom / 1.618 / 1.382
			),

			$h_tags_4 : (
				1.272,
				( 1.618 / 1.272 ),
				( 3 * $typography_line_height - 1.272 * ( 1.618 / 1.272 ) - $typography_margin_bottom ) / 1.272,
				$typography_margin_bottom / 1.272 / ( 1.618 / 1.272 )
			),

			$h_tags_5 : (
				1.272,
				( 1.618 / 1.272 ),
				( 3 * $typography_line_height - 1.272 * ( 1.618 / 1.272 ) - $typography_margin_bottom ) / 1.272,
				$typography_margin_bottom / 1.272 / ( 1.618 / 1.272 )
			),

			$h_tags_6 : (
				1.272,
				( 1.618 / 1.272 ),
				( 3 * $typography_line_height - 1.272 * ( 1.618 / 1.272 ) - $typography_margin_bottom ) / 1.272,
				$typography_margin_bottom / 1.272 / ( 1.618 / 1.272 )
			),

		) !default;
