/* FILE: starter/wp/blocks/__cover.scss */

//
// Cover
//





@if ( index( $supported_blocks, 'cover' ) ) {

	.wp-block-cover {
		min-height: 27em;
		padding: 2em;

		&.alignleft,
		&.alignright {
			max-width: $horizontal_alignment_width;
		}

		&.alignleft,
		&.aligncenter,
		&.alignright {
			min-height: 20em;
		}

		&.alignwide,
		&.alignfull {
			min-height: $golden_major * 100vh;
			padding-left: 10%;
			padding-right: 10%;
		}

		& &-text {
			width: 100%;
			max-width: 24em;
			padding: 0;
			text-align: inherit;
		}

	}

}
