/* FILE: starter/content/wp/blocks/__index.scss */

@import 'block';

@import 'audio';
@import 'button';
@import 'code';
@import 'columns';
@import 'cover';
@import 'drop-cap';
@import 'embed';
@import 'gallery';
@import 'image';
@import 'latest-comments';
@import 'latest-posts';
@import 'media-text';
@import 'pullquote';
@import 'quote';
@import 'separator';
@import 'spacer';
@import 'table';
@import 'verse';
@import 'video';
