/* FILE: starter/wp/blocks/__pullquote.scss */

//
// Pullquotes
//





@if ( index( $supported_blocks, 'pullquote' ) ) {

	%pullquote {
		padding: ( $golden +em ) 0;
		text-align: inherit;
		border-top-width: $golden_minor +em;
		border-top-style: solid;
		border-bottom-width: $golden_minor +em;
		border-bottom-style: solid;

		&.alignleft,
		&.alignright {
			clear: none;
			width: 50%;
			margin-left: 6%;
			margin-right: 6%;

			@include media( map_get( $breakpoint, 's' ) ) {
				width: percentage( $golden_minor );
			}

		}

		&.alignleft {
			margin-left: 0;
			text-align: right;

			@include media( map_get( $breakpoint, 'xxl' ) ) {
				margin-left: percentage( -$golden_minor / 4 );
			}

		}

		&.alignright {
			margin-right: 0;
			text-align: left;

			@include media( map_get( $breakpoint, 'xxl' ) ) {
				margin-right: percentage( -$golden_minor / 4 );
			}

		}

	}

	.wp-block-pullquote {
		@extend %pullquote;

		&,
		&.alignleft,
		&.alignright {

			p {
				font-size: inherit;
			}

		}

		&.alignfull {
			padding-left: $golden +em;
			padding-right: $golden +em;

			@include media( map_get( $breakpoint, 'l' ) ) {
				padding-left: pow( $golden, 2 ) +em;
				padding-right: pow( $golden, 2 ) +em;
			}

		}

		&.is-style-solid-color {
			padding: $golden +em;
			border-width: 0;

			@include media( map_get( $breakpoint, 'l' ) ) {
				padding: pow( $golden, 2 ) +em;
			}

			blockquote {
				max-width: 32em;
			}

		}

	}

}
