/* FILE: starter/wp/blocks/__quote.scss */

//
// Quote
//





@if ( index( $support__block, 'quote' ) ) {

	.wp-block-quote {

		&.is-style-large {
			padding: 0;
			margin: 0;

			&:not(:last-child) {
				margin-bottom: $golden +rem;
			}

			p {
				line-height: inherit;
				font-size: $golden +rem;
				font-style: inherit;
			}

			cite {
				@extend %font_size_small;
				text-align: inherit;
			}

		}

	}

}
