/* FILE: starter/wp/blocks/__verse.scss */

//
// Verse
//





@if ( index( $support__block, 'verse' ) ) {

	.wp-block-verse {
		font-family: inherit;
		font-size: inherit;
		background: transparent;
		color: inherit;
	}

}
