/* FILE: starter/content/wp/blocks/_button.scss */

@if ( index( $support__block, 'button' ) ) {

	.is-style-outline {
		color: inherit;
	}

	.is-style-outline .wp-block-button__link {
		background: transparent;
		color: inherit;
		border: 2px solid;

		@include haf() {
			box-shadow: inset 0 0 0 1px;
		}

	}

}
