/* FILE: starter/wp/blocks/_cover.scss */

//
// Custom CSS class:
// - has-aligncenter-content
// - has-alignfull-content
// - has-alignleft-content
// - has-alignright-content
// - has-alignwide-content
// - has-full-height
//

@if ( index( $support__block, 'cover' ) ) {

	.wp-block-cover {
		min-height: 20em;
		padding: 2em;

		&.alignleft,
		&.alignright {
			max-width: $horizontal_alignment_width;
		}

		&.alignwide,
		&.alignfull {
			min-height: $golden_major * 100vh;
			padding-left: 10%;
			padding-right: 10%;
		}

		&.has-full-height {
			min-height: 100vh;
		}

		&__inner-container {
			width: 100%;
			max-width: 24rem;
			padding: 0;
			text-align: inherit;

			.has-alignwide-content & {
				max-width: 36rem;
			}

			.has-alignfull-content & {
				max-width: none;
			}

			.has-alignleft-content & {
				margin-right: auto;
			}

			.has-alignright-content & {
				margin-left: auto;
			}

			.has-aligncenter-content & {
				margin-left: auto;
				margin-right: auto;
			}

		}

		a:not(.button) {
			color: inherit;
		}

	}

}
