/* FILE: starter/content/wp/blocks/_cover.scss */

@if ( index( $support__block, 'cover' ) ) {

	.wp-block-cover {
		min-height: 20em;
		padding: 2em;

		&.alignleft,
		&.alignright {
			max-width: $alignment_width;
		}

		&.alignwide,
		&.alignfull {
			min-height: $golden_major * 100vh;
			padding-left: 10%;
			padding-right: 10%;
		}

		&__inner-container,
		.wp-block-cover__inner-container {
			width: 100%;
			max-width: 24em;
			padding: 0;
			text-align: inherit;
		}

		a:not(.button) {
			color: inherit;
		}

		h2 {
			$setup_h2: map_get( $setup_headings, 'h2, .h2' );
			max-width: none;
			padding: 0;
			margin-bottom: nth( $setup_h2, 4 ) +em;
			font-size: nth( $setup_h2, 1 ) +em;
			line-height: nth( $setup_h2, 2 );
			color: inherit;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	//
	// Custom CSS class:
	// - has-aligncenter-content
	// - has-alignfull-content
	// - has-alignleft-content
	// - has-alignright-content
	// - has-alignwide-content
	//

		.has-alignwide-content .wp-block-cover__inner-container {
			max-width: 36em;
		}

		.has-alignfull-content .wp-block-cover__inner-container {
			max-width: none;
		}

		.has-alignleft-content .wp-block-cover__inner-container {
			margin-right: auto;
		}

		.has-alignright-content .wp-block-cover__inner-container {
			margin-left: auto;
		}

		.has-aligncenter-content .wp-block-cover__inner-container {
			margin-left: auto;
			margin-right: auto;
		}

}
