/* FILE: starter/content/wp/blocks/_latest-comments.scss */

@if ( index( $support__block, 'latest-comments' ) ) {

	.wp-block-latest-comments {
		@extend %block_list_items;

		&__comment {
			@extend %block_list_items_child;

			&-excerpt {
				@extend %font_size_small;

				p {
					margin: 1em 0 0;
					font-size: 1em;
					line-height: inherit;
				}

			}

		}

	}

}
