/* FILE: starter/wp/blocks/_pullquote.scss */

@if ( index( $support__block, 'pullquote' ) ) {

	%pullquote {
		padding: ( pow( $golden, 2 ) +rem ) 6%;
		text-align: inherit;
		border-top-width: $golden_minor +em;
		border-top-style: solid;
		border-bottom-width: $golden_minor +em;
		border-bottom-style: solid;

		&.alignleft,
		&.alignright {
			clear: none;
			width: 47%;
			max-width: none;
			padding-left: 0;
			padding-right: 0;
			margin-left: 6%;
			margin-right: 6%;

			@include media( map_get( $breakpoint, 's' ) ) {
				width: percentage( $golden_minor );
			}

		}

		&.alignleft {
			margin-left: 0;
			text-align: right;
		}

		&.alignright {
			margin-right: 0;
			text-align: left;
		}

	}

	.wp-block-pullquote,
	blockquote.alignleft,
	blockquote.alignright {
		@extend %pullquote;
	}

	.wp-block-pullquote {

		&,
		&.alignleft,
		&.alignright {

			p {
				font-size: inherit;
			}

		}

		&.is-style-solid-color {

			blockquote {
				max-width: none;
				text-align: inherit;
			}

		}

	}

}
