/* FILE: starter/wp/blocks/_quote.scss */

@if ( index( $support__block, 'quote' ) ) {

	.wp-block-quote {

		&.is-style-large {

			p {
				line-height: inherit;
				font-size: $golden +rem;
				font-style: inherit;
			}

			cite {
				@extend %font_size_small;
				text-align: inherit;
			}

		}

	}

}
