/* FILE: main/headings/_display-size.scss */

%display_text_size {
	margin-top: $ratio +rem;
	margin-bottom: $ratio +rem;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

@each $i, $size in $display_text_size {

	.display-#{$i},
	.has-display-#{$i}-font-size {
		@extend %display_text_size;
		font-size: $size * ( $ratio_maj + $ratio_min / 2 / $i );
		line-height: 1 + $ratio_min * 3 / 8 + $ratio_min / 2 / $i;

		@include media( map_get( $breakpoint, 'l' ) ) {
			font-size: $size;
		}

		@at-root h1#{&}, h2#{&}, h3#{&} {
			@extend %font_logo;
		}

		&.h1, &.h2, &.h3 {
			@extend %font_logo;
		}

	}

}
