/* FILE: starter/media/_media.scss */

//
// Media
//





.entry-media {

	img {
		width: 100%;
	}

}

%video_container {
	position: relative;
	max-width: 100%;
	height: 0 !important;
	padding: 0 0 56.25%; /* 16:9 ratio only */
}

%video_object {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
