/* FILE: main/header/__intro.scss */

//
// Intro section
//





.intro {

	// Intro title and widgets container

		&-container {
			position: relative;
			margin: 0;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			z-index: 0;
		}



	// Intro media (image or video)

		&-media {

			&.has-header-video {
				position: relative;
				height: 33vh;
				overflow: hidden;

				@include media( map_get( $breakpoint, 'l' ) ) {
					height: 66vh;
				}

			}

			.paged & {
				display: none;
			}



			// Make sure the images are not too small on mobile screens

				@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
					overflow: hidden;

					.site & img {
						position: relative;
						width: auto;
						height: auto;
						max-width: none;
						max-height: 16em;
						max-height: 38vh;
						#{$left}: 50%; // {{RTL}}
						@include rtl_property( transform, translateX( -50% ), translateX( 50% ) ); // {{RTL}}
					}

				}

		}



	// Intro title container

		&-inner {
			@extend .clearfix;
			@extend %content_width;
			padding: ( $golden_major * $padding_vertical ) 0;

			@include media( map_get( $breakpoint, 'xl' ) ) {
				padding-top: $padding_vertical;
				padding-bottom: $padding_vertical;
			}

		}



	// Entry title in intro section

		&-title {
			line-height: 1 + $golden_minor / 2;
			font-weight: 700;
			margin: 0;

			a {
				display: inline-block; // To make pagination suffix float the same line when subtitle is displayed.
				color: inherit;
			}

			.author & span {
				@extend %font_weight_300;
			}

			&.has-page-summary {

				@include media( map_get( $breakpoint, 'xl' ) ) {
					float: $left; // {{RTL}}
					width: percentage( $page_content_width / 100 );
				}

			}

			&-separator {
				@extend %screen_reader_hiding;
			}

			&-tagline {
				display: block;
				font-size: $golden_major +em;
			}

		}

}



// Excerpt

	.page-summary {
		margin-top: $golden +em;
		max-width: 36em;

		.has-page-summary + & {

			@include media( map_get( $breakpoint, 'xl' ) ) {
				float: $right; // {{RTL}}
				width: percentage( ( 100 - $page_content_width - $page_content_gutter ) / 100 );
				margin: 0;
			}

		}

		p {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}



// WordPress media

	.wp-custom-header {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
		}

		.wp-custom-header-video-button {
			@extend %indent_text_for_icon_only;
			position: absolute;
			width: 2em;
			height: 2em;
			#{$right}: 1em;
			top: 50%;
			margin: -1em 0;
			line-height: 2;
			padding: 0;
			font-size: $golden_minor + 1em;
			background-color: #111;
			color: #fff;
			border: 1px solid;
			border-radius: 2px;
			overflow: hidden;
			box-shadow: none;
			opacity: .33;
			z-index: 10;

			@include haf() {
				opacity: .66;
			}

		}

			.wp-custom-header-video-play::before {
				content: '\f448';
			}

			.wp-custom-header-video-pause::before {
				content: '\f452';
			}

		.has-header-video & {
			@extend %video_container;
			position: absolute;
			width: 100%;
			top: 50%;
			padding-bottom: 75%; // 4:3 aspect ration max
			transform: translateY(-50%);

			iframe,
			video {
				@extend %video_object;
			}

		}

	}



// Hide default page header when intro section displayed

	.page-header {

		.site-main > & {

			.blog &,
			.archive &,
			.search-results & {
				@extend %screen_reader_hiding;
			}

		}

	}



// Special front page intro

	.intro-special {
		position: relative;
		padding: 12% 0;
		background-size: cover;
		background-position: 50% 50%;
		overflow: hidden;

		.wp-custom-header::before,
		.intro-media {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0; // No need for RTL here
			top: 0;
		}

		.wp-custom-header {
			height: 100%;

			&::before {
				content: '';
				z-index: 5;
			}

		}

		.intro {
			@extend %content_width;
			position: relative;
			z-index: 10;

			@include media( map_get( $breakpoint, 'xl' ) ) {
				font-size: 1em + $golden_minor / 2;
			}

			&-media {

				img {
					display: none;
				}

			}

			&-inner {
				width: auto;
				max-width: 36rem;
				padding: 0;
				margin: 0;
			}

			&-title,
			.page-summary {
				float: none;
				width: 100%;
			}

			&-title {
				font-size: pow( 1 + $golden_minor, 3 ) +em;

				@include media( map_get( $breakpoint, 'xl' ) ) {
					font-size: pow( 1 + $golden_minor, 4 ) +em;
				}

			}

				.entry-subtitle {
					font-weight: inherit;
					margin-top: 0;
				}

			.page-summary {
				margin-top: pow( $golden, 2 ) +em;
			}

		}

	}
