/* FILE: main/header/_header.scss */

.site-header-content,
.#{$special_color_class_prefix}header,
.#{$special_color_class_prefix}header > .fl-row-content-wrap,
.#{$special_color_class_prefix}header > .fl-col-content {
	background-color: map_get( $customize_options, 'color_header_background' );
	color: map_get( $customize_options, 'color_header_text' );
	border-color: rgba( map_get( $customize_options, 'color_header_text' ), 20 / 100 );
	background-color: var(--color_header_background);
	color: var(--color_header_text);
	border-color: var(--color_header_text--a20);

	h2, h3, h4,
	.h1, .h2, .h3, .h4 {
		color: map_get( $customize_options, 'color_header_headings' );
		color: var(--color_header_headings);
	}

}

.site-header {
	@extend %clearfix;
	display: flex;
	flex-direction: column;

	> div {
		flex: 0 1 auto;
	}

	&-content {
		padding-top: $golden +em;
		padding-bottom: $golden +em;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	&-inner {
		@extend %clearfix;
		@extend %layout_content_width;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;

		.header-layout-fullwidth & {
			@extend %layout_full_width;
		}

		> div,
		> nav {
			flex: 0 1 auto;
		}

	}

	a {

		&:not(.button) {
			color: inherit;
		}

	}

}
