/* FILE: main/custom-styles/__accent.scss */

//
// Accent colors (includes buttons)
//





// Helper selectors

	$accent_color_elements: (
		// Marker (have to use ID overrides for page builder, and default selector for editor stylesheet)
		'mark',
		'#page mark',
		'.highlight',
		'#page .highlight',
		// Pagination
		'.pagination .current',
		// Comments
		'.bypostauthor > .comment-body .comment-author::before',
		// Widgets
		'.widget_calendar tbody a',
		'.widget .tagcloud a:hover',
		'.widget .tagcloud a:focus',
		'.widget .tagcloud a:active'
	);



// Default accent elements

	a,
	.accent-color {
		@extend %accent_color;
	}

	#{$accent_color_elements},
	.#{$special_color_class_prefix}accent,
	.#{$special_color_class_prefix}accent > .fl-row-content-wrap,
	.#{$special_color_class_prefix}accent > .fl-col-content,
	.hover-color-accent.fl-col:hover .fl-col-content {
		@extend %accent_colors;
	}

	mark,
	.highlight {
		box-shadow: (  $golden_minor +em ) 0 0 map_get( $customize_options, 'color_accent' ),
		            ( -$golden_minor +em ) 0 0 map_get( $customize_options, 'color_accent' );
		box-shadow: (  $golden_minor +em ) 0 0 var(--color_accent),
		            ( -$golden_minor +em ) 0 0 var(--color_accent);
	}

	.pagination {

		a {

			@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
				background-color: map_get( $customize_options, 'color_accent' );
				color: map_get( $customize_options, 'color_accent_text' );
				background-color: var(--color_accent);
				color: var(--color_accent_text);
			}

		}

	}



// Buttons

	#{$elements_button},
	#{$elements_button_beaver_builder},
	.main-navigation-container .button > a {
		@extend %button_default_colors;
	}

	.menu-toggle {
		@extend %button_default_colors;
	}
