/* FILE: main/custom-styles/__footer.scss */

//
// Site footer colors
//





.site-footer,
.#{$special_color_class_prefix}footer,
.#{$special_color_class_prefix}footer > .fl-row-content-wrap,
.#{$special_color_class_prefix}footer > .fl-col-content {
	@extend %site_footer_colors;
}



// Footer background image

	.site-footer {

		&::before {
			background-image: map_get( $customize_options, 'footer_image' );
			background-position: map_get( $customize_options, 'footer_image_position' );
			background-size: map_get( $customize_options, 'footer_image_size' );
			background-repeat: map_get( $customize_options, 'footer_image_repeat' );
			background-attachment: map_get( $customize_options, 'footer_image_attachment' );
			opacity: map_get( $customize_options, 'footer_image_opacity' );

			background-image: var(--footer_image);
			background-position: var(--footer_image_position);
			background-size: var(--footer_image_size);
			background-repeat: var(--footer_image_repeat);
			background-attachment: var(--footer_image_attachment);
			opacity: var(--footer_image_opacity);
		}

		&:not(.is-customize-preview)::before {
			// @see  Reykjavik_Customize_Styles::get_css()
		}

		&.is-customize-preview::before {
			background-repeat: inherit; //*
			background-attachment: inherit; //*
		}

	}



// Footer accent colors are actually footer headings colors

	.site-footer {

		#{$accent_color_elements} {
			text-shadow: none; //*
			background-color: map_get( $customize_options, 'color_footer_headings' );
			color: map_get( $customize_options, 'color_footer_background' );
			background-color: var(--color_footer_headings);
			color: var(--color_footer_background);
		}

		.button,
		button,
		[type="button"],
		[type="reset"],
		[type="submit"] {
			text-shadow: none; //*

			@include haf() {
				background-color: map_get( $customize_options, 'color_footer_headings' );
				color: map_get( $customize_options, 'color_footer_background' );
				background-color: var(--color_footer_headings);
				color: var(--color_footer_background);
			}

		}

		mark,
		.highlight {
			box-shadow: none; //*
		}

	}
