/* FILE: main/custom-styles/__header.scss */

//
// Site header colors
//





// Default site header elements

	.site-header-content,
	.#{$special_color_class_prefix}header,
	.#{$special_color_class_prefix}header > .fl-row-content-wrap,
	.#{$special_color_class_prefix}header > .fl-col-content {
		@extend %site_header_colors;
	}
