/* FILE: main/custom-styles/__menu.scss */

//
// Site navigation colors
//





// Primary menu

	.main-navigation-container li ul {

		@include media( map_get( $breakpoint, 'l' ) ) {
			background-color: map_get( $customize_options, 'color_header_background' );
			color: map_get( $customize_options, 'color_header_text' );
			background-color: var(--color_header_background);
			color: var(--color_header_text);
		}

	}



// Mobile menu

	.main-navigation:not(.is-active) .menu-toggle:not(:hover):not(:focus):not(:active),
	.main-navigation-container {

		@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {
			background-color: map_get( $customize_options, 'color_header_background' );
			color: map_get( $customize_options, 'color_header_text' );
			border-color: rgba( map_get( $customize_options, 'color_header_text' ), 20 / 100 );
			background-color: var(--color_header_background);
			color: var(--color_header_text);
			border-color: var(--color_header_text--a20);
		}

	}
