/* FILE: main/custom-styles/__base.scss */

//
// Basic colors
//





// Body

	body {
		// Default body background.
		// @see  add_theme_support( 'custom-background', $args );
		background-color: #e3e3e4;
	}

	*,
	*::after,
	*::before {
		border-color: inherit; //*
	}



// Block editor color classes

	.site {
	// Need to use higher priority to override button hover colors.

		@each $option, $value in $customize_options {
			@if str-index( #{$option}, 'color_' ) {
				// Making the slug create `.has-{$theme-mod-slug}-mod-(background)-color` CSS classes.
				// @see  Reykjavik_Setup::get_color_palette()
				$selector: str_replace( '_', '-', $option ) + '-mod';

				.has-#{$selector}-color {
					color: var(--#{$option});
				}

				.has-#{$selector}-background-color {
					background-color: var(--#{$option});
				}
			}
		}

	}



// Headings

	#{$elements_headings},
	.post-navigation,
	.dropcap-text::first-letter ,
	.has-dropcap-text::first-letter {
		@extend %site_content_headings_color;
	}



// Forms

	::placeholder,
	:disabled::placeholder {
		color: inherit !important; //*
	}



// Semi-transparent elements

	button,
	input,
	select,
	textarea {
		background-color: transparent; //*
	}

	.gallery-caption {
		background-color: rgba( #000, .8 ); //*
		color: #fdfcfc; //*
	}



// Predefined colors

	@each $color in ( 'error', 'info', 'success', 'warning' ) {

		.color-#{$color} {
			background-color: map_get( $colors, '#{$color}_background' ); //*
			color: map_get( $colors, '#{$color}_text' ); //*

			.fl-builder-content &,
			.site .fl-builder-content &.button,
			.site .fl-builder-content &.button:hover {
				@extend .color-#{$color};
			}

		}

		.hover-color-#{$color}.fl-col:hover .fl-col-content {
			@extend .color-#{$color};
		}

		.#{$special_color_class_prefix}#{$color},
		.#{$special_color_class_prefix}#{$color} > .fl-row-content-wrap,
		.#{$special_color_class_prefix}#{$color} > .fl-col-content {
			background-color: map_get( $colors, '#{$color}_background' ); //*
			color: map_get( $colors, '#{$color}_text' ); //*
		}

	}



// Special color classes

	.site .fl-row[class*="#{$special_color_class_prefix}"],
	.site .fl-col[class*="#{$special_color_class_prefix}"] {
		background: none; //*
	}

	div[class*="#{$special_color_class_prefix}"] {

		a,
		h1, h2, h3, h4,
		.h1, .h2, .h3, .h4,
		.dropcap-text::first-letter,
		.has-dropcap-text::first-letter {
			color: inherit; //*
		}

	}
