/* FILE: main/custom-styles/__branding.scss */

//
// Max logo image dimensions
//





.site-title,
.custom-logo {
	color: map_get( $customize_options, 'color_header_headings' );
	color: var(--color_header_headings);
}

.custom-logo {

	&,
	.fl-builder-edit & {
		max-height: map_get( $customize_options, 'custom_logo_height' );
		max-height: var(--custom_logo_height);
	}

}
