/* FILE: main/custom-styles/__editor-typography.scss */

//
// Custom visual editor typography
//





// TinyMCE overrides

	.mce-content-body {
		line-height: $golden;



		// Heading tags and classes

			@each $selector, $settings in $setup_headings {

				#{$selector} {
					line-height: nth( $settings, 2 );
				}

			}



		// Display text size classes

			@each $i, $size in $display_text_size {

				.display-#{$i} {
					line-height: 1 + $golden_minor * 3 / 8 + $golden_minor / 2 / $i;
				}

			}

	}



// Typography

	html {
		font-size: 100%;
	}

	// Do not apply custom font size in editor!
	// @link  https://support.webmandesign.eu/forums/topic/wpbakery-text-block-scroll-problem-when-using-list-elements/
	// @media only screen and (min-width: 28em) {
	// 	html {
	// 		font-size: map_get( $customize_options, 'typography_size_html' );
	// 		font-size: var(--typography_size_html);
	// 	}
	// }

	.mce-content-body,
	.mce-content-body .font-body,
	.mce-content-body .has-root-font-family {
		font-family: #{ map_get( $customize_options, 'typography_fonts_text' ) };
		font-family: var(--typography_fonts_text);
	}

	.mce-content-body .font-headings,
	.mce-content-body .font-headings-primary,
	.mce-content-body .has-headings-font-family {
		font-family: #{ map_get( $customize_options, 'typography_fonts_headings' ) };
		font-family: var(--typography_fonts_headings);
	}

	.mce-content-body .font-logo,
	.mce-content-body .font-headings-secondary,
	.mce-content-body .has-site-title-font-family {
		font-family: #{ map_get( $customize_options, 'typography_fonts_logo' ) };
		font-family: var(--typography_fonts_logo);
	}

	.mce-content-body .font-inherit,
	.mce-content-body .has-inherited-font-family {
		font-family: inherit;
	}
