/* FILE: main/custom-styles/__typography-editor.scss */

//
// Custom visual editor typography
//





// TinyMCE overrides

	.mce-content-body {
		line-height: $golden;



		// Heading tags and classes

			@each $selector, $settings in $h_tags_setup {

				#{$selector} {
					line-height: nth( $settings, 2 );
				}

			}



		// Display text size classes

			@each $i, $size in $display_text_size {

				.display-#{$i} {
					line-height: 1 + $golden_minor * 3 / 8 + $golden_minor / 2 / $i;
				}

			}

	}



// Default fonts

	.mce-content-body,
	.mce-content-body .font-body {
		font-family: #{ map_get( $font_family, 'body' ) };
	}

	.mce-content-body .font-headings,
	.mce-content-body .font-headings-primary {
		font-family: #{ map_get( $font_family, 'headings' ) };
	}

	.mce-content-body .font-logo,
	.mce-content-body .font-headings-secondary {
		font-family: #{ map_get( $font_family, 'logo' ) };
	}

	.mce-content-body .font-inherit {
		font-family: inherit;
	}



//
// Do not remove this! It is conditional CSS comment!
//

/**if(typography_custom_fonts)

	.mce-content-body,
	.mce-content-body .font-body {
		font-family: [[typography_fonts_text]];
	}

	.mce-content-body .font-headings,
	.mce-content-body .font-headings-primary,
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		font-family: [[typography_fonts_headings]];
	}

	.mce-content-body .font-logo,
	.mce-content-body .font-headings-secondary,
	h1.display-1, h2.display-1, h3.display-1,
	.display-1.h1, .display-1.h2, .display-1.h3,
	h1.display-2, h2.display-2, h3.display-2,
	.display-2.h1, .display-2.h2, .display-2.h3,
	h1.display-3, h2.display-3, h3.display-3,
	.display-3.h1, .display-3.h2, .display-3.h3,
	h1.display-4, h2.display-4, h3.display-4,
	.display-4.h1, .display-4.h2, .display-4.h3 {
		font-family: [[typography_fonts_logo]];
	}

endif(typography_custom_fonts)**/
