/* FILE: main/custom-styles/__editor-outdented-layout.scss */

//
// Outdented page and content layout
//





// Heading basic styles

	%outdented_heading {
		line-height: $golden / ( $golden_minor / 4 + 1 );
		text-transform: uppercase;
		font-size: $golden_minor / 4 + 1em;
		letter-spacing: .075em;
	}



// Outdented content

	.outdent-content {
		// @extend %accent_border_color;
		position: relative;
		padding: 8px;
		margin-left: -10px;
		margin-right: -10px;
		border-width: 2px;
		border-style: dashed;

		&::before {
			@extend %site_content_colors;
			content: '\25C0\2002\2261\2002\25b6';
			position: absolute;
			left: 50%;
			bottom: 100%;
			padding: 0 ( $golden_minor +em );
			font-size: 12px;
			border-width: 2px;
			border-style: dashed;
			border-radius: 2em;
			transform: translateX(-50%) translateY(50%);
		}

	}



// Outdented page layout

	.page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) {

			> h2:not([class]) {
				@extend %outdented_heading;
			}

			> h2,
			> .outdent-heading {

				&:not(:first-child) {
					margin-top: power( 1 + $golden_minor, 4 ) +rem;

					@include responsive( map_get( $breakpoint, 'xl' ) ) {
						margin-top: 12%;
					}

				}

			}

			// Any HTML element with `.outdent-heading` class ONLY:

				[class="outdent-heading"] {
					@extend %outdented_heading;
				}

				h3[class="outdent-heading"] {
					font-size: 1em;
					font-weight: 400;
				}

			@include responsive( map_get( $breakpoint, 'xl' ) ) {
				padding-#{$left}: percentage( 1 - $page_content_width / 100 ) !important; // {{RTL}} // Yes, we have to force this one as WP native styles apply !important too.

				// H2 headings outdent

					> h2,
					> .outdent-heading {
						width: percentage( 1 / ( $page_content_width / 100 ) );
						height: $golden +em;
						padding-#{$right}: percentage( ( $page_content_width + $page_content_gutter ) / $page_content_width );
						margin-#{$left}: percentage( -1 / ( $page_content_width / 100 ) + 1 ); // {{RTL}}
						margin-bottom: -$golden +em;

						&.uppercase {
							letter-spacing: .075em;
						}

						+ h3 {
							margin-top: 0;
						}

					}

				// Outdented content

					.outdent-content {
						width: percentage( 1 / ( $page_content_width / 100 ) );
						margin-top: 12%;
						margin-bottom: 12%;
						margin-#{$left}: percentage( -1 / ( $page_content_width / 100 ) + 1 ); // {{RTL}}
						margin-#{$right}: 0; // {{RTL}}

						&:first-child {
							margin-top: 0;
						}

						&:last-child {
							margin-bottom: 0;
						}

					}

			}

	}
