/* FILE: main/custom-styles/__extenders.scss */

//
// All the predefined colors as extender styles
//





// Accent (includes buttons)

	%accent_colors {
		background-color: map_get( $customize_options, 'color_accent' );
		color: map_get( $customize_options, 'color_accent_text' );
		background-color: var(--color_accent);
		color: var(--color_accent_text);
	}

	%accent_background_color {
		background-color: map_get( $customize_options, 'color_accent' );
		background-color: var(--color_accent);
	}

	%accent_color {
		color: map_get( $customize_options, 'color_accent' );
		color: var(--color_accent);
	}

	%accent_text_color {
		color: map_get( $customize_options, 'color_accent_text' );
		color: var(--color_accent_text);
	}

	%accent_border_color {
		border-color: map_get( $customize_options, 'color_accent' );
		border-color: var(--color_accent);
	}



	// Buttons

		%button_default_colors {
			@extend %accent_colors;

			&:focus {
				outline: thin dashed map_get( $customize_options, 'color_accent' );
				outline: thin dashed var(--color_accent);
			}

		}



// Site header

	%site_header_colors {
		background-color: map_get( $customize_options, 'color_header_background' );
		color: map_get( $customize_options, 'color_header_text' );
		border-color: rgba( map_get( $customize_options, 'color_header_text' ), 20 / 100 );
		background-color: var(--color_header_background);
		color: var(--color_header_text);
		border-color: var(--color_header_text--a20);

		h2, h3, h4,
		.h1, .h2, .h3, .h4 {
			color: map_get( $customize_options, 'color_header_headings' );
			color: var(--color_header_headings);
		}

	}



// Intro

	%intro_colors {
		background-color: map_get( $customize_options, 'color_intro_background' );
		color: map_get( $customize_options, 'color_intro_text' );
		border-color: rgba( map_get( $customize_options, 'color_intro_text' ), 20 / 100 );
		background-color: var(--color_intro_background);
		color: var(--color_intro_text);
		border-color: var(--color_intro_text--a20);

		h1, h2, h3, h4,
		.h1, .h2, .h3, .h4,
		a:not(.button),
		.accent-color {
			color: map_get( $customize_options, 'color_intro_headings' );
			color: var(--color_intro_headings);
		}

	}



// Site content

	%site_content_colors {
		background-color: map_get( $customize_options, 'color_content_background' );
		color: map_get( $customize_options, 'color_content_text' );
		border-color: rgba( map_get( $customize_options, 'color_content_text' ), 20 / 100 );
		background-color: var(--color_content_background);
		color: var(--color_content_text);
		border-color: var(--color_content_text--a20);
	}

	%site_content_headings_color {
		color: map_get( $customize_options, 'color_content_headings' );
		color: var(--color_content_headings);
	}



// Site footer

	%site_footer_colors {
		background-color: map_get( $customize_options, 'color_footer_background' );
		color: map_get( $customize_options, 'color_footer_text' );
		border-color: rgba( map_get( $customize_options, 'color_footer_text' ), 20 / 100 );
		background-color: var(--color_footer_background);
		color: var(--color_footer_text);
		border-color: var(--color_footer_text--a20);

		h2, h3, h4,
		.h1, .h2, .h3, .h4,
		a,
		.accent-color {
			color: map_get( $customize_options, 'color_footer_headings' );
			color: var(--color_footer_headings);
		}

	}



// Widgets and sidebars

	// Sidebar: Intro widgets

		%sidebar_intro_widgets_colors {
			background-color: map_get( $customize_options, 'color_intro_widgets_background' );
			color: map_get( $customize_options, 'color_intro_widgets_text' );
			border-color: rgba( map_get( $customize_options, 'color_intro_widgets_text' ), 20 / 100 );
			background-color: var(--color_intro_widgets_background);
			color: var(--color_intro_widgets_text);
			border-color: var(--color_intro_widgets_text--a20);

			h2, h3, h4,
			.h1, .h2, .h3, .h4,
			a,
			.accent-color {
				color: map_get( $customize_options, 'color_intro_widgets_headings' );
				color: var(--color_intro_widgets_headings);
			}

		}
