/* FILE: main/custom-styles/__footer.scss */

//
// Site footer colors
//





.site-footer,
.#{$special_color_class_prefix}footer,
.#{$special_color_class_prefix}footer > .fl-row-content-wrap,
.#{$special_color_class_prefix}footer > .fl-col-content {
	@extend %site_footer_colors;
}



// Footer background image

	.site-footer {

		&::before {
			background-image: url('../images/footer/pixabay-colorado-1436681.png'); //*
			/*//
			background-image: url('[[get_template_directory_uri]]/assets/images/footer/pixabay-colorado-1436681.png');
			//*/
			/*[*/
			background-position: 50% 50%;
			background-size: cover;
			opacity: .15;
			/*]*/
			/*//
			background-image: [[footer_image]];
			background-position: [[footer_image_position]];
			background-size: [[footer_image_size]];
			opacity: [[footer_image_opacity]];
			//*/
			/**if!(footer_image_repeat)
			background-repeat: no-repeat;
			endif!(footer_image_repeat)**/
			/**if(footer_image_attachment)
			background-attachment: fixed;
			endif(footer_image_attachment)**/
		}

		&:not(.is-customize-preview)::before {
			/**if!(footer_image)
			display: none;
			endif!(footer_image)**/
		}

		&.is-customize-preview::before {
			background-repeat: inherit; //*
			background-attachment: inherit; //*
		}

	}



// Footer accent colors are actually footer headings colors

	.site-footer {

		#{$accent_color_elements} {
			text-shadow: none; //*
			/*[*/
			background-color: map_get( $colors, 'footer_headings' );
			color: map_get( $colors, 'footer_background' );
			/*]*/
			/*//
			background-color: [[color_footer_headings]];
			color: [[color_footer_background]];
			//*/
		}

		.button,
		button,
		[type="button"],
		[type="reset"],
		[type="submit"] {
			text-shadow: none; //*

			@include haf() {
				/*[*/
				background-color: map_get( $colors, 'footer_headings' );
				color: map_get( $colors, 'footer_background' );
				/*]*/
				/*//
				background-color: [[color_footer_headings]];
				color: [[color_footer_background]];
				//*/
			}

		}

		mark,
		.highlight {
			box-shadow: none; //*
		}

	}
