/* FILE: main/custom-styles/__menu.scss */

//
// Site navigation colors
//





// Primary menu

	.main-navigation-container li ul {

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			/*[*/
			background-color: map_get( $colors, 'header_background' );
			color: map_get( $colors, 'header_text' );
			/*]*/
			/*//
			background-color: [[color_header_background]];
			color: [[color_header_text]];
			//*/
		}

	}



// Mobile menu

	.main-navigation:not(.is-active) .menu-toggle:not(:hover):not(:focus):not(:active),
	.main-navigation-container {

		@include responsive( map_get( $breakpoint, 'l' ), 'max-width' ) {
			/*[*/
			background-color: map_get( $colors, 'header_background' );
			color: map_get( $colors, 'header_text' );
			border-color: rgba( map_get( $colors, 'header_text' ), map_get( $border_opacity_from_text, 'header' ) );
			/*]*/
			/*//
			background-color: [[color_header_background]];
			color: [[color_header_text]];
			border-color: [[color_header_text(#{ map_get( $border_opacity_from_text, 'header' ) * 100 })]];
			//*/
		}

	}
