/* FILE: main/custom-styles/__typography.scss */

//
// Custom typography
//
// Do not remove this! It is conditional CSS comment!
//





/**if(typography_custom_fonts)

	html,
	.site .font-body,
	.site .has-root-font-family {
		font-family: [[typography_fonts_text]];
	}

	.site .font-headings,
	.site .font-headings-primary,
	.site .has-headings-font-family,
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		font-family: [[typography_fonts_headings]];
	}

	.site .font-logo,
	.site .font-headings-secondary,
	.site .has-site-title-font-family,
	h1[class*="display-"],
	h2[class*="display-"],
	h3[class*="display-"],
	.h1[class*="display-"],
	.h2[class*="display-"],
	.h3[class*="display-"],
	.site-title {
		font-family: [[typography_fonts_logo]];
	}

endif(typography_custom_fonts)**/
