/* FILE: main/menu/_menu-primary-sub-menu.scss */

//
// Sub-menus
//





.main-navigation-container {

	li ul {

		@include media( map_get( $breakpoint, 'l' ) ) {
			position: absolute;
			min-width: 100%;
			min-width: calc( 100% + #{ $golden * 4rem } );
			#{$left}: 0; // {{RTL}}
			top: 100%;
			padding: $golden +rem;
			margin: 0 ( -$golden - $golden_minor +rem );
			border-top-width: 1px;
			border-top-style: solid;
			box-shadow: 0 ( $golden_minor +em ) 1em rgba( #000, .25 );
			opacity: 0;
			z-index: 9;
			pointer-events: none;
			transform: scaleY(0);
			transform-origin: 50% 0;
		}

		@include media( map_get( $breakpoint, 'xl' ) ) {
			transition: transform ( $large_animation_speed +s ),
			            opacity ( $large_animation_speed +s );
		}

		a {
			@extend %line_height_golden_minor;
			padding-#{$left}: 1rem;
		}

	}

	.reverse-expand ul {

		@include media( map_get( $breakpoint, 'l' ) ) {
			#{$left}: auto; // {{RTL}}
			#{$right}: 0; // {{RTL}}
		}

	}

	li li {

		@include media( map_get( $breakpoint, 'l' ) ) {
			float: none;
			display: block;

			> a {
				display: block;
				min-width: 10em;
			}

		}

	}

	@include media(
		( map_get( $breakpoint, 'l' ), 'min-width' ),
		( map_get( $breakpoint, 'xl' ), 'max-width' )
	) {

		li .sub-menu {
			margin-top: 0;
		}

	}

	@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {

		li li a::before {
			content: '';
			display: inline-block;
			width: .5em;
			height: .5em;
			margin-#{$right}: .5em;
			margin-top: .25em;
			border-#{$left}: 1px solid;
			border-bottom: 1px solid;
			vertical-align: top;
			opacity: .5;
		}

	}



	// Is active (visible)

		li {

			.no-js &:hover,
			&.focus {

				> ul {

					@include media( map_get( $breakpoint, 'l' ) ) {
						pointer-events: auto;
						transform: scaleY(1);
						opacity: 1;
					}

				}

			}

		}

}
