/* FILE: main/menu/_menu-secondary.scss */

//
// Secondary menu
//





.secondary-navigation {
	margin-#{$right}: $golden +em; // {{RTL}}
	margin-top: 1em;
	margin-bottom: 1em;

	@include media( map_get( $breakpoint, 'xl' ) ) {
		margin-#{$left}: auto; // {{RTL}}
		margin-#{$right}: 0; // {{RTL}}
	}



	// Menu wrapper

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}



	// List items

		li {
			display: inline-block;
			padding: 0;
			margin: 0;

			&:not(:first-child) {
				margin-#{$left}: $golden_major +rem; // {{RTL}}
			}

		}



	// Links

		a {
			display: block;
			position: relative;
			max-width: 100%; // Fix for FF and IE
			padding: $golden_minor +rem;
			text-decoration: none;
			border: 0 solid transparent;
			border-top-width: 2px;
			transition: border-color ( $small_animation_speed +s );

			@include haf() {
				border-color: currentColor;
			}

		}

		.menu {

			&:hover .current-menu-item > a,
			&:hover .current-menu-ancestor > a {
				border-color: inherit;
			}

			.current-menu-item > a,
			.current-menu-item > a:hover {
				border-color: currentColor;
			}

		}



	// Current menu item

		.current-menu-item > a {
			border-color: currentColor;
		}



	// Icon in menu item (has to be included with HTML)

		.icon {
			margin-#{$right}: $golden_minor +em; // {{RTL}}
		}

}
