/* FILE: main/menu/_menu-primary-mobile.scss */

//
// Primary menu mobile styles
//





// Mobile menu

	.has-navigation-mobile .main-navigation-container {

		@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {
			visibility: hidden;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			line-height: 1em + $golden_minor;
			overflow-y: auto;
			z-index: 995;
			opacity: 0;
			transform: scaleY(0);
			transform-origin: 50% 0;
			transition: visibility 0s linear ( $small_animation_speed +s ),
			            opacity ( $small_animation_speed +s ),
			            transform ( $small_animation_speed +s );

			@include in( '^.is-active' ) {
				visibility: visible;
				opacity: 1;
				transform: scaleY(1);
				transition: visibility 0s linear 0s,
				            opacity ( $small_animation_speed +s ),
				            transform ( $small_animation_speed +s );
			}

			.menu {
				position: relative;
				height: 100%;

				> ul {
					max-width: map_get( $breakpoint, 's' ) +px; // No need to stretch the menu, keep it narrow and centered
					padding: ( pow( $golden, 3 ) +rem ) ( $golden +rem ) ( pow( $golden, 3 ) + $golden +rem );
					margin-left: auto;
					margin-right: auto;

					> li:nth-last-child(2) {
						// The last child is actually `.menu-toggle-skip-link-container` (see below)
						border-bottom-width: 1px;
						border-bottom-style: solid;
					}

				}

			}

			li {
				border-top-width: 1px;
				border-top-style: solid;
			}

		}

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			transform-origin: 50% 100%;

			.menu > ul {
				// Big top padding for easier accessing the first menu item with thumb finger on mobile devices
				padding-top: 38vh;
			}

			.mobile-search-form + .menu > ul {
				padding-top: 26vh;
			}

		}

	}



	body:not(.has-navigation-mobile) {

		@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {

			.main-navigation-container {

				.menu {
					margin-top: 0;
				}

				li {
					display: inline-block;
					padding: 0;
					margin: 0;
					margin-#{$right}: $golden_major +rem; // {{RTL}}
				}

				a {
					border-#{$left}-width: 0; // {{RTL}}
					border-top-width: 2px;
				}

			}

			.site-header-inner > nav + nav {
				margin-top: 0;
			}

		}

	}



	// Mobile menu search form

		.mobile-search-form {
			@extend %font_size_1rem;
			@extend %line_height_golden;
			max-width: map_get( $breakpoint, 's' ) +px; // Match the mobile menu width
			padding: 0 ( $golden +rem );
			margin: ( pow( $golden, 3 ) +em ) auto 0;

			@include media( map_get( $breakpoint, 'l' ) ) {
				display: none;
			}

		}



// Mobile menu toggle button

	.has-navigation-mobile .site-footer > div:last-child {
	// Make space in site container for the menu toggle button not to cover anything.

		@include media(
			( map_get( $breakpoint, 'm' ), 'max-width' ),
			( map_get( $breakpoint, 's' ), 'min-height' )
		) {
			margin-bottom: $mobile_menu_toggle_height +rem;
		}

	}

	.menu-toggle {

		// Small screens

			@at-root {
				@keyframes comeInFromBottom {

					0% {
						transform: translateY(100%);
					}

					33% {
						transform: translateY(100%);
					}

					100% {
						transform: translateY(0);
					}

				}
			}

			@include media(
				( map_get( $breakpoint, 'm' ), 'max-width' ),
				( map_get( $breakpoint, 's' ), 'min-height' )
			) {
				position: fixed;
				width: 100%;
				height: $mobile_menu_toggle_height + 1rem;
				left: 0;
				bottom: -1rem;
				padding: 0 ( $golden +em ) ( $golden_major +em );
				margin: 0;
				line-height: 1 + $golden_minor;
				text-align: center;
				font-size: 1em;
				font-weight: 700;
				border: 0;
				z-index: 999;
				box-shadow: 0 -2px ( $golden +rem ) rgba( #000, .2 );
				opacity: 1;
				animation: comeInFromBottom ( $large_animation_speed * 2s );
			}

			@include haf() {
				opacity: 1;
			}



		// Medium screens

			@media
				( min-width: #{ map_get( $breakpoint, 'm' ) +px } ) and ( max-width: #{ ( map_get( $breakpoint, 'l' ) - 1 ) +px } ),
				( max-height: #{ ( map_get( $breakpoint, 's' ) - 1 ) +px } )
			{
				margin-#{$right}: $golden +rem; // {{RTL}}

				.is-active & {
					display: inline-block;
					position: fixed;
					width: 3rem;
					#{$right}: 0; // {{RTL}}
					top: 0;
					padding: 0;
					margin-top: $golden +rem;
					line-height: 3rem;
					text-align: $left; // {{RTL}}
					text-indent: -999em;
					border-width: 0;
					z-index: 999;

					&::before {
						position: absolute;
						width: 100%;
						#{$left}: 0; // {{RTL}}
						top: 0;
						text-align: center;
						text-indent: 0;
					}

					.admin-bar & {
						top: 46px;
					}

				}

			}



		// Large screens

			@include media( map_get( $breakpoint, 'l' ) ) {
				display: none;
			}



		// Icon

			&::before {
				@extend %genericon;
				content: '\f419';
				margin-#{$right}: $golden_major +em; // {{RTL}}

				.is-active & {
					content: '\f406';
				}

			}

	}



	// Skip back to mobile menu toggle button

		.menu-toggle-skip-link-container {
			@extend %screen_reader_hiding;

			@include media( map_get( $breakpoint, 'l' ) ) {
				display: none;
			}

		}
