/* FILE: main/menu/__menu-social.scss */

//
// Social links menu
//





.social-links {
	@extend %font_size_golden_minor;

	.social-links-items {
		margin: 0;
		list-style: none;

		.sidebar &,
		.fl-widget & {
			border-width: 0;
		}

		li {
			border-width: 0;
		}

	}

	li {
		display: inline-block;

		.sidebar &,
		.fl-widget & {
			margin-#{$right}: $golden_minor / 2 +em; // {{RTL}}
		}

		.text-right & {
			margin-#{$left}: $golden_minor / 2 +em; // {{RTL}}
			margin-#{$right}: 0; // {{RTL}}
		}

	}

	a {
		display: block;
		margin: 1px; // For focus outline to be visible in whole.
		text-decoration: none;
		color: inherit;

		@include media() {
			padding-left: $golden_minor / 2 +em;
			padding-right: $golden_minor / 2 +em;
		}

		&:hover {
			text-decoration: none;
		}



		// Back to top link

			&.back-to-top {

				&::before {
					@extend %genericon;
					content: '\f435';
					display: inline-block;
					padding: 0 ( $golden_minor +em );
					vertical-align: top;
				}

			}

	}

}



// Imports

	@import '_menu-social-widget';

	@import '_menu-social-header';
