/* FILE: main/menu/_menu-primary.scss */

//
// Primary menu
//





.main-navigation {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;

	@include media(
		( map_get( $breakpoint, 'm' ), 'min-width' ),
		( map_get( $breakpoint, 'l' ), 'max-width' )
	) {
		float: $right; // {{RTL}}
	}

	@include media( map_get( $breakpoint, 'l' ) ) {
		float: $left; // {{RTL}}
		margin-#{$right}: $golden +em;
	}

	@include media( ( map_get( $breakpoint, 's' ), 'max-height' ) ) {
		float: $right; // {{RTL}}
	}



	&-container {

		// Menu wrapper

			.menu {
				margin-top: $golden +rem;

				@include media( map_get( $breakpoint, 'm' ) ) {
					margin-top: 0;
				}

			}



		// Lists

			ul {
				padding: 0;
				margin: 0;
				list-style: none;
			}



		// List items

			li {
				position: relative;
				padding: 0;
				margin: 0;

				@include media( map_get( $breakpoint, 'l' ) ) {
					float: $left; // {{RTL}}
					white-space: nowrap;
				}

			}



		// Links

			a {
				display: block;
				position: relative; // Required for expander positioning
				max-width: 100%; // Fix for FF and IE
				padding: ( $golden_major +rem ) ( $golden_minor +rem );
				text-decoration: none;
				border: 0 solid transparent;
				border-#{$left}-width: 2px; // {{RTL}}
				transition: border-color ( $small_animation_speed +s );

				@include haf() {
					border-color: currentColor;
				}

			}

			.hide,
			.hide-link {

				> a {
					@extend %screen_reader_hiding;

					&:focus {
						@extend %screen_reader_hiding_disable;
					}

				}

			}

			.menu {

				@include media( map_get( $breakpoint, 'l' ) ) {

					&:hover .current-menu-item > a,
					&:hover .current-menu-ancestor > a {
						border-color: inherit;
					}

				}

				.current-menu-item > a,
				.current-menu-item > a:hover {
					border-color: currentColor;
				}

			}



			// Current menu item

				.current-menu-item > a {
					position: relative;
					border-color: currentColor;
					z-index: 10;
				}

				@include media( map_get( $breakpoint, 'l' ) ) {

					.focus,
					.current-menu-ancestor {

						> a {
							position: relative;
							border-color: currentColor;
							z-index: 10;
						}

					}

				}



		// Icon in menu item (has to be included with HTML)

			.icon {
				margin-#{$right}: $golden_minor +em; // {{RTL}}
			}

	}

}



// Imports

	@import '_menu-primary-mobile';

	@import '_menu-primary-top-level';

	@import '_menu-primary-sub-menu';

	@import '_menu-primary-sub-sub-menu';

	@import '_menu-primary-expander';

	@import '_menu-primary-description';

	@import '_menu-primary-mega';
