/* FILE: main/menu/_menu-primary-expander.scss */

//
// Sub-menu expander
//





.expander {

	.main-navigation-container & {
		// Do not display in mobile view
		display: none;
	}

	@include media( map_get( $breakpoint, 'l' ) ) {

		.main-navigation-container & {
			display: inline-block;
			position: absolute;
			width: 16px;
			height: 16px;
			#{$right}: $golden_minor +em; // {{RTL}}
			top: 50%;
			border-color: currentColor;
			transform: translateY(-50%);



			// Using pseudo elements to create "+" to prevent issues with line-height

				&::after,
				&::before {
					content: '';
					position: absolute;
					#{$left}: 50%; // {{RTL}}
					top: 50%;
					border-width: 1px;
					border-style: solid;
				}

				&::before {
					width: 8px;
					height: 2px;
					margin: -1px -4px;
				}

				&::after {
					width: 2px;
					height: 8px;
					margin: -4px -1px;
				}

		}



		// Indicate expanded state

			.no-js .main-navigation-container li:hover > a &,
			.main-navigation-container li.focus > a & {

				&::after {
					visibility: hidden;
				}

			}

	}

}



// Make space for expander

	.main-navigation-container .menu-item-has-children > a,
	.main-navigation-container .menu > ul > .menu-item-has-children > a {

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-#{$right}: calc( 16px + #{ $golden_minor * 2em } ); // {{RTL}}
		}

	}
