/* FILE: main/menu/_menu-primary-top-level.scss */

.menu-primary {

	// Top level menu items.
	> li {

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			padding-top: $ratio_min +rem;
			padding-bottom: $ratio_min +rem;
			margin-#{$left}: $ratio_maj +rem; // {{RTL}}

			> a {
				border-#{$left}-width: 0; // {{RTL}}
				border-top-width: 2px;
			}

		}

	}

}
