/* FILE: main/menu/_menu-primary-mega.scss */

//
// Megamenu.
//
// Class of `.megamenu` is applied on the primary menu item (on a `<li>` HTML tag).
//

@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {

	.main-navigation-container .megamenu {

		// Columns container.
		> .sub-menu {

			// Column
			> li {
				flex: 0 1 14em;
				padding: 0;
				border-width: 0;
				vertical-align: top;

				+ li {
					margin-#{$left}: _pow( $golden, 2 ) +rem; // {{RTL}}
				}

				a {
					min-width: 0;
				}

				// Label
				> a {
					margin-bottom: $golden +em;
					font-size: 1em - $golden_minor / 4;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 1px;
					border-width: 0;
					border-radius: 0;

					&::after // Inaccessible menu fallback indicating submenu.
					{
						display: none;
					}

				}

				> .button-toggle-sub-menu {
					display: none;
				}

				// Content (sub-sub-menu)
				> .sub-menu {
					display: block;
					position: relative;
					min-width: 100%;
					#{$left}: 0; // {{RTL}}
					top: 0;
					padding: 0;
					margin: 1em 0 0;
					background: none;
					border-width: 0;
					box-shadow: none;

					> li > a {
						padding-#{$right}: 1rem;
					}

					// Sub-sub-sub-menu
					.sub-menu {
						box-shadow: 0 ( $golden_minor +em ) 1em rgba( #000, .25 );
					}

				}

			}

		}

		&:hover > .sub-menu,
		.no-js &:focus-within > .sub-menu {
			display: flex;

			.sub-menu {
				animation: none;
			}

		}

		.menu-item-has-children {
			display: block;

			.menu-item-has-children {
				display: flex;
			}

		}

		// Make sure the column border color is consistent
		& > ul > li > a,
		&:hover > ul > .current-menu-item > a,
		&:hover > ul > .current-menu-ancestor > a {
			border-color: currentColor;
		}

	}

	// A11yMenu JS accessible menu.
	.toggle-sub-menus {

		.megamenu.has-expanded-sub-menu > .sub-menu {
			display: flex;
		}

	}

}

.main-navigation .disable-link > a {
	pointer-events: none;
	cursor: text;
}
