/* FILE: main/menu/_menu-social-widget.scss */

.social-links {

	a {

		.widget_nav_menu & {
			text-align: center;

			.sidebar &,
			.fl-widget & {
				@extend %font_size_larger;
				padding: 0 ( $ratio_min / 2 +em );
			}

			&::after {
				display: none;
			}

		}

	}

}
