/* FILE: main/menu/_menu.scss */

//
// Navigational menus styles
//





// Expanders

	%menu_item_description {
		@extend %font_size_small;
		@extend %font_style_italic;
		display: block;
		max-width: 20em;
		margin-top: $golden_minor +em;
		white-space: normal;
		opacity: .8;
	}



// Imports

	@import '_menu-primary';

	@import '_menu-secondary';

	@import '_menu-social';
