/* FILE: main/menu/_menu-primary-mobile.scss */

.main-navigation:not(.toggled) .menu-toggle:not(:hover):not(:focus):not(:active),
.main-navigation-container {

	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
		background-color: map_get( $customize_options, 'color_header_background' );
		color: map_get( $customize_options, 'color_header_text' );
		border-color: rgba( map_get( $customize_options, 'color_header_text' ), 20 / 100 );
		background-color: var(--color_header_background);
		color: var(--color_header_text);
		border-color: var(--color_header_border);
	}

}

.has-navigation-mobile .main-navigation-container {

	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
		visibility: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		line-height: 1em + $ratio_min;
		overflow-y: auto;
		z-index: 995;
		opacity: 0;
		transform: scaleY(0);
		transform-origin: 50% 0;
		transition:
			visibility 0s linear ( $small_animation_speed +s ),
			opacity ( $small_animation_speed +s ),
			transform ( $small_animation_speed +s );

		@include in( '^.toggled' ) {
			visibility: visible;
			opacity: 1;
			transform: scaleY(1);
			transition:
				visibility 0s linear 0s,
				opacity ( $small_animation_speed +s ),
				transform ( $small_animation_speed +s );
		}

		.menu {
			position: relative;

			> ul {
				max-width: map_get( $breakpoint, 's' ) +px; // No need to stretch the menu, keep it narrow and centered
				padding: ( _pow( $ratio, 3 ) +rem ) ( $ratio +rem ) ( _pow( $ratio, 3 ) + $ratio +rem );
				margin-left: auto;
				margin-right: auto;

				> li:nth-last-child(2) {
					// The last child is actually `.menu-toggle-skip-link-container` (see below)
					border-bottom-width: 1px;
					border-bottom-style: solid;
				}

			}

		}

		.sub-menu {
			position: relative;
			width: 100%;
			min-width: 0;
			#{$left}: auto;
			top: auto;
			padding: 0;
			margin: 0;
			background: transparent;
			box-shadow: none;
			border-width: 0;
			border-radius: 0;

			.sub-menu {
				#{$left}: auto;
				top: auto;
				padding-#{$left}: 1em;
			}

		}

		li {
			flex-wrap: wrap;
			padding-top: .5rem;
			padding-bottom: .5rem;
			border-top-width: 1px;
			border-top-style: solid;
		}

		.megamenu > ul > .hide,
		.megamenu > ul > .hide-link {
			padding-top: 0;
			padding-bottom: 0;
			border-width: 0;

			.button-toggle-sub-menu {
				display: none;
			}

			> .sub-menu {
				display: block;
				margin-top: 0;
			}

		}

	}

	@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
		transform-origin: 50% 100%;

		.menu > ul {
			// Big top padding for easier accessing the first menu item with thumb finger on mobile devices
			padding-top: 38vh;
		}

		.mobile-search-form + .menu > ul {
			padding-top: ( _pow( $ratio, 3 ) +em );
		}

	}

}

body:not(.has-navigation-mobile) {
	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {

		.main-navigation-container {

			.menu {
				margin-top: 0;
			}

			li {
				display: inline-block;
				padding: 0;
				margin: 0;
				margin-#{$right}: $ratio_maj +rem; // {{RTL}}
			}

			a {
				border-#{$left}-width: 0; // {{RTL}}
				border-top-width: 2px;
			}

		}

		.site-header-inner > nav + nav {
			margin-top: 0;
		}

	}
}

.mobile-search-form {
	@extend %font_size_1rem;
	@extend %line_height_golden;
	max-width: map_get( $breakpoint, 's' ) +px; // Match the mobile menu width
	padding: 0 ( $ratio +rem );
	margin: 26vh auto 0;

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		display: none;
	}

}

// Mobile menu toggle button

	.has-navigation-mobile .site-footer > div:last-child {
	// Make space in site container for the menu toggle button not to cover anything.

		@include media(
			( map_get( $breakpoint, 'm' ), 'max-width' ),
			( map_get( $breakpoint, 's' ), 'min-height' )
		) {
			margin-bottom: $mobile_menu_toggle_height +rem;
		}

	}

	.menu-toggle {
		@extend %colors_button_default;

		// Small screens

			@at-root {
				@keyframes comeInFromBottom {

					0% {
						transform: translateY(100%);
					}

					33% {
						transform: translateY(100%);
					}

					100% {
						transform: translateY(0);
					}

				}
			}

			@include media(
				( map_get( $breakpoint, 'm' ), 'max-width' ),
				( map_get( $breakpoint, 's' ), 'min-height' )
			) {
				position: fixed;
				width: 100%;
				height: $mobile_menu_toggle_height + 1rem;
				left: 0;
				bottom: -1rem;
				padding: 0 ( $ratio +em ) ( $ratio_maj +em );
				margin: 0;
				line-height: 1 + $ratio_min;
				text-align: center;
				font-size: 1em;
				font-weight: 700;
				border: 0;
				z-index: 999;
				box-shadow: 0 -2px ( $ratio +rem ) rgba( #000, .2 );
				opacity: 1;
				animation: comeInFromBottom ( $large_animation_speed * 2s );
			}

			@include haf() {
				opacity: 1;
			}

		// Medium screens

			@media
				( min-width: #{ map_get( $breakpoint, 'm' ) +px } ) and ( max-width: #{ ( map_get( $breakpoint, $mobile_menu_breakpoint ) - 1 ) +px } ),
				( max-height: #{ ( map_get( $breakpoint, 's' ) - 1 ) +px } )
			{
				margin-#{$right}: $ratio +rem; // {{RTL}}

				.toggled & {
					display: inline-block;
					position: fixed;
					width: 3rem;
					#{$right}: 0; // {{RTL}}
					top: 0;
					padding: 0;
					margin-top: $ratio +rem;
					line-height: 3rem;
					text-align: $left; // {{RTL}}
					text-indent: -999em;
					border-width: 0;
					z-index: 999;

					&::before {
						position: absolute;
						width: 100%;
						#{$left}: 0; // {{RTL}}
						top: 0;
						text-align: center;
						text-indent: 0;
					}

					.admin-bar & {
						top: 46px;
						top: var(--wp-admin--admin-bar--height);
					}

				}

			}

		// Large screens

			@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
				display: none;
			}

		// Icon

			&::before {
				@extend %genericon;
				content: '\f419';
				margin-#{$right}: $ratio_maj +em; // {{RTL}}

				.toggled & {
					content: '\f406';
				}

			}

	}

// Accessibility helper: last accessible focusable element.
.menu-toggle-skip-link {
	font-size: 16px !important;
	font-weight: 400 !important;

	&:not(:focus) {
		@extend %screen_reader--hide;
	}

	&-container {
		border-width: 0 !important;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			display: none !important;
		}

	}

}
