/* FILE: docs.scss */
/* FILE: _bootstrap-base.scss */
body { padding-top: 50px; }

.sub-header { padding-bottom: 10px; border-bottom: 1px solid #eee; }

.navbar-fixed-top { border: 0; }

.sidebar { display: none; }

@media (min-width: 768px) { .sidebar { position: fixed; top: 51px; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; background-color: #f5f5f5; border-right: 1px solid #eee; } }

.nav-sidebar { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; }

.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px; }

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus { color: #fff; background-color: #428bca; }

.main { padding: 20px; }

@media (min-width: 768px) { .main { padding-right: 40px; padding-left: 40px; } }

.main .page-header { margin-top: 0; }

.placeholder { margin-bottom: 20px; }

.placeholder img { display: inline-block; border-radius: 50%; }

.placeholders { margin-bottom: 30px; text-align: center; }

.placeholders h4 { margin-bottom: 0; }

/* FILE: _custom.scss */
/* FILE: __base.scss */
html { font-size: 100%; }

body { line-height: 1.62; font-family: 'Fira Sans', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif; font-size: 16px; color: #6f6e6e; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 400; color: #242323; }

h5, h6 { font-size: 1em; font-weight: 700; }

a:not(.btn) { text-decoration: underline; }

a:hover { text-decoration: none; }

p + ul, p + ol { margin-top: 1em; }

dl { padding: 1.62em; margin: 1.62em 0 0; border: 2px solid #e4e3e3; border-radius: .19em; }

dt { margin: .62em 0; font-weight: 400; overflow: hidden; }

dt code { font-size: 1.19em; }

dd + dt { margin-top: 1.62em; }

dd { margin-left: 2.62em; }

code { white-space: nowrap; }

img { max-width: 100%; }

figure { padding: 1em; margin: .62em 0 1.62em; text-align: center; background: #fff; border: 2px solid #e4e3e3; border-radius: .19em; }

figure img { border: 1px solid #e4e3e3; }

figcaption { padding: 0 6%; margin-top: 1em; font-size: .81em; text-transform: uppercase; }

/* FILE: __classes.scss */
.font-weight-400 { font-weight: 400; }

.uppercase { text-transform: uppercase; }

.indented { margin-left: 4%; }

.mt0, .alert p.mt0, .main-content h3.mt0 { margin-top: 0 !important; }

.mt, .alert p.mt, .main-content h3.mt { margin-top: 3.62em; }

.mt-s, .alert p.mt-s, .main-content h3.mt-s { margin-top: 1.62em; }

.mt-m, .alert p.mt-m, .main-content h3.mt-m { margin-top: 2.62em; }

.text-center { text-align: center; }

.alignleft { float: left; margin-right: 1.62em; margin-bottom: .62em; }

.alignright { float: right; margin-left: 1.62em; margin-bottom: .62em; }

.frame { padding: 1em; margin: .62em 0 1.62em; background: #fff; border: 2px solid #e4e3e3; border-radius: .19em; }

.frame:first-child { margin-top: 0; }

dl.list { padding: 0; border: 0; }

dl.list dd { margin-left: 1.62em; }

code.wrap { white-space: normal; }

/* FILE: __header.scss */
.navbar { background-color: #141313; }

.navbar a { text-decoration: none; }

.navbar .navbar-brand { color: #fff; margin-right: 2em; letter-spacing: 1px; text-shadow: none; text-transform: uppercase; }

.navbar-right { font-size: .9em; }

/* FILE: __sidebar.scss */
.sidebar { top: 50px; font-size: .9em; font-weight: 400; background-color: #242323; color: #a4a3a3; border: 0; }

.sidebar a { text-decoration: none; }

.sidebar .nav { border-top: 1px solid #444343; }

.sidebar .nav > li { border-bottom: 1px solid #444343; }

.sidebar .nav > li > a { padding-top: 0.38em; padding-bottom: 0.38em; color: inherit; }

.sidebar .nav > li.active > a { font-weight: 600; }

.sidebar .nav > li.active > a, .sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover { background-color: #444343; color: #fff; }

/* FILE: __intro.scss */
.main-header { padding: 40px 40px 400px; padding: 40px 40px 38vh; margin: -20px -40px -3.62em; font-weight: 300; background: #dc1e35; color: #fff; }

.main-header h1 { margin-bottom: 1.62em; font-size: 3.62em; color: inherit; }

.main-header h2 { text-transform: uppercase; color: inherit; }

.main-header a { color: inherit; }

/* FILE: __content.scss */
.main-content { max-width: 1200px; }

.main-content .container-fluid > h2 { padding-top: 3.62em; margin-top: 3.62em; margin-bottom: .62em; color: #242323; border-top: 2px solid #e4e3e3; }

.main-content .container-fluid > h2:first-child { border: 0; }

.main-content h3, .plugins > h4 { padding-bottom: 1em; margin-top: 3.62em; margin-bottom: 1em; font-size: 1.62em; border-bottom: 2px solid #e4e3e3; }

/* FILE: __alert.scss */
.alert { margin: 1.62em 0; }

.alert h3, .alert h4, .alert h5, .alert h6 { padding: 0; margin: 0 0 .62em; text-transform: uppercase; font-size: 1em; font-weight: 700; color: inherit; border: 0; }

dd .alert { margin: .62em 0 0; }

/* FILE: __badge.scss */
.badge { font-weight: 300; vertical-align: top; }

small .badge { vertical-align: baseline; }

#tips + .section h3 .badge { display: inline-block; width: 2.62em; height: 2.62em; padding: 0; margin-right: 1em; line-height: 2.62em; text-align: center; font-size: 1rem; font-weight: 700; background: #dc1e35; color: #fff; border-radius: 2.62em; }

/* FILE: __anatomy.scss */
.anatomy-content ol { counter-reset: anatomy; padding-left: 0; list-style: none; }

.anatomy-content li { position: relative; padding: 0; border-top: 1px solid #c4c3c3; border-bottom: 1px solid #c4c3c3; cursor: help; }

.anatomy-content li:first-child { border-top: 0; }

.anatomy-content li:last-child { border-bottom: 0; }

.anatomy-content li p { font-size: .91em; margin: 0; height: 0; overflow: hidden; }

.anatomy-content label { display: block; padding: 1em 0; margin: 0; font-weight: inherit; cursor: auto; }

.anatomy-content label::before { counter-increment: anatomy; content: counter(anatomy); float: left; display: inline-block; width: 2em; margin-right: 1em; text-align: center; font-weight: 700; border-radius: .19em; cursor: pointer; }

.anatomy-content ol:hover label::before { background: #efeeee; color: #676666; }

.anatomy-content label::before, .anatomy-content li:hover label::before { background: #fe0000; color: #fff; }

.anatomy-content input { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; line-height: 1px; overflow: hidden; }

.anatomy-content input:checked ~ p { height: auto; margin-top: .62em; }

.anatomy-content input:checked + h5 { margin-bottom: 1em; }

.anatomy-content input:checked + h5::after, .anatomy-content input:checked + h5::before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.anatomy-content h5 { position: relative; padding-right: 2em; line-height: 1.38; color: #141313; cursor: pointer; overflow: hidden; }

.anatomy-content h5::after, .anatomy-content h5::before { content: ''; position: absolute; width: 12px; height: 2px; right: 0; top: 50%; margin-top: -1px; border: 1px solid; transition: -webkit-transform .3s; transition: transform .3s; transition: transform .3s, -webkit-transform .3s; }

.anatomy-content h5::after { width: 2px; height: 12px; right: 5px; margin-top: -6px; }

/* FILE: __faq.scss */
#tips { counter-reset: faq; }

#tips + .section h3 .badge::before { counter-increment: faq; content: counter(faq); }

#faq ~ h3 { font-weight: 700; }

/* FILE: __footer.scss */
.footer { padding: 3.62em 40px; margin: 3.62em -40px -20px; font-size: .9em; background-color: #141313; color: #949393; }

.footer a { color: #fff; }
