/* FILE: main/icons/_genericons.scss */

%genericon {
	font-family: 'Genericons-Neue';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: inherit;
	text-transform: none;
	speak: none;
}
