/* FILE: main/icons/_icons.scss */

//
// Icons
//





@font-face {
	font-family: 'Genericons-Neue';
	//
	// Using Genericons Neue v4.0.4
	// https://github.com/Automattic/genericons-neue
	//
	// Supports IE9+, Android 4.4+
	// http://caniuse.com/#feat=woff
	//
	// NOTE:
	// When encoding the WOFF file directly into source URL (like it is in original repository
	// of Genericons Neue font), it seems to "slow" down the website according to Pingdom Tools
	// as it throws a "Minimize request size" error.
	// https://tools.pingdom.com/#!/dRG0wH/https://themedemos.webmandesign.eu/reykjavik/
	//

	/*[*/
	src: url('../fonts/genericons-neue/Genericons-Neue.woff') format('woff'),
	     url('../fonts/genericons-neue/Genericons-Neue.ttf') format('truetype');
	/*]*/
	/*//
	src: url('[[get_template_directory_uri]]/assets/fonts/genericons-neue/Genericons-Neue.woff') format('woff'),
	     url('[[get_template_directory_uri]]/assets/fonts/genericons-neue/Genericons-Neue.ttf') format('truetype');
	//*/

	font-weight: normal;
	font-style: normal;
}



// Main Genericon extender

	%genericon {
		font-family: 'Genericons-Neue';
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-decoration: inherit;
		text-transform: none;
		speak: none;
	}



// Icons styles

	.svgicon {
		display: inline-block;
		position: relative;
		width: 1em;
		height: 1em;
		top: -0.0625em;
		fill: currentColor;
		vertical-align: middle;
	}

	.svg-fallback {
		display: none;
	}



// Remove text for icon

	%indent_text_for_icon_only {
		position: relative;
		display: inline-block;
		width: 1em;
		text-align: $left; // {{RTL}}
		text-indent: -999em;

		&::before {
			@extend %genericon;
			position: absolute;
			width: 100%;
			#{$left}: 0; // {{RTL}}
			top: 0;
			text-align: center;
			text-indent: 0;
		}

	}



// Genericons Neue CSS
// @link  https://github.com/Automattic/genericons-neue/blob/master/icon-font/Genericons-Neue.css

	.genericons-neue::before {
		@extend %genericon;
		display: inline-block;
		line-height: 1;
		text-rendering: auto;
		-moz-osx-font-smoothing: grayscale;
		 -webkit-font-smoothing: antialiased;
		vertical-align: middle;
	}

	// Icons

	.genericons-neue-activity::before { content: '\f508'; }
	.genericons-neue-anchor::before { content: '\f509'; }
	.genericons-neue-aside::before { content: '\f101'; }
	.genericons-neue-attachment::before { content: '\f416'; }
	.genericons-neue-audio-mute::before { content: '\f174'; }
	.genericons-neue-audio::before { content: '\f109'; }
	.genericons-neue-bold::before { content: '\f471'; }
	.genericons-neue-book::before { content: '\f444'; }
	.genericons-neue-bug::before { content: '\f50a'; }
	.genericons-neue-cart::before { content: '\f447'; }
	.genericons-neue-category::before { content: '\f301'; }
	.genericons-neue-chat::before { content: '\f108'; }
	.genericons-neue-checkmark::before { content: '\f418'; }
	.genericons-neue-close-alt::before { content: '\f406'; }
	.genericons-neue-close::before { content: '\f405'; }
	.genericons-neue-cloud-download::before { content: '\f440'; }
	.genericons-neue-cloud-upload::before { content: '\f441'; }
	.genericons-neue-cloud::before { content: '\f426'; }
	.genericons-neue-code::before { content: '\f462'; }
	.genericons-neue-cog::before { content: '\f445'; }
	.genericons-neue-collapse::before { content: '\f432'; }
	.genericons-neue-comment::before { content: '\f300'; }
	.genericons-neue-day::before { content: '\f305'; }
	.genericons-neue-document::before { content: '\f443'; }
	.genericons-neue-download::before { content: '\f50b'; }
	.genericons-neue-edit::before { content: '\f411'; }
	.genericons-neue-ellipsis::before { content: '\f476'; }
	.genericons-neue-expand::before { content: '\f431'; }
	.genericons-neue-external::before { content: '\f442'; }
	.genericons-neue-fastforward::before { content: '\f458'; }
	.genericons-neue-feed::before { content: '\f413'; }
	.genericons-neue-flag::before { content: '\f468'; }
	.genericons-neue-fullscreen::before { content: '\f474'; }
	.genericons-neue-gallery::before { content: '\f103'; }
	.genericons-neue-heart::before { content: '\f461'; }
	.genericons-neue-help::before { content: '\f457'; }
	.genericons-neue-hide::before { content: '\f404'; }
	.genericons-neue-hierarchy::before { content: '\f505'; }
	.genericons-neue-home::before { content: '\f409'; }
	.genericons-neue-image::before { content: '\f102'; }
	.genericons-neue-info::before { content: '\f455'; }
	.genericons-neue-italic::before { content: '\f472'; }
	.genericons-neue-key::before { content: '\f427'; }
	.genericons-neue-link::before { content: '\f107'; }
	.genericons-neue-location::before { content: '\f417'; }
	.genericons-neue-lock::before { content: '\f470'; }
	.genericons-neue-mail::before { content: '\f410'; }
	.genericons-neue-menu::before { content: '\f419'; }
	.genericons-neue-microphone::before { content: '\f50d'; }
	.genericons-neue-minus::before { content: '\f50e'; }
	.genericons-neue-month::before { content: '\f307'; }
	.genericons-neue-move::before { content: '\f50f'; }
	.genericons-neue-next::before { content: '\f429'; }
	.genericons-neue-notice::before { content: '\f456'; }
	.genericons-neue-paintbrush::before { content: '\f506'; }
	.genericons-neue-pause::before { content: '\f448'; }
	.genericons-neue-phone::before { content: '\f437'; }
	.genericons-neue-picture::before { content: '\f473'; }
	.genericons-neue-pinned::before { content: '\f308'; }
	.genericons-neue-play::before { content: '\f452'; }
	.genericons-neue-plugin::before { content: '\f439'; }
	.genericons-neue-plus::before { content: '\f510'; }
	.genericons-neue-previous::before { content: '\f430'; }
	.genericons-neue-print::before { content: '\f469'; }
	.genericons-neue-quote::before { content: '\f106'; }
	.genericons-neue-refresh::before { content: '\f420'; }
	.genericons-neue-reply::before { content: '\f466'; }
	.genericons-neue-rewind::before { content: '\f459'; }
	.genericons-neue-search::before { content: '\f400'; }
	.genericons-neue-send-to-phone::before { content: '\f438'; }
	.genericons-neue-send-to-tablet::before { content: '\f454'; }
	.genericons-neue-share::before { content: '\f415'; }
	.genericons-neue-show::before { content: '\f403'; }
	.genericons-neue-shuffle::before { content: '\f514'; }
	.genericons-neue-sitemap::before { content: '\f507'; }
	.genericons-neue-skip-ahead::before { content: '\f451'; }
	.genericons-neue-skip-back::before { content: '\f450'; }
	.genericons-neue-spam::before { content: '\f424'; }
	.genericons-neue-standard::before { content: '\f100'; }
	.genericons-neue-star-empty::before { content: '\f511'; }
	.genericons-neue-star-half::before { content: '\f513'; }
	.genericons-neue-star::before { content: '\f408'; }
	.genericons-neue-status::before { content: '\f105'; }
	.genericons-neue-stop::before { content: '\f449'; }
	.genericons-neue-subscribe::before { content: '\f463'; }
	.genericons-neue-subscribed::before { content: '\f465'; }
	.genericons-neue-summary::before { content: '\f425'; }
	.genericons-neue-tablet::before { content: '\f453'; }
	.genericons-neue-tag::before { content: '\f302'; }
	.genericons-neue-time::before { content: '\f303'; }
	.genericons-neue-top::before { content: '\f435'; }
	.genericons-neue-trash::before { content: '\f407'; }
	.genericons-neue-unapprove::before { content: '\f446'; }
	.genericons-neue-unsubscribe::before { content: '\f464'; }
	.genericons-neue-unzoom::before { content: '\f401'; }
	.genericons-neue-user::before { content: '\f304'; }
	.genericons-neue-video::before { content: '\f104'; }
	.genericons-neue-videocamera::before { content: '\f517'; }
	.genericons-neue-warning::before { content: '\f414'; }
	.genericons-neue-website::before { content: '\f475'; }
	.genericons-neue-week::before { content: '\f306'; }
	.genericons-neue-xpost::before { content: '\f504'; }
	.genericons-neue-zoom::before { content: '\f402'; }
