/* FILE: main/icons/_indent.scss */

%indent_text_for_icon_only {
	position: relative;
	display: inline-block;
	width: 1em;
	text-align: $left; // {{RTL}}
	text-indent: -999em;

	&::before {
		@extend %genericon;
		position: absolute;
		width: 100%;
		#{$left}: 0; // {{RTL}}
		top: 0;
		text-align: center;
		text-indent: 0;
	}

}
