/* FILE: _setup.scss */

//
// Stylesheets setup.
//
// @package    Reykjavik
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  2.0.0
//

// Theme options

	$customize_options: (

		// Logo

			'custom_logo_height': 50px,

		// Colors

			// For accessibility test with http://jxnblk.com/colorable/demos/text/

			'color_accent': #273a7d,
			'color_accent_text': #fefeff,

			'color_header_background': #fefeff,
			'color_header_text': #535354,
			'color_header_headings': #232324,

			'color_intro_background': #fafafb,
			'color_intro_text': #535354,
			'color_intro_headings': #232324,
			'color_intro_overlay_background': #0f1732,
			'color_intro_overlay_text': #fefeff,

			'color_intro_overlay_opacity': 0.6,

			'color_intro_widgets_background': #0f1732,
			'color_intro_widgets_text': #d3d3d4,
			'color_intro_widgets_headings': #fefeff,

			'color_content_background': #fefeff,
			'color_content_text': #535354,
			'color_content_headings': #232324,

			'color_footer_background': #0f1732,
			'color_footer_text': #d3d3d4,
			'color_footer_headings': #fefeff,

			'footer_image': url('../images/footer/pixabay-colorado-1436681.png'),
			'footer_image_position': 50% 50%,
			'footer_image_size': cover,
			'footer_image_repeat': repeat,
			'footer_image_attachment': scroll,
			'footer_image_opacity': 0.15,

		// Layout

			'layout_width_site': 1640px,
			'layout_width_content': 1200px,

		// Typography

			'typography_size_html': 18px,
			'typography_fonts_text': ( 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif ),
			'typography_fonts_headings': ( 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif ),
			'typography_fonts_logo': ( 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif ),

	);



// Typography

	// Spacing

		$typography_line_height: 1.618;
		$typography_margin_bottom: 1.618;

	// Headings

		$setup_headings: (

			// $selector : (
			//   $size
			//   $line_height
			//   $margin_top    [ ( span_4_or_3_lines - $size * $line_height - $margin_bottom ) / $size ]
			//   $margin_bottom [ $margin_bottom / $size / $line_height ]
			// )

			// @link http://www.zell-weekeat.com/responsive-typography/
			//
			// Em vs Rem section regarding vertical rhythm
			//
			// "First, we’re not 100% precise and accurate with our math. We could get more precise (like 10 decimal places), but that would make our code ugly as hell…"
			// "Second, different browsers handle subpixel rounding issues differently. This means we’ll never be able to get pixel-perfect rhythms no matter how hard we try."
			// "So, here’s what I realized. It’s impossible to apply perfect responsive vertical rhythms across different browsers. At least not with the current technology."

			// @see "Golden Ditonic Scale" at http://spencermortensen.com/articles/typographic-scale/ or http://www.modularscale.com/?1,0.4858&em&1.618

			'h1, .h1' : (
				2.618,
				1.191,
				( 4 * $typography_line_height - 2.618 * 1.191 - $typography_margin_bottom ) / 2.618,
				$typography_margin_bottom / 2.618 / 1.191
			),

			'h2, .h2' : (
				2.058,
				1.191,
				( 4 * $typography_line_height - 2.058 * 1.191 - $typography_margin_bottom ) / 2.058,
				$typography_margin_bottom / 2.058 / 1.191
			),

			'h3, .h3' : (
				1.618,
				1.382,
				( 3 * $typography_line_height - 1.618 * 1.382 - $typography_margin_bottom ) / 1.618,
				$typography_margin_bottom / 1.618 / 1.382
			),

			'h4, .h4' : (
				1.272,
				1.382,
				( 3 * $typography_line_height - 1.272 * 1.382 - $typography_margin_bottom ) / 1.272,
				$typography_margin_bottom / 1.272 / 1.382
			),

			'h5, .h5' : (
				1.000,
				1.618,
				( 3 * $typography_line_height - 1.000 * 1.618 - $typography_margin_bottom ) / 1.000,
				$typography_margin_bottom / 1.000 / 1.618
			),

			'h6, .h6' : (
				1.000,
				1.618,
				( 3 * $typography_line_height - 1.000 * 1.618 - $typography_margin_bottom ) / 1.000,
				$typography_margin_bottom / 1.000 / 1.618
			),

		);

	// Display font size

		// @see "Golden Ditonic Scale" at http://spencermortensen.com/articles/typographic-scale/ or http://www.modularscale.com/?1,0.4858&em&1.618
		$display_text_size: (
			1 : 2.618em,
			2 : 3.329em,
			3 : 4.236em,
			4 : 5.387em,
		);



// Others

	//
	// Breakpoints info:
	//
	// 's'     :  448, // =  28em // Starting mobile landscape
	// 'm'     :  672, // =  42em // Starting tablet portrait
	// 'l'     :  880, // =  55em // Starting tablet landscape
	// 'xl'    : 1280, // =  80em // Starting laptop
	// 'xxl'   : 1600, // = 100em // Starting desktop
	// 'xxxl'  : 1920, // = 120em // Starting desktop full HD
	// 'xxxxl' : 2560, // = 160em // Starting desktop WQHD
	//

	// Predefined colors

		$colors: (

			'error_background': rgba( #e00, .85 ),
			'error_text':       #fff,

			'info_background': rgba( #05e, .85 ),
			'info_text':       #fff,

			'success_background': rgba( #072, .85 ),
			'success_text':       #fff,

			'warning_background': rgba( #fd0, .85 ),
			'warning_text':       #310,

		);

	// Dimensions

		$page_content_width: 61.8; // In %
		$page_content_gutter: 8; // In %

			$page_content_width: $page_content_width - ( $page_content_gutter * .382 );

	// Spacing

		$padding_vertical: 5rem;

		$mobile_menu_toggle_height: 3.618; // In rem.

	// Opacity

		$overlay_from_text_color_opacity: .07;

	// Animation

		$small_animation_speed: .3; // Seconds
		$large_animation_speed: .5; // Seconds

	// Decorations

		// Drop shadows

			$column_box_shadows: (
				'small':  1rem,
				'medium': 2rem,
				'large':  3rem,
			);

			$column_box_shadows_opacity: .2;

	// Entry meta

		$entry_meta_icons: (
			// class: char
			'author':          '\f304',
			'cat-links':       '\f301',
			'comments-link a': '\f300',
			'entry-date':      '\f303',
			'tags-links':      '\f302',
		);

	// Elements

		// Special color classes
		$special_color_class_prefix: 'set-colors-';

		// Margin bottom
		$elements_margin_bottom: (
			'h1',
			'h2',
			'h3',
			'.h1',
			'.h2',
			'.h3',
			'p',
			'ol',
			'ul',
			'blockquote',
			'figure',
			'.gallery',
			'.tiled-gallery',
		);

		// Buttons
		$elements_button: (
			'.button',
			'button',
			'[type="button"]',
			'[type="reset"]',
			'[type="submit"]',
		);
		$elements_button_beaver_builder: ();
		$beaver_builder_button_prepend: '.site .fl-builder-content .fl-module';
		@each $button in $elements_button {
			$elements_button_beaver_builder: append( $elements_button_beaver_builder, '#{$beaver_builder_button_prepend} #{$button}', comma );
		}
		$elements_button: append( $elements_button, (
			'.child-page .more-link',
			'.main-navigation-container .button > a',
		) );
