/* FILE: customize-preview.scss */

//
// Theme customizer preview style fixes
//
// @package    Reykjavik
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.0.0
//





// Edit button

	.customize-partial-edit-shortcut {

		[data-customize-partial-type="nav_menu_instance"] &,
		.site-branding &,
		.intro-media & {
			top: 50%;
			transform: translateY( -15px );
		}

		.widget [data-customize-partial-type="nav_menu_instance"] & {
			display: none;
		}

		.site-branding-text & {
			top: 100%;
			margin-top: 6px;
			transform: translateY( 0 );
		}

		.footer-area-site-info & {
			top: 0;
		}

		button {

			.site & {
				line-height: 1;
				background: #0085ba;
				border: 2px solid #fff;

				&:hover {
					border-color: #0085ba;
				}

			}

			.site-branding-text & {
				left: 0;

				[dir="rtl"] & { // {{RTL}}
					left: auto;
					right: 0;
				}

			}

			.site-description & {
				left: 32px;

				[dir="rtl"] & { // {{RTL}}
					left: auto;
					right: 32px;
				}

			}

			.footer-area-site-info & {
				left: -15px; // This is the same for RTL // {{RTL}}
			}

		}

	}

	.site-branding,
	.site-header-inner > nav,
	.site-branding-text,
	.site-info-inner > div,
	.site-info-inner > nav {
		position: relative;
	}
