/* FILE: main.scss */

//
// Main theme styles
//
// @package    Reykjavik
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  2.0.1
//





// Imports

	@import 'setup';

	@import 'css-vars';

	@import 'starter/__index';

	@import 'main/main';
