/* FILE: main.scss */

//
// Main theme styles
//
// @package    Reykjavik
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.3.1
//





// Imports

	@import 'setup';

	@import 'starter/starter';

	@import 'main/main';
