/* FILE: options-widget-text.scss */

//
// Text widget custom setup options styles
//
// @package    Reykjavik
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.0.0
//





.text-widget-media {

	// Icon

		&-icon {
			@extend %container;
		}



	// Image

		&-image {
			@extend %container;

			&-select {
				box-sizing: border-box;
				width: 100%;

				.fl-lightbox & {
					width: auto;
				}

			}

			&-preview {
				@extend %checker_background;
				position: relative;
				display: block;

				img {
					max-width: 100%;
					vertical-align: top;
				}

			}

			&-remove {
				position: absolute;
				width: 2em;
				right: 1em;
				top: 1em;

				.rtl & {
					right: auto;
					left: 1em;
				}

				&::after,
				&::before {
					content: '';
					position: absolute;
					width: 1px;
					height: 1em;
					left: 50%;
					top: 50%;
					margin-top: -.5em;
					border-left: 1px solid;
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}

			}

		}

}



// Extenders

	%container {
		box-sizing: border-box;
		padding: 1.62em;
		margin: 1.62em 0;
		border: 2px dashed rgba(#000,.1);
	}

	%checker_background {
		padding: .38rem;
		margin-top: 1rem;
		border: 1px solid rgba(#000,.15);
		border-radius: .38rem;
		background-image: linear-gradient( 45deg, rgba(#000,.05) 25%, rgba(#fff,.1) 25%),
		                  linear-gradient(-45deg, rgba(#000,.05) 25%, rgba(#fff,.1) 25%),
		                  linear-gradient( 45deg, rgba(#fff,.1) 75%, rgba(#000,.05) 75%),
		                  linear-gradient(-45deg, rgba(#fff,.1) 75%, rgba(#000,.05) 75%);
		background-size: 20px 20px;
		background-position: 0 0,
		                     0 10px,
		                     10px -10px,
		                     -10px 0;
	}
