/* FILE: woocommerce.scss */

//
// WooCommerce frontend styles
//
// @package    Reykjavik
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  2.1.0
//

$left: left;
$right: right;
$rtl_multiplier: 1; // For `translateX` transform, for example.

@import '_tools/_index';
@import '_setup/_index';

@import 'woocommerce/_index';
