/* FILE: welcome-rtl.scss */
/* FILE: styles/_welcome.scss */
.mt0 { margin-top: 0 !important; }

#setting-error-tgmpa { display: none; }

.wm-actions { margin-top: 2em; }

.welcome-wrap h1 { margin-left: 0; margin-right: 0; font-weight: 300; }

.welcome-wrap h1 strong { font-weight: 800; }

.welcome-wrap h1 small { font-size: .5em; }

.welcome-wrap h2 { text-align: inherit; }

.welcome-wrap hr { height: 0; margin: 2em 0; border: 0; border-top: 1px solid #caccce; }

.welcome-wrap [class$="-col"] { -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }

.welcome-wrap .feature-section { padding: 0; border: 0; }

.welcome-wrap .feature-section.col h4 { margin: 1em 0; }

.welcome-wrap .dropcap { display: inline-block; padding: .75em; margin: 0 .5em .25em; margin-right: 0; font-size: 24px; font-weight: 700; background: #23282d; color: #fff; }

.welcome-wrap .welcome-text { margin-left: 0; margin-right: 0; }

.welcome-wrap .welcome-text a { color: #6a6c6e; }

.welcome-wrap .twitter-share-button { vertical-align: middle; margin-right: 3px; }

.welcome-wrap .wm-notes { padding: 2.62em; margin: 40px 0 1.62em; line-height: 1.4em; font-size: .8em; font-style: italic; background: #fafcfe; border: 1px solid #ccc; }

.welcome-wrap .wm-notes.special { font-size: 1.28em; font-style: normal; background: #fff; color: #000; }

.welcome-wrap .wm-notes.special p { font-size: 1em; }

.welcome-wrap .wm-notes.special small { font-size: .62em; }

.welcome-wrap .wm-notes.special .button { margin-top: 1.62em; }

.welcome-wrap .wm-notes .notice { display: none !important; }

.welcome-wrap .congrats { padding: 1em 0 0; }

.welcome-wrap .congrats p { font-size: 1.15em; }
