$golden:       1.618;
$golden_major:  .618;
$golden_minor:  .382;

$button_font_size: .809; // 1 - $golden_minor / 2 | In em

$form_field_padding_vertical: .618em;

$padding_vertical: 5rem;

$mobile_menu_toggle_height: 3.618; // In rem.

$page_content_width: 61.8; // In %
$page_content_gutter: 8; // In %
$page_content_width: $page_content_width - ( $page_content_gutter * .382 );
