/* FILE: main/content/media/_entry.scss */

.entry-media {
	margin-bottom: _pow( $ratio, 2 ) +rem;

	@include media( map_get( $breakpoint, 'l' ) ) {
		margin-bottom: _pow( 1 + $ratio_min, 4 ) +rem;
	}

	a {
		display: inline-block; // To wrap the focus outline around the image/entry media object
		width: 100%;
	}

	.search-results & img {
		width: auto;
		max-width: 100%;
	}

	// On single post page and attachment page

		.site-main > .entry > & {

			$single_post_media_width: 47; // In %
			$single_post_media_gutter: 6; // In %

			@include media( map_get( $breakpoint, 'l' ) ) {
				position: relative;
				float: $left; // {{RTL}}
				width: percentage( $single_post_media_width / 100 );
				margin: 0 percentage( $single_post_media_gutter / 100 ) 2em;
				margin-#{$left}: 0; // {{RTL}}
				z-index: 1;
			}

			@include media( map_get( $breakpoint, 'xl' ) ) {

				.no-widgets-sidebar & {
					margin-#{$left}: percentage( -$single_post_media_width / 100 / 2 ); // {{RTL}}
				}

			}

			@include media( map_get( $breakpoint, 'xxl' ) ) {
				margin-#{$left}: percentage( -$single_post_media_width / 100 / 4 ); // {{RTL}}
			}

			.is-singular:not(.has-custom-intro-image):not(.no-intro) & {
				display: none;
			}

		}

	// In loop

		.posts & {
			float: none;
			width: auto;
			margin: calc( #{ -$ratio +em } - 1px ); // Cover border around post entry.
			margin-bottom: $ratio +em;

			.search-results & {
				margin: 0 0 ( $ratio +em ); // Due to possible icon child page featured image.
			}

			@include media( map_get( $breakpoint, 'm' ) ) {
				margin: calc( -2em - 1px ); // Cover border around post entry.
				margin-bottom: 2em;

				.search-results & {
					margin: 0 0 2em; // Due to possible icon child page featured image.
				}

			}

		}

	// Hiding the post media

		.hide-media & {
			display: none;
		}

	// Avatar image

		.avatar {
			margin-bottom: $ratio +em;
		}

}
