/* FILE: main/base/__classes.scss */

//
// CSS classes
//





// Generic utility

	.zindex-10,
	.z-index-10,
	.has-rised-z-index {
		position: relative;
		z-index: 10;
	}

	.background-size-stretch,
	.has-stretched-background-size {
		background-size: 100% 100%;

		.site & > div {
			background-size: inherit;
		}

	}



// Skip links list

	.skip-link-list {
		position: absolute;
		#{$left}: 0; // {{RTL}}
		top: 0;
		padding: 0;
		margin: 0;
		list-style: none;

		&-item {
			list-style: inherit;
			white-space: nowrap;
		}

	}



// Inline list

	.inline {

		li,
		.widget ul li {
			display: inline-block;
			padding: 0 ( $golden_major +em );
			border-width: 0;
			border-#{$left}-width: 1px; // {{RTL}}
			border-#{$left}-style: solid; // {{RTL}}

			&:first-child {
				border-width: 0;
			}

			&::before {
				display: none;
			}

			&:hover {
				transform: none;
			}

		}

	}



// Text columns

	%column_base {
		column-gap: 2em;
		column-width: 12em;
		margin: ( $golden +em ) 0;

		@include media( map_get( $breakpoint, 'm' ) ) {
			margin: ( pow( $golden, 2 ) +em ) 0;
		}

		&:first-child,
		h1 + &,
		h2 + &,
		h3 + &,
		h4 + & {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		h2,
		h3 {
			column-span: all;
		}

		h4,
		h5,
		h6 {
			margin: 1em 0 ( $golden_major +em );
			line-height: inherit;
			text-transform: uppercase;
			letter-spacing: .075em;
			font-size: 1em;
			font-weight: 700;
		}

		p {
			margin: 0;
		}

	}

	@for $i from 2 through 3 {

		.text-columns-#{$i},
		.has-#{$i}-text-columns {
			@extend %column_base;
			column-count: $i;
		}

	}



// Widget flexbox layout alterations

	@for $i from 1 through 4 {

		.set-flex-grow-#{$i} {

			.widget-area & {
				flex-grow: $i;
			}

		}

	}



// Elements modifiers

	.fullwidth {

		&,
		.button,
		button,
		[type="button"],
		[type="reset"],
		[type="submit"] {
			width: 100%;
		}

	}
