/* FILE: main/base/__classes.scss */

//
// CSS classes
//





// Generic utility

	.no-wrap {
		@include responsive( map_get( $breakpoint, 'l' ) ) {
			white-space: nowrap;
		}
	}

	.text-#{$left} {
		text-align: $left !important; // {{RTL}}
	}

	.text-center {
		text-align: center !important;
	}

	.text-#{$right} {
		@include responsive( map_get( $breakpoint, 'm' ) ) {
			text-align: $right !important; // {{RTL}}
		}
	}

	@for $i from 1 through 10 {

		%padding_percent_#{ $i * 2 } {
			padding: percentage( $i * 2 / 100 );
		}

	}

	.mt0 {
		margin-top: 0 !important;
	}

	.mb0 {
		margin-bottom: 0 !important;
	}

	.zindex-10,
	.z-index-10 {
		position: relative;
		z-index: 10;
	}

	.background-size-stretch {
		background-size: 100% 100%;

		.site & > div {
			background-size: inherit;
		}

	}



// Skip links list

	.skip-link-list {
		position: absolute;
		#{$left}: 0; // {{RTL}}
		top: 0;
		padding: 0;
		margin: 0;
		list-style: none;

		&-item {
			list-style: inherit;
			white-space: nowrap;
		}

	}



// Dropcaps

	.dropcap-text {

		&::first-letter {
			float: $left; // {{RTL}}
			display: block;
			padding: 0 ( $golden_minor / 2 +em );
			padding-#{$left}: 0; // {{RTL}}
			line-height: 1;
			font-size: $golden * 2em; // 2 lines of text.
		}

	}



// Inline list

	.inline {

		li,
		.widget ul li {
			display: inline-block;
			padding: 0 ( $golden_major +em );
			border-width: 0;
			border-#{$left}-width: 1px; // {{RTL}}
			border-#{$left}-style: solid; // {{RTL}}

			&:first-child {
				border-width: 0;
			}

			&::before {
				display: none;
			}

			&:hover {
				transform: none;
			}

		}

	}



// Text columns

	%column_base {
		column-gap: 2em;
		column-width: 12em;
		margin: ( $golden +em ) 0;

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			margin: ( power( $golden, 2 ) +em ) 0;
		}

		&:first-child,
		h1 + &,
		h2 + &,
		h3 + &,
		h4 + & {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		h2,
		h3 {
			column-span: all;
		}

		h4,
		h5,
		h6 {
			margin: 1em 0 ( $golden_major +em );
			line-height: inherit;
			text-transform: uppercase;
			letter-spacing: .075em;
			font-size: 1em;
			font-weight: 700;
		}

		p {
			margin: 0;
		}

	}

	@for $i from 2 through 3 {

		.text-columns-#{$i} {
			@extend %column_base;
			column-count: $i;
		}

	}



// Widget flexbox layout alterations

	@for $i from 1 through 4 {

		.set-flex-grow-#{$i} {

			.widget-area & {
				flex-grow: $i;
			}

		}

	}



// Elements modifiers

	.fullwidth {

		&,
		.button,
		button,
		[type="button"],
		[type="reset"],
		[type="submit"] {
			width: 100%;
		}

	}
