/* FILE: main/base/__elements.scss */

//
// Elements styles
//





a {
	text-decoration: underline;

	@include haf() {
		text-decoration: none;
	}

}

ul, ol {
	margin-bottom: $golden +em;
}

ul {
	list-style: square;

	li {

		&.icon,
		&.icon-bullet {
			position: relative;
			display: list-item;
			list-style: none;
			font-family: inherit;
			line-height: inherit;
			vertical-align: baseline;
			speak: normal;

			&::before {
				position: absolute;
				#{$left}: -$golden_minor - 1em;
				line-height: inherit;
				speak: none;
			}

			&.genericons-neue::before {
				font-family: 'Genericons-Neue';
			}

		}

	}

}

abbr {
	@extend %font_weight_600;
}

address {
	@extend %font_style_normal;
}

blockquote {
	@extend %font_size_golden_minor;
	@extend %font_weight_300;
	@extend %line_height_golden;
	clear: none; // Required for outdented single post meta.
	margin: ( $golden +em ) 0;

	&:first-child {
		margin-top: 0;
	}

	&::before {
		@extend %genericon;
		content: '\f106';
		float: $left; // {{RTL}}
		margin-#{$right}: .25em; // {{RTL}}
		line-height: .9;
		font-size: $golden +em;
		opacity: .5;
	}

	&[style*="text-align:left"],
	&[style*="text-align: left"] {

		&::before {
			float: left;
			margin-left: 0;
			margin-right: .25em;
		}

	}

	&[style*="text-align:right"],
	&[style*="text-align: right"] {

		&::before {
			float: right;
			margin-right: 0;
			margin-left: .25em;
		}

	}

	&[style*="text-align:center"],
	&[style*="text-align: center"] {

		&::before {
			display: block;
			float: none;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: $golden_minor +em;
		}

	}

}

code,
pre {
	@extend %background_overlay_from_text_color;
}

	pre code {
		font-size: 1em;

		&::before {
			display: none;
		}

	}

hr {
	height: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

	hr,
	.wp-block-separator {
		margin-top: pow( 1 + $golden_minor, 3 ) +em;
		margin-bottom: pow( 1 + $golden_minor, 3 ) +em;

		@include media( map_get( $breakpoint, 'm' ) ) {
			margin-top: pow( 1 + $golden_minor, 4 ) +em;
			margin-bottom: pow( 1 + $golden_minor, 4 ) +em;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

ins {
	text-decoration: none;
}

mark,
ins,
.highlight {
	padding: 0;
}

strong {
	@extend %font_weight_700;
}

table {
	border-collapse: collapse;
}

	table,
	th, td,
	thead th, thead td,
	tfoot th, tfoot td {
		border-left-width: 0;
		border-right-width: 0;
	}

	thead {
		border-bottom-width: 2px;
		border-bottom-style: solid;
	}

	tbody tr:hover td,
	tbody tr:hover th {
		// @extend %background_overlay_from_text_color_after;
	}

	th,
	tfoot td {
		border-top-width: 1px;
		border-bottom-width: 1px;
	}

	tfoot {
		border-top-width: 2px;
		border-top-style: solid;
	}

#{$elements_margin_bottom} {

	&:last-child {
		margin-bottom: 0;
	}

}
