/* FILE: main/base/__layout.scss */

//
// Site layout
//





// Site container

	.site {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}



// Boxed / Fullwidth

	.site-layout-boxed {

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding: 30px;
		}

		.site {
			max-width: map_get( $customize_options, 'layout_width_site' );
			max-width: var(--layout_width_site);
		}

	}

	.site-layout-fullwidth {}



// Extenders

	%basic_width {
		width: 88%;
		margin: 0 auto;
	}

	%max_width_1920 {
		max-width: 1920px;
	}

	/* $content_width */
	%content_width {
		@extend %basic_width;
		max-width: map_get( $customize_options, 'layout_width_content' );
		max-width: var(--layout_width_content);
	}

	%full_width {
		@extend %basic_width;
		@extend %max_width_1920;
	}
