/* FILE: main/base/__layout.scss */

//
// Site layout
//





// Site container

	.site {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}



// Boxed / Fullwidth

	.site-layout-boxed {

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			padding: $golden +em;
		}

		.site {
			max-width: $boxed_width +px;
			max-width: $boxed_width * $px;
		}

	}

	.site-layout-fullwidth {}



// Extenders

	%basic_width {
		width: 88%;
		margin: 0 auto;
	}

	%max_width_1920 {
		max-width: 1920px;
		max-width: 1920 * $px;
	}

	/* $content_width */
	%content_width {
		@extend %basic_width;
		max-width: $content_width +px;
		max-width: $content_width * $px;
	}

	%full_width {
		@extend %basic_width;
		@extend %max_width_1920;
	}
