/* FILE: main/base/__performance.scss */

//
// Performance tweaks
//





// `will-change`

	// @link  https://dev.opera.com/articles/css-will-change-property/
	// @link  https://www.youtube.com/watch?v=2vFrZXWiwIc
	// @link  http://snook.ca/archives/html_and_css/will-change



	// Navigation

		.main-navigation-container {

			@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {
				will-change: transform;
			}

		}

		.menu-toggle {

			@include media(
				( map_get( $breakpoint, 'm' ), 'max-width' ),
				( map_get( $breakpoint, 's' ), 'min-height' )
			) {
				will-change: transform;
			}

			@media
				( min-width: #{ map_get( $breakpoint, 'm' ) +px } ) and ( max-width: #{ ( map_get( $breakpoint, 'l' ) - 1 ) +px } ),
				( max-height: #{ ( map_get( $breakpoint, 's' ) - 1 ) +px } )
			{

				.is-active & {
					will-change: transform;
				}

			}

		}
