/* FILE: main/base/_accessibility.scss */

.screen-reader-text,
.is-style-screen-reader-text {
	@extend %screen_reader_hiding;
	padding: 0;
	margin: -1px;
	word-wrap: normal !important;
	border-width: 0;

	@include haf() {
		clip: auto !important;
		clip-path: none;
		display: block;
		width: auto;
		height: auto;
		#{$left}: $golden_minor +rem; // {{RTL}}
		top: $golden_minor +rem;
		padding: 1rem;
		margin: 0;
		font-size: 14px;
		font-size: .81rem;
		font-weight: 700;
		line-height: normal;
		text-decoration: none;
		background-color: #36b;
		color: #fff;
		z-index: 100000; /* Above WP toolbar. */
	}

}

.focus-position-static {

	@include haf() {
		position: static $important_base_accessibility;
		margin: 1px; // For focus outline
		text-align: center;
	}

}

// Do not show the outline on the skip link target.
#content[tabindex="-1"]:focus {
	outline: 0;
}
