/* FILE: main/base/_base.scss */

//
// Basic global styles
// Style helpers
//





// Elements

	a {
		text-decoration: underline;

		@include haf() {
			text-decoration: none;
		}

	}

	ul, ol {
		margin-bottom: $golden +em;
	}

	ul {
		list-style: square;

		li {

			&.icon,
			&.icon-bullet {
				position: relative;
				list-style: none;

				&::before {
					position: absolute;
					#{$left}: -$golden_minor - 1em;
					line-height: inherit;
				}

			}

		}

	}

	abbr {
		@extend %font_weight_600;
	}

	address {
		@extend %font_style_normal;
	}

	blockquote {
		@extend %line_height_golden;
		clear: none; // Required for outdented single post meta.
		padding: 0;

		&:first-child {
			margin-top: 0;
		}

		&::before {
			@extend %genericon;
			content: '\f106';
			float: $left; // {{RTL}}
			margin-#{$right}: .25em; // {{RTL}}
			line-height: 1;
			font-size: 1.62em;
			opacity: .5;
		}

	}

	code,
	pre {
		@extend %background_overlay_from_text_color;
	}

		pre code {
			font-size: 1em;

			&::before {
				display: none;
			}

		}

	hr {
		height: 1px;
		margin: ( power( 1 + $golden_minor, 3 ) +em ) 0;
		border-bottom-width: 1px;
		border-bottom-style: solid;

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			margin: ( power( 1 + $golden_minor, 4 ) +em ) 0;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	ins {
		text-decoration: none;
	}

	mark,
	ins,
	.highlight {
		padding: 0;
	}

	strong {
		@extend %font_weight_700;
	}

	table {
		border-collapse: collapse;
	}

		table,
		th, td,
		thead th, thead td,
		tfoot th, tfoot td {
			border-left-width: 0;
			border-right-width: 0;
		}

		thead {
			border-bottom-width: 2px;
			border-bottom-style: solid;
		}

		tbody tr:hover td,
		tbody tr:hover th {
			@extend %background_overlay_from_text_color_after;
		}

		th,
		tfoot td {
			border-top-width: 1px;
			border-bottom-width: 1px;
		}

		tfoot {
			border-top-width: 2px;
			border-top-style: solid;
		}

	#{$tags_margin_bottom} {

		&:last-child {
			margin-bottom: 0;
		}

	}



// Imports

	@import '_extender';

	@import '_performance';

	@import '_layout';

	@import '_classes';

	@import '_player';
