/* FILE: main/base/_elements.scss */

:focus {
	outline: thin dashed;
}

body {
	// Default body background.
	// @see  add_theme_support( 'custom-background', $args );
	background-color: #e3e3e4;
	overflow-x: hidden;

	&:focus {
		outline: none;
	}

}

a {
	@extend %break_words;
	text-decoration: underline;

	@include haf() {
		text-decoration: none;
	}

}

	a,
	.accent-color {
		color: map_get( $customize_options, 'color_accent' );
		color: var(--color_accent);
	}

	[href^="tel"] {
		white-space: nowrap;

		@include media( map_get( $breakpoint, 'm' ) ) {
			text-decoration: none;
			color: inherit;
		}

	}

hr {
	clear: both;
	box-sizing: inherit; // This is required due to Normalize.
	width: 100%;
	height: var(--hr_height);
	line-height: var(--hr_height);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: none !important;
	border-width: 0;

	&::before {
		content: '';
		display: inline-block;
		width: var(--hr_width);
		height: 100%;
		background: currentColor;
		vertical-align: top;
		speak: none;
	}

	&:not(.has-text-color)::before {
		opacity: var(--border_opacity);
	}

	&.alignleft,
	&.alignright {
		float: none;
		margin-bottom: var(--gap);
	}

		&.alignleft.alignleft {
			margin-right: 0;
			text-align: left;
		}

		&.alignright.alignright {
			margin-left: 0;
			text-align: right;
		}

	&.aligncenter.aligncenter {
		text-align: center;
	}

	&.alignwide.alignwide {
		width: 100%;
		max-width: var(--layout_width_content);
	}

	&.alignfull.alignfull {
		width: calc( 100vw - var(--scrollbar_width) );
		max-width: none;
	}

}

	hr,
	.wp-block-separator {

		&:not(:first-child) {
			margin-top: _pow( 1 + $ratio_min, 4 ) +em;
		}

		&:not(:last-child) {
			margin-bottom: _pow( 1 + $ratio_min, 4 ) +em;
		}

		&.is-style-wide,
		&.alignwide,
		&.alignfull {
			--hr_width: 100%;
		}

	}

		.has-text-color hr.is-style-wide,
		hr.is-style-wide.has-text-color {
			border-color: currentColor;
		}

abbr[title],
acronym[title],
dfn {
	cursor: help;
	text-decoration: none;
}

abbr {
	@extend %font_weight_600;
}

blockquote {
	@extend %font_size_golden_minor;
	@extend %font_weight_300;
	@extend %line_height_golden;
	clear: both;
	margin: ( $ratio +em ) 0;

	&:last-child {
		margin: 0;
	}

	&:first-child {
		margin-top: 0;
	}

	&::before {
		@extend %genericon;
		content: '\f106';
		float: $left; // {{RTL}}
		margin-#{$right}: .25em; // {{RTL}}
		line-height: .9;
		font-size: $ratio +em;
		opacity: .5;
	}

	&[style*="text-align:left"],
	&[style*="text-align: left"] {

		&::before {
			float: left;
			margin-left: 0;
			margin-right: .25em;
		}

	}

	&[style*="text-align:right"],
	&[style*="text-align: right"] {

		&::before {
			float: right;
			margin-right: 0;
			margin-left: .25em;
		}

	}

	&[style*="text-align:center"],
	&[style*="text-align: center"] {

		&::before {
			display: block;
			float: none;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: $ratio_min +em;
		}

	}

	cite {
		@extend %font_size_small;
		@extend %font_weight_400;
	}

		> cite {
			display: block;
			margin-top: $ratio_maj +em;
		}

	blockquote {
		@extend %font_size_1em;
	}

	p {
		max-width: none;
		margin-bottom: 1em;
	}

}

cite {
	@extend %font_style_normal;
	border-width: 0;

	&::before {
		content: '\2014\2002'; // &mdash; &ensp;
	}

}

q {

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}

}

mark,
ins,
.highlight {
	padding: ( $ratio_min / 2 +em ) 0;
	margin: 0 ( $ratio_min +em );
	box-decoration-break: clone;
}

	mark,
	.highlight {
		box-shadow: (  $ratio_min +em ) 0 0 map_get( $customize_options, 'color_accent' ),
		            ( -$ratio_min +em ) 0 0 map_get( $customize_options, 'color_accent' );
		box-shadow: (  $ratio_min +em ) 0 0 var(--color_accent),
		            ( -$ratio_min +em ) 0 0 var(--color_accent);
	}

s,
del {
	text-decoration: line-through;
	color: inherit;
}

figure {
	margin: 0 0 ( $ratio +em );

	&:last-child {
		margin-bottom: 0;
	}

}

audio,
embed,
iframe,
img,
object,
video {
	max-width: 100%;
	vertical-align: middle;
}

img {
	@extend %font_style_italic;
	height: auto;
}

iframe {
	border-width: 0;
	outline: 0;

	&:focus {
		outline: thin dashed;
	}

}

code {
	@extend %font_size_small;
	position: relative;
	display: inline-block;
	padding: 0 ( $ratio_maj +em );
	margin: 0 ( $ratio_min / 2 +em );
}

	// Not using nesting for additional wrapper in block editor.
	mark,
	ins,
	.highlight,
	.form-allowed-tags,
	.taxonomy-description,
	.archive-description {

		code {
			display: inline;
			padding: 0 ( $ratio_min +em );
			background: none;
			color: inherit;
		}

	}

pre {
	@extend %font_size_small;
	position: relative;
	padding: 1em;
	margin: 0 0 ( $ratio +em );
	overflow: auto;
	tab-size: 2;

	code {
		font-size: 1em;

		&::before {
			display: none;
		}

	}

}

code,
pre {
	@extend %shaded_background;
}

small {
	@extend %font_size_small;
}

menu,
ul,
ol {
	padding: 0;
	margin: 0;
	margin-#{$left}: $ratio_min + 1em; // {{RTL}}
	margin-bottom: $ratio +em;
}

	// Not using nesting for additional wrapper in block editor.
	li > {

		ul,
		ol {
			margin-bottom: 0;
		}

	}

ul {
	list-style: square;

	li {

		&.icon,
		&.icon-bullet {
			position: relative;
			display: list-item;
			list-style: none;
			font-family: inherit;
			line-height: inherit;
			vertical-align: baseline;
			speak: normal;

			&::before {
				position: absolute;
				#{$left}: -$ratio_min - 1em;
				line-height: inherit;
				speak: none;
			}

			&.genericons-neue::before {
				font-family: 'Genericons-Neue';
			}

		}

	}

}

dl {
	margin-top: 0;
	margin-bottom: $ratio +em;
}

dt {
	@extend %font_weight_700;
	margin-top: $ratio_maj +em;

	&:first-child {
		margin-top: 0;
	}

}

dd {
	margin-#{$left}: $ratio +em; // {{RTL}}
}

address {
	@extend %font_style_normal;
}

ins {
	text-decoration: none;
}

mark,
ins,
.highlight {
	padding: 0;
}

strong {
	@extend %font_weight_700;
}

table {
	@extend %line_height_golden_minor;
	width: 100%;
	margin: 0 0 ( $ratio +em );
	border-width: 2px;
	border-style: solid;
	border-collapse: collapse;
}

	caption {
		@extend %font_style_italic;
		padding: 1em 0;
		text-align: $left; // {{RTL}}
		caption-side: bottom;
	}

	th,
	td {
		padding: ( $ratio_maj +em ) 1em;
		border-width: 1px;
		border-style: solid;
		vertical-align: top;
	}

	table,
	th, td,
	thead th, thead td,
	tfoot th, tfoot td {
		border-left-width: 0;
		border-right-width: 0;
	}

	thead {
		border-bottom-width: 2px;
		border-bottom-style: solid;
	}

	th,
	tfoot td {
		@extend %font_weight_700;
		text-align: $left; // {{RTL}}
		border-top-width: 1px;
		border-bottom-width: 1px;
	}

	tfoot {
		border-top-width: 2px;
		border-top-style: solid;
	}

svg {
	fill: currentColor;
}

@if not variable-exists( 'selector_editor_wrapper' ) {
	#{ $selectors_margin_bottom } {
		margin-top: 0;
		margin-bottom: var(--gap);

		&:last-child {
			margin-bottom: 0;
		}

	}
}
