/* FILE: main/base/_layout.scss */

// Site container

	.site {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}

// Boxed / Fullwidth

	.site-layout-boxed {

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding: 30px;
		}

		.site {
			max-width: map_get( $customize_options, 'layout_width_site' );
			max-width: var(--layout_width_site);
		}

	}

	.site-layout-fullwidth {}
