/* FILE: woocommerce/sidebar/__widget-cart.scss */

//
// Widget: Cart
//





.widget_shopping_cart {

	&_content {
		display: flex;
		flex-direction: column;
	}

	.product_list_widget {

		.sidebar & {

			@include media( map_get( $breakpoint, 'l' ) ) {
				max-height: 50vh;
				overflow-y: auto;
			}

		}

		li {
			padding: ( $golden_major +rem ) 0;
		}

	}

	.remove {
		@extend %wc_indent_text_for_icon_only;
		float: $right; // {{RTL}}
		margin-#{$left}: $golden_minor +em; // {{RTL}}
		line-height: 1;
		font-size: 1rem;

		&::before {
			content: '\f405';
		}

	}

	.quantity {
		display: block;
		color: inherit;
		opacity: .66;
	}

	.total {
		padding: ( $golden +em ) 0 0;
		margin: ( $golden +em ) 0 0;
		border-top: 4px double;
		overflow: hidden;

		strong {
			text-transform: uppercase;
			font-weight: 400;
		}

		.amount {
			float: $right; // {{RTL}}
			margin-#{$left}: $golden_minor +em; // {{RTL}}
			line-height: 1;
			font-size: $golden_minor / 2 + 1em;
		}

	}

	.button {
		display: block;

		&s {
			order: -10;
			margin-bottom: $golden +em;

			.sidebar & {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-left: -.5rem;
				margin-right: -.5rem;
			}

		}

		.sidebar & {
			flex: 1 1 auto;
			margin: .5rem;
		}

	}

}
