/* FILE: woocommerce/sidebar/__widget-recent-reviews.scss */

//
// Widget: Recent Reviews
//





.widget_recent_reviews {

	.product_list_widget .star-rating {
		display: inline-block;
		margin: 0;
		margin-#{$right}: $golden_minor +em;
	}

	.reviewer {
		display: inline-block;
		font-size: 1em - $golden_minor / 4;
		font-style: italic;
	}

}
