/* FILE: woocommerce/sidebar/__widgets.scss */

//
// Widgets WooCommerce
//





// Widgets global styles

	// Product lists

		.product_list_widget {

			li {

				a {
					font-weight: 700;
				}

				.widget & {
					padding: ( $golden_major +rem ) 0;
					overflow: hidden;

					.fl-module & {
						padding-top: 1em;
						padding-bottom: 1em;
					}

				}

			}

			a {
				display: block;
				margin-bottom: $golden_minor +em;
			}

			img {
				float: $right; // {{RTL}}
				width: pow( $golden, 2 ) +em;
				margin-#{$left}: 1em;
			}

			.star-rating {
				margin-bottom: $golden_major +em;
			}

		}



	// Product counts

		.widget.woocommerce .count {
			float: $right; // {{RTL}}
			margin-#{$left}: $golden_minor +em; // {{RTL}}
			font-size: 1em;
		}



// Imports

	@import '_widget-cart';

	@import '_widget-layered-nav';

	@import '_widget-layered-nav-filters';

	@import '_widget-price-filter';

	@import '_widget-product-categories';

	// @import '_widget-products';

	// @import '_widget-product-search';

	@import '_widget-product-tags';

	// @import '_widget-recently-viewed';

	@import '_widget-recent-reviews';

	// @import '_widget-top-rated-products';

	// WC2.6+

	@import '_widget-average-rating-filter';
