/* FILE: woocommerce/sidebar/_widgets.scss */

// Product lists.
.product_list_widget {

	li {

		a {
			font-weight: 700;
		}

		.widget & {
			padding: ( $ratio_maj +rem ) 0;
			overflow: hidden;

			.fl-module & {
				padding-top: 1em;
				padding-bottom: 1em;
			}

		}

	}

	a {
		display: block;
		margin-bottom: $ratio_min +em;
	}

	img {
		float: $right; // {{RTL}}
		width: _pow( $ratio, 2 ) +em;
		margin-#{$left}: 1em;
	}

	.star-rating {
		margin-bottom: $ratio_maj +em;
	}

}

// Product counts.
.widget.woocommerce .count {
	float: $right; // {{RTL}}
	margin-#{$left}: $ratio_min +em; // {{RTL}}
	font-size: 1em;
}
