/* FILE: woocommerce/sidebar/_widget-recent-reviews.scss */

.widget_recent_reviews {

	.product_list_widget .star-rating {
		display: inline-block;
		margin: 0;
		margin-#{$right}: $ratio_min +em;
	}

	.reviewer {
		display: inline-block;
		font-size: 1em - $ratio_min / 4;
		font-style: italic;
	}

}
