/* FILE: woocommerce/tabs/__additional-information.scss */

//
// Tab: Additional Information
//



.shop_attributes {
	margin: 0;
	border-width: 0;
	border-collapse: separate;

	td,
	th {
		padding: ( $golden_major +rem ) ( $golden +rem );
		border-width: 0;

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			display: block;
			padding: $golden_major +rem;
		}

	}

	th {
		width: auto;
		line-height: 1.618rem;
		text-align: $right; // {{RTL}}
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1em - $golden_minor / 2;
		border-top-width: 1px;
		border-top-style: solid;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-#{$right}-width: 1px; // {{RTL}}
		border-#{$right}-style: solid; // {{RTL}}

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			padding-bottom: 0;
			text-align: inherit;
			border-width: 0;
			border-top-width: 1px;
		}

	}

		tr:first-child th {
			border-top-width: 0;
		}

		tr:last-child th {
			border-bottom-width: 0;
		}

	td {
		border-bottom-width: 1px;
		border-bottom-style: dotted;

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			padding-top: 0;
			border-width: 0;
		}

	}

		tr:last-child td {
			border-bottom-width: 0;
		}

	p {
		padding: 0;
		margin: 0 0 1em;

		&:last-child {
			margin-bottom: 0;
		}

	}

}
