/* FILE: starter/content/_content.scss */

//
// Basic WordPress content styles
//





// Imports

	@import 'wp/wp';

	@import 'forms/forms';

	@import '_base';

	@import 'media/media';

	@import 'formats/formats';

	@import 'pagination/pagination';

	@import 'meta/meta';

	@import 'comments/comments';

	@import 'sidebar/sidebar';

	@import 'plugins/plugins';
