/* FILE: starter/content/base/_modifiers.scss */

//
// Custom CSS class:
//
// Alignment:
// - has-[left/center/right]-content
// - has-[left/center/right]-text-align
// - has-[top/middle/baseline/bottom]-vertical-align
//
// Box model:
// - has-background
// - has-no-margin
// - has-no-margin-[top/right/bottom/left/vertical/horizontal]
// - has-[phi/golden/no]-padding
// - has-no-padding-[top/right/bottom/left]
// - has-[half/phi/full]-screen-min-height
//
// Others:
// - has-drop-cap
// - has-dropcap-text
// - has-hidden-overflow
// - has-nowrap-white-space
//
// Typography:
// - has-[extra-small/small/smaller/regular/normal/larger/large/extra-large]-font-size
// - has-[italic/normal]-font-style
// - has-[100/200/300/400/500/600/700/800/900]-font-weight
// - has-[extra-small/small/regular/medium]-line-height
// - has-uppercase-text-transform
//

// Alignment

	// Text

		.has-#{ $left }-text-align,
		.has-#{ $left }-content {
			text-align: $left $important_base_modifiers; // {{RTL}}
		}

		.has-center-text-align,
		.has-center-content {
			text-align: center $important_base_modifiers;
		}

		.has-#{ $right }-text-align,
		.has-#{ $right }-content {
			@include media( map_get( $breakpoint, 'm' ) ) {
				text-align: $right $important_base_modifiers; // {{RTL}}
			}
		}

	// Vertical

		.has-top-vertical-align {
			vertical-align: top $important_base_modifiers;
		}

		.has-middle-vertical-align {
			vertical-align: middle $important_base_modifiers;
		}

		.has-baseline-vertical-align {
			vertical-align: baseline $important_base_modifiers;
		}

		.has-bottom-vertical-align {
			vertical-align: bottom $important_base_modifiers;
		}

// Box model

	.has-background {
		@extend .has-phi-padding;
	}

	p.has-background {
		// Need to use absolute units due to possible
		// custom font size set on the paragraph block.
		padding: 28px $important_base_modifiers;
	}

	p.has-phi-padding,
	p.has-golden-padding {
		@extend .has-phi-padding;
	}

	p.has-no-padding {
		@extend .has-no-padding;
	}

	// Height

		.has-half-screen-min-height {
			min-height: 50vh $important_base_modifiers;
		}

			[class^="wp-block-"].has-half-screen-min-height {
				@extend .has-half-screen-min-height;
			}

		.has-phi-screen-min-height {
			min-height: ( $golden_major * 100vh ) $important_base_modifiers;
		}

			[class^="wp-block-"].has-phi-screen-min-height {
				@extend .has-phi-screen-min-height;
			}

		.has-full-screen-min-height {
			min-height: 100vh $important_base_modifiers;
		}

			[class^="wp-block-"].has-full-screen-min-height {
				@extend .has-full-screen-min-height;
			}

	// Padding

		.has-phi-padding,
		.has-golden-padding {
			padding: ( $golden +em ) $important_base_modifiers;
		}

		.has-no-padding {
			padding: 0 $important_base_modifiers;
		}

		.has-no-padding-top {
			padding-top: 0 $important_base_modifiers;
		}

		.has-no-padding-right {
			padding-right: 0 $important_base_modifiers;
		}

		.has-no-padding-bottom {
			padding-bottom: 0 $important_base_modifiers;
		}

		.has-no-padding-left {
			padding-left: 0 $important_base_modifiers;
		}

	// Margin

		.has-no-margin {
			margin: 0 $important_base_modifiers;
		}

		.has-no-margin-top {
			margin-top: 0 $important_base_modifiers;
		}

		.has-no-margin-right {
			margin-right: 0 $important_base_modifiers;
		}

		.has-no-margin-bottom {
			margin-bottom: 0 $important_base_modifiers;
		}

		.has-no-margin-left {
			margin-left: 0 $important_base_modifiers;
		}

		.has-no-margin-horizontal {
			margin-left: 0 $important_base_modifiers;
			margin-right: 0 $important_base_modifiers;
		}

		.has-no-margin-vertical {
			margin-top: 0 $important_base_modifiers;
			margin-bottom: 0 $important_base_modifiers;
		}

// Others

	.has-hidden-overflow {
		overflow: hidden $important_base_modifiers;
	}

	.has-nowrap-white-space {
		@include media( map_get( $breakpoint, 'l' ) ) {
			white-space: nowrap $important_base_modifiers;
		}
	}

	.has-dropcap-text,
	p.has-drop-cap:not(:focus) {
		&::first-letter {
			@extend %drop-cap;
		}
	}

// Typography

	// Font size

		.has-extra-small-font-size {
			@extend %font_size_tiny;
		}

		.has-small-font-size {
			@extend %font_size_small;
		}

		.has-smaller-font-size {
			@extend %font_size_smaller;
		}

		.has-regular-font-size,
		.has-normal-font-size {
			@extend %font_size_1em;
		}

		.has-larger-font-size {
			@extend %font_size_larger;
		}

		.has-large-font-size {
			@extend %font_size_golden_minor;
		}

		.has-extra-large-font-size {
			@extend %font_size_golden;
		}

	// Font style

		.has-italic-font-style {
			@extend %font_style_italic;
		}

		.has-normal-font-style {
			@extend %font_style_normal;
		}

	// Font weight

		@for $i from 1 through 9 {
			.has-#{ $i * 100 }-font-weight {
				@extend %font_weight_#{ $i * 100 };
			}
		}

	// Line height

		.has-extra-small-line-height {
			@extend %line_height_1;
		}

		.has-small-line-height {
			@extend %line_height_golden_minor;
		}

		.has-regular-line-height,
		.has-medium-line-height {
			@extend %line_height_golden;
		}

	// Text transform

		.has-uppercase-text-transform {
			text-transform: uppercase $important_base_modifiers;
		}
