/* FILE: main/footer/_footer.scss */

//
// Site footer and info
//
// For footer widgets see `sidebar` section.
//





// Footer

	.site-footer {
		@extend %font_size_smaller;
		@extend .clearfix;
		position: relative;

		&-area {

			&-inner {
				@extend %content_width;
				position: relative; // Above footer image;

				.footer-layout-fullwidth & {
					@extend %full_width;
				}

			}

		}



		// Footer background image

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
			}

	}



// Imports

	@import '_site-info';
