/* FILE: main/forms/__post-password.scss */

//
// Password protected post form
//





.post-password-form {

	&::before {
		@extend %genericon;
		content: '\f470';
		display: block;
		margin-bottom: 1rem;
		line-height: 1;
		font-size: power( $golden, 3 ) +em;
		vertical-align: top;
	}

}
