/* FILE: main/forms/_buttons.scss */

%button_base {
	@extend %line_height_small;
	@extend %font_weight_700;
	display: inline-block;
	padding: 1em 2em;
	margin-top: 2px; // Allow some breathing when stacked
	margin-bottom: 2px; // Allow some breathing when stacked
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: $button_font_size +em;
	letter-spacing: $golden_minor / 6 +em;
	border: 2px solid currentColor;
	border-radius: 0;
	cursor: pointer;
	transition:
		background ( $small_animation_speed +s ),
		color ( $small_animation_speed +s ),
		border-color ( $small_animation_speed +s );

	form & {
		// No need for stacked breathing in forms...
		margin-top: 0;
		margin-bottom: 0;
	}

	div[class*="hover-color-"] & {
		transition: none;
	}

	@include haf() {
		text-decoration: none;
		border-color: transparent;
	}

	&:hover {
		outline: 0;
	}

	&:focus {
		outline: thin dashed;
	}

	&:active {
		outline: 0;
		opacity: .9;
	}

	&:disabled {
		@extend %font_weight_400;
		background: none;
		color: inherit;
		box-shadow: none;
		opacity: .5;
		cursor: not-allowed;
	}

}

#{$selectors_button},
.wp-block-button__link {
	@extend %button_base;
}

#{$selectors_button},
#{$selectors_button_beaver_builder},
.main-navigation-container .button > a {
	@extend %colors_button_default;
}
