/* FILE: main/forms/_forms.scss */

//
// Forms
//





// Placeholders

	::placeholder {
		font-weight: 300;
		opacity: .8;
	}



// Global styles

	input,
	select,
	textarea {
		border-color: transparent;
		border-bottom-color: currentColor;
		transition: border-color ( $small_animation_speed +s );

		&:focus {
			border-color: currentColor;
		}

	}

	textarea:invalid {
		max-height: $golden + 2 * $golden_major + em;
		overflow-y: hidden;
	}

	select {
		padding: calc( #{ $golden_major +em } - 2px ); // Compensating for border width
	}



// Input fields in fullwidth containers

	.fullwidth {

		.site & {

			input[type],
			select,
			textarea {
				width: 100%;
				max-width: 100%;
			}

		}

	}



// Imports

	@import '_buttons';

	@import '_search';

	@import '_post-password';

	@import '_comment';
