/* FILE: main/forms/_post-password.scss */

.post-password-form {
	max-width: 36em;
	max-width: var(--layout_width_entry_content);
	padding: ( _pow( $ratio, 2 ) +em ) 12%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-width: 2px;
	border-style: dashed;

	label,
	input {
		display: block;
		width: 100%;
		text-align: inherit;
	}

	label {
		margin-bottom: 1em;

		input {
			margin-top: $ratio_min + em;
		}

	}

	&::before {
		@extend %genericon;
		content: '\f470';
		display: block;
		margin-bottom: 1rem;
		line-height: 1;
		font-size: _pow( $ratio, 3 ) +em;
		vertical-align: top;
	}

}
