/* FILE: main/forms/_reset.scss */

form {
	margin: 0 0 ( $ratio +em );
}

fieldset {
	padding: 0;
	margin: 0;
	border-width: 0;
}

button,
input,
select,
textarea {
	max-width: 100%;
	padding: $ratio_maj +em;
	line-height: normal;
	font-size: 1em;
	font-family: inherit;
	background-color: transparent;
	color: inherit;
	border-width: 2px;
	border-style: solid;
	outline: 0;
	vertical-align: baseline;
}

textarea,
select[multiple],
select[size] {
	height: auto;
	line-height: $ratio;
}

[type="search"] {
	box-sizing: border-box;
}

:invalid {
	box-shadow: none;
}
