/* FILE: main/forms/_search.scss */

form[role="search"],
.form-search,
.search-form {
	display: block;
	position: relative;
	max-width: 100%;
	margin: 0;
	text-align: $left; // {{RTL}}

	[type="search"],
	.search-field {
		position: relative;
		width: 100%;
		text-align: inherit;
		z-index: 0;
	}

	.site & {

		&::before {
			@extend %genericon;
			content: '\f400';
			position: absolute;
			width: _pow( $golden, 2 ) +rem;
			height: 100%;
			#{$right}: 0; // {{RTL}}
			top: -.05em;
			margin: -2px 0;
			text-align: center;
			font-size: $golden +rem;
			z-index: 1;
		}

		[type="submit"],
		.search-submit {

			@include haf( ( '&', 'h', 'f', 'a' ) ) {
				@extend %form_search_submit_button;
			}

		}

		label {
			font-size: 1em;
		}

	}

	.site .fl-builder-content .fl-module & [type="submit"] {

		@include haf( ( '&', 'h', 'f', 'a' ) ) {
			@extend %form_search_submit_button;
		}

	}

	label {
		// Label wraps the search input field and contains .screen-reader-text span
		display: block;
		padding: 0;
	}

	input[type="search"],
	.search-field {
		padding-#{$right}: _pow( $golden, 2 ) +rem; // {{RTL}}
	}



	// Form on search results page

		.search-results.no-widgets-sidebar .site-main & {
			max-width: 36em;
			max-width: var(--layout_width_entry_content);
			margin-left: auto;
			margin-right: auto;
		}

}



%form_search_submit_button {
	position: absolute;
	width: _pow( $golden, 2 ) +rem;
	height: 100%;
	#{$right}: 0; // {{RTL}}
	top: 0;
	padding: 0;
	text-indent: -999em;
	background: none;
	color: inherit;
	border-width: 0;
	box-shadow: none;
	overflow: hidden;
	z-index: 2;
}
