/* FILE: beaver-builder-editor.scss */
#fl-field-equal_height { display: none; }

.fl-lightbox .fl-builder-settings-fields select { background-image: none; -webkit-appearance: menulist; -moz-appearance: menulist; }

body .fl-builder-lightbox .fl-lightbox { width: 720px; }

body .fl-builder-settings-tab { width: 100%; }

.wp-editor-wrap button { -webkit-box-shadow: none; box-shadow: none; }

.ui-draggable-dragging .fl-lightbox-content-wrap { opacity: 0; }

.ui-draggable-dragging.fl-lightbox { background: transparent; border: 1px dotted #dfdfdf; -webkit-box-shadow: rgba(0, 0, 0, 0.33) 0 4px 20px; box-shadow: rgba(0, 0, 0, 0.33) 0 4px 20px; }

.fl-builder-block-template-image { border: 1px solid rgba(0, 0, 0, 0.2); }

[class*="fl-builder-blocks-section-wm-"], [class*="fl-builder-blocks-section-theme-"] { counter-reset: templates; }

[class*="fl-builder-blocks-section-wm-"] .fl-builder-block-title::before, [class*="fl-builder-blocks-section-theme-"] .fl-builder-block-title::before { counter-increment: templates; content: counter(templates) ". "; }

.fl-responsive-preview .fl-row-fixed-width .fl-row-content-wrap, .fl-responsive-preview .fl-row-layout-full-fixed .fl-row-fixed-width > .fl-col-group { margin-left: auto; margin-right: auto; }

.fl-responsive-preview .fl-col-small { max-width: 100%; }

.fl-row:not(:hover) { z-index: 0; }

.fl-col-content .fl-module:hover { position: relative; z-index: 999; }

.fl-builder-edit .site-header { z-index: 1; }

.fl-builder-edit .site-header, .fl-builder-edit .site-header a { pointer-events: none; }

#primary { max-width: none; }

.site .hide-accessibly { position: relative; }

.site .hide-accessibly:not(:hover)::before { content: '\f404'; display: block; position: absolute; left: 50%; top: 50%; font-size: 3.62em; font-family: 'Genericons-Neue'; font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; color: #f00; text-shadow: 0 1px 1px #fff; speak: none; z-index: 100; pointer-events: none; opacity: .33; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }

.fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; }
