/* FILE: custom-styles-editor.scss */
/* FILE: main/custom-styles/_editor-style.scss */
/* FILE: main/custom-styles/__extenders.scss */
.button, button, [type="button"], [type="reset"], [type="submit"], .child-page .more-link, .site .fl-builder-content .fl-module .button, .site .fl-builder-content .fl-module button, .site .fl-builder-content .fl-module [type="button"], .site .fl-builder-content .fl-module [type="reset"], .site .fl-builder-content .fl-module [type="submit"], .site .fl-builder-content .fl-module .child-page .more-link, .main-navigation-container .button > a, .menu-toggle, mark, #page mark, .highlight, #page .highlight, .pagination .current, .bypostauthor > .comment-body .comment-author::before, .widget_calendar tbody a, .widget .tagcloud a:hover, .widget .tagcloud a:focus, .widget .tagcloud a:active, .set-colors-accent, .set-colors-accent > .fl-row-content-wrap, .set-colors-accent > .fl-col-content, .hover-color-accent.fl-col:hover .fl-col-content { /*[*/ background-color: #273a7d; color: #fefeff; /*]*/ /*// background-color: [[color_accent]]; color: [[color_accent_text]]; //*/ }

a, .accent-color { /*[*/ color: #273a7d; /*]*/ /*// color: [[color_accent]]; //*/ }

.button:focus, button:focus, [type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus, .child-page .more-link:focus, .site .fl-builder-content .fl-module .button:focus, .site .fl-builder-content .fl-module button:focus, .site .fl-builder-content .fl-module [type="button"]:focus, .site .fl-builder-content .fl-module [type="reset"]:focus, .site .fl-builder-content .fl-module [type="submit"]:focus, .site .fl-builder-content .fl-module .child-page .more-link:focus, .main-navigation-container .button > a:focus, .menu-toggle:focus { /*[*/ outline: thin dashed #273a7d; /*]*/ /*// outline: thin dashed [[color_accent]]; //*/ }

.mce-content-body, .outdent-content::before { /*[*/ background-color: #fefeff; color: #535354; border-color: rgba(83, 83, 84, 0.2); /*]*/ /*// background-color: [[color_content_background]]; color: [[color_content_text]]; border-color: [[color_content_text(20)]]; //*/ }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .post-navigation, .dropcap-text::first-letter { /*[*/ color: #232324; /*]*/ /*// color: [[color_content_headings]]; //*/ }

/* FILE: main/custom-styles/__base.scss */
body { background-color: #e3e3e4; }

*, *::after, *::before { border-color: inherit; }

::-webkit-input-placeholder, :disabled::-webkit-input-placeholder { color: inherit !important; }

::-moz-placeholder, :disabled::-moz-placeholder { color: inherit !important; }

:-ms-input-placeholder, :disabled:-ms-input-placeholder { color: inherit !important; }

::placeholder, :disabled::placeholder { color: inherit !important; }

button, input, select, textarea { background-color: transparent; }

.gallery-caption { background-color: rgba(0, 0, 0, 0.8); color: #fdfcfc; }

.color-error, .fl-builder-content .color-error, .site .fl-builder-content .color-error.button, .site .fl-builder-content .color-error.button:hover, .hover-color-error.fl-col:hover .fl-col-content { background-color: rgba(238, 0, 0, 0.85); color: #fff; }

.set-colors-error, .set-colors-error > .fl-row-content-wrap, .set-colors-error > .fl-col-content { background-color: rgba(238, 0, 0, 0.85); color: #fff; }

.color-info, .fl-builder-content .color-info, .site .fl-builder-content .color-info.button, .site .fl-builder-content .color-info.button:hover, .hover-color-info.fl-col:hover .fl-col-content { background-color: rgba(0, 85, 238, 0.85); color: #fff; }

.set-colors-info, .set-colors-info > .fl-row-content-wrap, .set-colors-info > .fl-col-content { background-color: rgba(0, 85, 238, 0.85); color: #fff; }

.color-success, .fl-builder-content .color-success, .site .fl-builder-content .color-success.button, .site .fl-builder-content .color-success.button:hover, .hover-color-success.fl-col:hover .fl-col-content { background-color: rgba(0, 119, 34, 0.85); color: #fff; }

.set-colors-success, .set-colors-success > .fl-row-content-wrap, .set-colors-success > .fl-col-content { background-color: rgba(0, 119, 34, 0.85); color: #fff; }

.color-warning, .fl-builder-content .color-warning, .site .fl-builder-content .color-warning.button, .site .fl-builder-content .color-warning.button:hover, .hover-color-warning.fl-col:hover .fl-col-content { background-color: rgba(255, 221, 0, 0.85); color: #310; }

.set-colors-warning, .set-colors-warning > .fl-row-content-wrap, .set-colors-warning > .fl-col-content { background-color: rgba(255, 221, 0, 0.85); color: #310; }

.site .fl-row[class*="set-colors-"], .site .fl-col[class*="set-colors-"] { background: none; }

div[class*="set-colors-"] a, div[class*="set-colors-"] h1, div[class*="set-colors-"] h2, div[class*="set-colors-"] h3, div[class*="set-colors-"] h4, div[class*="set-colors-"] .h1, div[class*="set-colors-"] .h2, div[class*="set-colors-"] .h3, div[class*="set-colors-"] .h4, div[class*="set-colors-"] .dropcap-text::first-letter { color: inherit; }

/* FILE: main/custom-styles/__accent.scss */
mark, .highlight { /*[*/ box-shadow: 0.38em 0 0 #273a7d, -0.38em 0 0 #273a7d; /*]*/ /*// box-shadow:  .38em 0 0 [[color_accent]], -.38em 0 0 [[color_accent]]; //*/ }

@media only screen and (max-width: 41.9375em) { .pagination a { /*[*/ background-color: #273a7d; color: #fefeff; /*]*/ /*// background-color: [[color_accent]]; color: [[color_accent_text]]; //*/ } }

/* FILE: main/custom-styles/__typography-editor.scss */
.mce-content-body { line-height: 1.62; }

.mce-content-body h1, .mce-content-body .h1 { line-height: 1.19; }

.mce-content-body h2, .mce-content-body .h2 { line-height: 1.19; }

.mce-content-body h3, .mce-content-body .h3 { line-height: 1.38; }

.mce-content-body h4, .mce-content-body .h4 { line-height: 1.38; }

.mce-content-body h5, .mce-content-body .h5 { line-height: 1.62; }

.mce-content-body h6, .mce-content-body .h6 { line-height: 1.62; }

.mce-content-body .display-1 { line-height: 1.3325; }

.mce-content-body .display-2 { line-height: 1.2375; }

.mce-content-body .display-3 { line-height: 1.20583; }

.mce-content-body .display-4 { line-height: 1.19; }

.mce-content-body, .mce-content-body .font-body { font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.mce-content-body .font-headings, .mce-content-body .font-headings-primary { font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; }

.mce-content-body .font-logo, .mce-content-body .font-headings-secondary { font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; }

.mce-content-body .font-inherit { font-family: inherit; }

/**if(typography_custom_fonts)

	.mce-content-body,
	.mce-content-body .font-body {
		font-family: [[typography_fonts_text]];
	}

	.mce-content-body .font-headings,
	.mce-content-body .font-headings-primary,
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		font-family: [[typography_fonts_headings]];
	}

	.mce-content-body .font-logo,
	.mce-content-body .font-headings-secondary,
	h1.display-1, h2.display-1, h3.display-1,
	.display-1.h1, .display-1.h2, .display-1.h3,
	h1.display-2, h2.display-2, h3.display-2,
	.display-2.h1, .display-2.h2, .display-2.h3,
	h1.display-3, h2.display-3, h3.display-3,
	.display-3.h1, .display-3.h2, .display-3.h3,
	h1.display-4, h2.display-4, h3.display-4,
	.display-4.h1, .display-4.h2, .display-4.h3 {
		font-family: [[typography_fonts_logo]];
	}

endif(typography_custom_fonts)**/
html { max-width: 1240px; padding: 20px; }

body { width: 100%; max-width: 38em; max-width: 70ch; font-size: 16px; }

body.post-type-page { max-width: 100%; }

body.page-template-sidebar { padding-right: 38% !important; }

body *, body *::after, body *::before { border-color: inherit; }

body .mejs-container, body .wp-playlist { margin: 0 !important; }

.wpview-content { margin: 0 0 1.62em; }

.mce-item-table, .mce-item-table td, .mce-item-table th, .mce-item-table caption { border-width: 1px; border-style: solid; }

blockquote.alignleft { margin-left: 0; }

blockquote.alignright { margin-right: 0; }

img, embed, iframe, object, video { max-width: 100%; }

embed, iframe, object { max-height: 320px; }

embed, iframe, object, video { width: 100% !important; }

/* FILE: main/custom-styles/__editor-outdented-layout.scss */
.outdent-content { position: relative; padding: 8px; margin-left: -10px; margin-right: -10px; border-width: 2px; border-style: dashed; }

.outdent-content::before { content: '\25C0\2002\2261\2002\25b6'; position: absolute; left: 50%; bottom: 100%; padding: 0 0.38em; font-size: 12px; border-width: 2px; border-style: dashed; border-radius: 2em; -webkit-transform: translateX(-50%) translateY(50%); -ms-transform: translateX(-50%) translateY(50%); transform: translateX(-50%) translateY(50%); }

.page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > h2:not(:first-child), .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > .outdent-heading:not(:first-child) { margin-top: 3.62674rem; }

@media only screen and (min-width: 80em) { .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > h2:not(:first-child), .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > .outdent-heading:not(:first-child) { margin-top: 12%; } }

@media only screen and (min-width: 80em) { .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) { padding-left: 41.056% !important; }
  .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > h2, .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > .outdent-heading { width: 169.65255%; height: 1.62em; padding-right: 113.5722%; margin-left: -69.65255%; margin-bottom: -1.62em; }
  .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > h2.uppercase, .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > .outdent-heading.uppercase { letter-spacing: .075em; }
  .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > h2 + h3, .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) > .outdent-heading + h3 { margin-top: 0; }
  .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) .outdent-content { width: calc( 169.65255% + 20px); margin-top: 12%; margin-bottom: 12%; margin-left: calc( -69.65255% - 10px); margin-right: -10px; }
  .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) .outdent-content:first-child { margin-top: 0; }
  .page-layout-outdented:not(.content-layout-no-paddings):not(.page-template-sidebar) .outdent-content:last-child { margin-bottom: 0; } }
