/* FILE: customize-preview.scss */
[data-customize-partial-type="nav_menu_instance"] .customize-partial-edit-shortcut, .site-branding .customize-partial-edit-shortcut, .intro-media .customize-partial-edit-shortcut { top: 50%; -webkit-transform: translateY(-15px); -ms-transform: translateY(-15px); transform: translateY(-15px); }

.widget [data-customize-partial-type="nav_menu_instance"] .customize-partial-edit-shortcut { display: none; }

.site-branding-text .customize-partial-edit-shortcut { top: 100%; margin-top: 6px; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.footer-area-site-info .customize-partial-edit-shortcut { top: 0; }

.site .customize-partial-edit-shortcut button { line-height: 1; background: #0085ba; border: 2px solid #fff; }

.site .customize-partial-edit-shortcut button:hover { border-color: #0085ba; }

.site-branding-text .customize-partial-edit-shortcut button { left: 0; }

[dir="rtl"] .site-branding-text .customize-partial-edit-shortcut button { left: auto; right: 0; }

.site-description .customize-partial-edit-shortcut button { left: 32px; }

[dir="rtl"] .site-description .customize-partial-edit-shortcut button { left: auto; right: 32px; }

.footer-area-site-info .customize-partial-edit-shortcut button { left: -15px; }

.site-branding, .site-header-inner > nav, .site-branding-text, .site-info-inner > div, .site-info-inner > nav { position: relative; }
