/* FILE: woocommerce/pages/__cart.scss */

//
// Page: Cart
//





.woocommerce-cart {

	.woocommerce {
		@extend %wc_clearfix;

		> form {

			@include media( map_get( $breakpoint, 'l' ) ) {
				float: $left; // {{RTL}}
				width: percentage( .54 );
			}

			@include media( map_get( $breakpoint, 'xl' ) ) {
				width: percentage( $golden_major );
			}

		}

	}



	.cart {
		margin: 0;
		border-bottom-width: 0;

		td {

			@include media( map_get( $breakpoint, 'l' ) ) {
				padding-top: $golden +rem;
				padding-bottom: $golden +rem;
			}

			&::after {
				height: 100%;
				margin: 0;
				background-color: transparent;
				opacity: 1;

				@include media( map_get( $breakpoint, 'l' ) ) {
					border-top-width: 1px;
					border-top-style: solid;
				}

			}

		}



		.actions {
			padding: ( pow( 1 + $golden_minor, 4 ) +em ) 0 0;
			border-bottom-width: 0;

			@include media( map_get( $breakpoint, 'l' ) ) {
				border-top-width: 2px;
				border-top-style: solid;
				text-align: $right;
			}

			.button {
				width: 100%;
				margin-top: $golden +em;
				box-sizing: border-box; // Reset required for when displayed in shop table

				@include media( map_get( $breakpoint, 'l' ) ) {
					width: auto;
					margin-top: 0;
				}

			}

		}



		.coupon .button {
			width: 100%;
			margin-top: 1em;
		}

	}



	.coupon {
		@extend %coupon_box;

		@include media( map_get( $breakpoint, 'l' ) ) {
			float: $left; // {{RTL}}
			min-width: 50%;
			max-width: 24em;
		}

	}

}

.cart-table-products-count {
	font-weight: 400;
}



// Collaterals

	.cart-collaterals {
		padding: 8%;
		margin-top: pow( $golden, 2 ) +em;
		border-width: 2px;
		border-style: dashed;

		@include media( map_get( $breakpoint, 'l' ) ) {
			float: $right; // {{RTL}}
			width: percentage( .46 - .04 );
			padding: 4%;
			margin-top: 0;
		}

		@include media( map_get( $breakpoint, 'xl' ) ) {
			width: percentage( $golden_minor - .04 ); // Same as sidebar plus 4% due to padding with border around.
		}

	}



// Totals and shipping calculator

	.cart_totals {

		.shop_table {
			margin-bottom: 2em;
		}

		.checkout-button {
			width: 100%;
			padding: ( $golden_minor + 1em ) ( $golden_minor +em );
			font-weight: 700;
		}

		.button-continue-shopping {
			width: 100%;
			margin-top: 1em;

			&:not(:hover):not(:focus):not(:active) {
				background-color: transparent;
				color: inherit;
			}

			&::before {
				@extend %wc_icon_vertical_align_middle;
				@include rtl_property( content, '\21A9', '\21AA' ); // {{RTL}}
				display: inline-block;
				margin-#{$right}: $golden_minor +em; // {{RTL}}
				line-height: $golden_major;
				font-size: 1em + $golden_minor;
			}

		}

	}



	.order-total {

		td {
			line-height: 1;
			font-size: $golden_minor / 2 + 1em;
		}

		small {
			display: block;
			margin-top: $golden_major +em;
			font-size: 1rem - $golden_minor / 2;
			font-weight: 400;
		}

	}



	.shipping {

		td {
			font-size: 1em - $golden_minor / 4;

			&:last-child {
				text-align: $left; // {{RTL}}

				@include media( map_get( $breakpoint, 'l' ) ) {
					max-width: 12em;
				}

			}

			> p {
				clear: both;
			}

		}

		.shipping-calculator {
			padding: 0;

			&::after {
				display:none;
			}

			&-button {
				display: block;
				padding: ( $golden_major +em ) ( $golden +em );
				text-align: center;
				text-decoration: none;
			}

		}

		ul {
			clear: both;
			margin: 0;
			list-style: none;
		}

		li {
			position: relative;

			label {
				display: block;
				padding: ( $golden_minor +em ) 0;
			}

		}

	}



	.woocommerce-shipping-calculator {
		box-sizing: border-box;
		margin: 0;

		p {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}

			.button {
				width: 100%;
			}

		}

		> p {
			margin: 0;
		}

		select,
		input[type="text"] {
			width: 100%;
			background-color: transparent;
			background-origin: padding-box;
		}

	}



	.shipping-calculator {

		&-button {
			font-weight: 700;
			text-transform: uppercase;
			border: 2px solid;
			color: inherit;
		}

		&-form {
			padding: 1em;
		}

	}



// Empty cart

	.cart-empty {
		margin-bottom: 1em;
		font-weight: 700;

		&-container {
			padding: pow( $golden, 2 ) +em;
			text-align: center;
			border-width: 2px;
			border-style: dashed;

			@include media( map_get( $breakpoint, 'l' ) ) {
				width: percentage( $golden_major );
				margin: 0 auto;
			}

		}

	}



	.return-to-shop .button {
		font-weight: 700;

		&::before {
			@extend %wc_genericon;
			@extend %wc_icon_vertical_align_middle;
			content: '\f447';
		}

	}
