/* FILE: woocommerce/pages/__checkout-order-received.scss */

//
// Page: Checkout -> Order received
//
// "Thank you" page.
//





// Receipt like design

	ul.order_details {
		@extend %wc_zigzag;
		max-width: 36em;
		margin: ( pow( 1 + $golden_minor, 4 ) +em ) 0;
		list-style: none;

		li {
			@extend %wc_background_overlay_from_text_color;
			padding: 1em ( $golden +em );
			margin-top: 2px;
			text-transform: uppercase;
			font-size: 1em - $golden_minor / 2;

			&:first-of-type {
				margin-top: 0;
			}

		}

		strong {
			display: block;
			text-transform: none;
			font-size: 1em + $golden_minor;
		}

	}



// Order details

	.shop_table {
		margin-bottom: pow( 1 + $golden_minor, 4 ) +em;

		&.order_details,
		.woocommerce-order-pay & {

			small {
				font-weight: 400;
			}

			tfoot tr:last-child {
				font-weight: 400;

				.amount:first-child {
					font-size: $golden +em;
					font-weight: 700;
				}

			}

		}

	}



// Customer details

	.customer_details {

		td:last-child {
			text-align: inherit;
		}

	}



// Failed order

	.woocommerce-thankyou-order-failed {
		padding-top: pow( $golden, 2 ) +em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: $golden_minor / 4 + 1em;
		border-top-width: 2px;
		border-top-style: dashed;

		@include media( map_get( $breakpoint, 'xl' ) ) {
			padding-left: percentage( $golden_minor / 2 );
			padding-right: percentage( $golden_minor / 2 );
		}

		&::before {
			@extend %wc_genericon;
			@extend %wc_icon_vertical_align_middle;
			content: '\f414';
			margin-#{$right}: $golden_minor +em;
		}

		&-actions {
			padding-bottom: pow( $golden, 2 ) +em;
			margin-bottom: pow( $golden, 2 ) +em;
			text-align: center;
			border-bottom-width: 2px;
			border-bottom-style: dashed;

			.button {
				margin: 0 ( $golden_minor +em );
			}

		}

	}



// Simple fallback thank you message

	.woocommerce-thankyou-order-received {
		font-size: $golden_minor + 1em;

		&::before {
			@extend %wc_genericon;
			content: '\f418';
			display: block;
			width: 2em;
			height: 2em;
			line-height: 2 - $golden_minor / 2;
			margin-bottom: $golden_minor +em;
			text-align: center;
			font-size: 1em + $golden_minor;
			border-width: 2px;
			border-style: solid;
			border-color: currentColor;
			border-radius: 2em;
			vertical-align: middle;

			@include media( map_get( $breakpoint, 'l' ) ) {
				display: inline-block;
				margin-#{$right}: $golden_minor +em; // {{RTL}}
				margin-bottom: 0;
			}

		}

	}
