/* FILE: woocommerce/pages/__checkout.scss */

//
// Page: Checkout
//
// Endpoints from class WC_Query->init_query_vars().
// The body classes receives the default WooCommerce endpoint
// no matter the dashboard settings (those are URL slugs only).
//





.woocommerce-checkout {

	.checkout {
		@extend %wc_clearfix;

		h3 label {
			font-size: 1em;
		}

	}

	form + .checkout {
		padding-top: $golden +em;
	}



	// Login and coupon form

		.showlogin,
		.showcoupon {
			margin-#{$left}: $golden_major +em; // {{RTL}}
			text-decoration: none;

			@include haf() {
				text-decoration: underline;
			}

			&::before {
				@include rtl_property( content, '\2192', '\2190' ); // {{RTL}}
				margin-#{$right}: $golden_major +em; // {{RTL}}
			}

		}

		.checkout_coupon {
			@extend %coupon_box;
		}

		.login,
		.checkout_coupon {
			max-width: 36em;
			padding: ( pow( $golden, 2 ) +em ) 6%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: pow( $golden, 2 ) +em;
			border-width: 2px;
			border-style: dashed;
		}

		.login {
			// Matches My Account page login form styles

			p {
				margin-top: 1em;
				margin-bottom: 0;

				&:first-child {
					margin-top: 0;
				}

			}

			.inline {
				margin: ( $golden_major +em ) 1em;
			}

			.lost_password {
				font-size: 1em - $golden_minor / 2;
			}

		}



	// Billing and shipping details

		&:not(.woocommerce-order-pay):not(.woocommerce-order-received) {

			.col2-set {
				//
				// Overriding the 2 cols layout here to move the
				// order details to the right.
				//
				margin-bottom: pow( $golden, 2 ) +em;

				@include media( map_get( $breakpoint, 'l' ) ) {
					float: $left; // {{RTL}}
					display: block;
					width: 46%;
					margin-bottom: 0;

					.col-1,
					.col-2 {
						width: 100%;
						margin-bottom: pow( $golden, 2 ) +em;
					}

					+ h3 {
						float: $right; // {{RTL}}
						width: 50%;
						margin-top: 0;
					}

				}

			}

		}

		// WC3.0- backwards compatibility
		#ship-to-different-address {
			overflow: hidden;

			label {
				float: $left; // {{RTL}}
			}

			input {
				float: $right; // {{RTL}}
			}

		}

		.woocommerce-additional-fields {
			margin-top: pow( $golden, 2 ) +em;
		}



	// Order review

		&-review-order {
			padding: 8%;
			border-width: 2px;
			border-style: dashed;

			@include media( map_get( $breakpoint, 'l' ) ) {
				float: $right; // {{RTL}}
				width: 50%;
				padding: 4%;
			}

			&-table {
				margin-bottom: pow( 1 + $golden_minor, 4 ) +em;
			}

		}

}



// Create account

	.create-account {
		clear: both;
		padding: $golden +em;
		border-width: 2px;
		border-style: dashed;

		label {
			font-weight: 700;
		}

		p {
			margin: 1em 0 0;

			&:first-child {
				margin-top: 0;
			}

		}

	}



// Payment methods form

	// Payment methods selection

		.wc_payment_methods {
			margin: 0;
			list-style: none;

			select {
				width: auto;
			}

			li {
				position: relative;
				margin: ( $golden_minor +em ) 0;

				> label {
					@extend %wc_background_overlay_from_text_color_after;
					display: block;
					padding: 1em ( $golden +em );
					font-weight: 700;
				}

				img {
					float: $right; // {{RTL}}
					max-height: $golden +em;
				}

			}

			.payment_box {
				padding: 1em ( $golden +em );
			}

		}



	// Privacy, terms and conditions

		.woocommerce-privacy-policy-text {
			margin: ( $golden +em ) 0;
		}

		.wc-terms-and-conditions {
			margin-top: $golden +em;
			text-align: center;
		}

		.woocommerce-terms-and-conditions {
			padding: $golden +em;
			margin-bottom: $golden +em;
			font-size: 1em - $golden_minor / 4;
			border-width: 1px;
			border-style: dashed;

			&-wrapper {
				margin-top: $golden +em;
			}

			h2, .h2 {
				font-size: $golden_minor + 1em;
			}

			h3, .h3 {
				font-size: $golden_minor / 2 + 1em;
			}

			h4, .h4 {
				font-size: 1em;
			}

		}



	// "Place order" button

		.woocommerce-checkout-payment .button.alt {
			width: 100%;
			padding-top: 1em;
			padding-bottom: 1em;
			margin-top: $golden +em;
			font-size: 1em;
			font-weight: 700;

			p + & {
				margin-top: 0;
			}

		}



// Imports

	@import '_checkout-order-pay';

	@import '_checkout-order-received';
