/* FILE: woocommerce/pages/__my-account.scss */

//
// Page: My Account
//
// Endpoints from class WC_Query->init_query_vars().
// The body classes receives the default WooCommerce endpoint
// no matter the dashboard settings (those are URL slugs only).
//





.woocommerce-account {

	.woocommerce {
		@extend %wc_clearfix;

		h2 {
			margin-top: pow( 1 + $golden_minor, 4 ) +rem;
		}

		a {
			font-weight: 700;
		}

	}

}



// Login and registration forms

	.customer-login {

		&:not(.customer-registration) {
			@extend %wc_background_overlay_from_text_color;
			padding: 6%;
			max-width: 36em;
			margin: 0 auto;
			border-width: 2px;
			border-style: solid;
		}

		.woocommerce & {

			h2 {
				margin-top: 0;
			}

		}

		.col-1,
		.col-2 {
			padding: ( $golden +em ) 6%; // Vertical paddings need absolute units due to flexbox bug.
			border-width: 2px;
			border-style: dashed;

			@include media( map_get( $breakpoint, 'm' ) ) {
				padding-top: pow( 1 + $golden_minor, 3 ) +em;
				padding-bottom: pow( 1 + $golden_minor, 3 ) +em;
			}

			@include media( map_get( $breakpoint, 'l' ) ) {
				padding-top: pow( 1 + $golden_minor, 4 ) +em;
				padding-bottom: pow( 1 + $golden_minor, 4 ) +em;
			}

		}

		.col-1 {
			@extend %wc_background_overlay_from_text_color;
			border-style: solid;
		}

		form {
			margin: 0;
		}

		p {
			margin-top: 1em;
			margin-bottom: 0;

			&:first-child {
				margin-top: 0;
			}

		}

		.inline {
			margin-#{$left}: 1em; // {{RTL}}
		}

		.woocommerce-form-login__rememberme {
			margin-bottom: $golden +em;
		}

		.lost_password {
			font-size: 1em - $golden_minor / 2;
		}

	}



// Navigation (WC2.6+)

	.woocommerce-MyAccount {

		// Navigation

			&-navigation {
				font-size: 1em - $golden_minor / 2;
				margin-bottom: pow( $golden, 2 ) +rem;

				@include media( map_get( $breakpoint, 'l' ) ) {
					float: $left; // {{RTL}}
					width: 32%; // 6% margin
				}

				@include media( map_get( $breakpoint, 'xl' ) ) {
					width: 22%; // 6% margin
				}

				ul {
					margin: 0;
					list-style: none;
				}

				li {
					display: block;
					padding: .5em;
					margin: 0;
					vertical-align: top;

					a {
						text-decoration: none;
					}

				}

				a {
					display: block;
					padding: 1em ( $golden +em );
					text-transform: uppercase;
					font-weight: 700;
					color: inherit;
					border: 2px solid currentColor;
					transition: background ( $small_animation_speed +s ),
					            color ( $small_animation_speed +s ),
					            box-shadow ( $small_animation_speed +s );

					@include media( map_get( $breakpoint, 'm' ) ) {
						padding-left: 2em;
						padding-right: 2em;
					}

					&::before {
						@extend %wc_genericon;
						content: '\f443';
						display: inline-block;
						margin-#{$right}: $golden_major +em; // {{RTL}}
						line-height: 1;
						font-size: $golden +em;
						vertical-align: middle;
					}

					&:hover {
						text-decoration: none;
					}

				}

				&-link {

					&--dashboard a::before {
						content: '\f409';
					}

					&--orders a::before {
						content: '\f447';
					}

					&--downloads a::before {
						content: '\f50b';
					}

					&--edit-address a::before {
						content: '\f417';
					}

					&--payment-methods a::before {
						content: '\f301';
					}

					&--edit-account a::before {
						content: '\f304';
					}

					&--customer-logout a::before {
						content: '\f470';
					}

				}

			}



		// Panels generic styles

			&-content {

				@include media( map_get( $breakpoint, 'l' ) ) {
					float: $right; // {{RTL}}
					width: percentage( $golden_major );
				}

				@include media( map_get( $breakpoint, 'xl' ) ) {
					width: 72%;
				}

			}

	}



// User account intro

	.myaccount_user {

		a {
			font-weight: 700;
		}

	}



// Imports

	@import '_my-account-lost-password';

	// @import '_my-account-edit-account';

	@import '_my-account-view-order';

	@import '_my-account-edit-address';

	@import '_my-account-add-payment-method';

	// @import '_my-account-customer-logout';

	// WC2.6+

	@import '_my-account-orders';

	@import '_my-account-downloads';

	// @import '_my-account-payment-methods';

	// @import '_my-account-delete-payment-method';

	// @import '_my-account-set-default-payment-method';
