/* FILE: woocommerce/pages/_checkout-order-received.scss */

.place-order .button.alt {

	&,
	.fl-module & {
		@extend %colors_accent;
	}

}

ul.order_details {
	$zigzag_size: 1em;

	position: relative;
	max-width: 36em;
	max-width: var(--layout_width_entry_content);
	margin: ( _pow( 1 + $golden_minor, 4 ) +em ) 0;
	list-style: none;

	li {
		@extend %shaded_background;
		padding: 1em ( $golden +em );
		margin-top: 2px;
		text-transform: uppercase;
		font-size: 1em - $golden_minor / 2;

		&:first-of-type {
			margin-top: 0;
		}

	}

	strong {
		display: block;
		text-transform: none;
		font-size: 1em + $golden_minor;
	}

	//
	// Zigzag pattern
	//
	&::after,
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		top: -$zigzag_size / 2;
		height: $zigzag_size / 2;
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: $zigzag_size $zigzag_size;
		opacity: $overlay_from_text_color_opacity;
		background-image:
			linear-gradient(
				45deg,
				map_get( $customize_options, 'color_content_text' ) 25%,
				rgba( #000, 0 ) 25%,
				rgba( #000, 0 ) 75%,
				map_get( $customize_options, 'color_content_text' ) 75%,
				map_get( $customize_options, 'color_content_text' )
			),
			linear-gradient(
				-45deg,
				map_get( $customize_options, 'color_content_text' ) 25%,
				rgba( #000, 0 ) 25%,
				rgba( #000, 0 ) 75%,
				map_get( $customize_options, 'color_content_text' ) 75%,
				map_get( $customize_options, 'color_content_text' )
			);
		background-image:
			linear-gradient(
				45deg,
				var(--color_content_text) 25%,
				rgba( #000, 0 ) 25%,
				rgba( #000, 0 ) 75%,
				var(--color_content_text) 75%,
				var(--color_content_text)
			),
			linear-gradient(
				-45deg,
				var(--color_content_text) 25%,
				rgba( #000, 0 ) 25%,
				rgba( #000, 0 ) 75%,
				var(--color_content_text) 75%,
				var(--color_content_text)
			);
	}

	&::after {
		background-position: 0 0;
		top: auto;
		bottom: -$zigzag_size / 2;
	}

}

.shop_table {
	margin-bottom: _pow( 1 + $golden_minor, 4 ) +em;

	&.order_details,
	.woocommerce-order-pay & {

		small {
			font-weight: 400;
		}

		tfoot tr:last-child {
			font-weight: 400;

			.amount:first-child {
				font-size: $golden +em;
				font-weight: 700;
			}

		}

	}

}

.customer_details {

	td:last-child {
		text-align: inherit;
	}

}

.woocommerce-thankyou-order-failed {
	padding-top: _pow( $golden, 2 ) +em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: $golden_minor / 4 + 1em;
	border-top-width: 2px;
	border-top-style: dashed;

	@include media( map_get( $breakpoint, 'xl' ) ) {
		padding-left: percentage( $golden_minor / 2 );
		padding-right: percentage( $golden_minor / 2 );
	}

	&::before {
		@extend %genericon;
		@extend %icon_vertical_align_middle;
		content: '\f414';
		margin-#{$right}: $golden_minor +em;
	}

	&-actions {
		padding-bottom: _pow( $golden, 2 ) +em;
		margin-bottom: _pow( $golden, 2 ) +em;
		text-align: center;
		border-bottom-width: 2px;
		border-bottom-style: dashed;

		.button {
			margin: 0 ( $golden_minor +em );
		}

	}

}

.woocommerce-thankyou-order-received {
	font-size: $golden_minor + 1em;

	&::before {
		@extend %genericon;
		content: '\f418';
		display: block;
		width: 2em;
		height: 2em;
		line-height: 2 - $golden_minor / 2;
		margin-bottom: $golden_minor +em;
		text-align: center;
		font-size: 1em + $golden_minor;
		border-width: 2px;
		border-style: solid;
		border-color: currentColor;
		border-radius: 2em;
		vertical-align: middle;

		@include media( map_get( $breakpoint, 'l' ) ) {
			display: inline-block;
			margin-#{$right}: $golden_minor +em; // {{RTL}}
			margin-bottom: 0;
		}

	}

}

.woocommerce-order-details {
	margin-bottom: $golden +em;
}
