/* FILE: woocommerce/pages/_my-account.scss */

.woocommerce-account {

	.woocommerce {
		@extend %clearfix;

		h2 {
			margin-top: _pow( 1 + $golden_minor, 4 ) +rem;
		}

		a {
			font-weight: 700;
		}

	}

}

.customer-login {

	&:not(.customer-registration) {
		@extend %shaded_background;
		padding: 6%;
		max-width: 36em;
		max-width: var(--layout_width_entry_content);
		margin: 0 auto;
		border-width: 2px;
		border-style: solid;
	}

	.woocommerce & {

		h2 {
			margin-top: 0;
		}

	}

	.col-1,
	.col-2 {
		padding: ( $golden +em ) 6%; // Vertical paddings need absolute units due to flexbox bug.
		border-width: 2px;
		border-style: dashed;

		@include media( map_get( $breakpoint, 'm' ) ) {
			padding-top: _pow( 1 + $golden_minor, 3 ) +em;
			padding-bottom: _pow( 1 + $golden_minor, 3 ) +em;
		}

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-top: _pow( 1 + $golden_minor, 4 ) +em;
			padding-bottom: _pow( 1 + $golden_minor, 4 ) +em;
		}

	}

	.col-1 {
		@extend %shaded_background;
		border-style: solid;
	}

	form {
		margin: 0;
	}

	p {
		margin-top: 1em;
		margin-bottom: 0;

		&:first-child {
			margin-top: 0;
		}

	}

	.inline {
		margin-#{$left}: 1em; // {{RTL}}
	}

	.woocommerce-form-login__rememberme {
		margin-bottom: $golden +em;
	}

	.lost_password {
		font-size: 1em - $golden_minor / 2;
	}

}

.woocommerce-MyAccount {

	&-navigation {
		font-size: 1em - $golden_minor / 2;
		margin-bottom: _pow( $golden, 2 ) +rem;

		@include media( map_get( $breakpoint, 'l' ) ) {
			float: $left; // {{RTL}}
			width: 32%; // 6% margin
		}

		@include media( map_get( $breakpoint, 'xl' ) ) {
			width: 22%; // 6% margin
		}

		ul {
			margin: 0;
			list-style: none;
		}

		li {
			display: block;
			padding: .5em;
			margin: 0;
			vertical-align: top;

			a {
				text-decoration: none;
			}

		}

		a {
			display: block;
			padding: 1em ( $golden +em );
			text-transform: uppercase;
			font-weight: 700;
			color: inherit;
			border: 2px solid currentColor;
			transition: background ( $small_animation_speed +s ),
			            color ( $small_animation_speed +s ),
			            box-shadow ( $small_animation_speed +s );

			@include media( map_get( $breakpoint, 'm' ) ) {
				padding-left: 2em;
				padding-right: 2em;
			}

			&::before {
				@extend %genericon;
				content: '\f443';
				display: inline-block;
				margin-#{$right}: $golden_major +em; // {{RTL}}
				line-height: 1;
				font-size: $golden +em;
				vertical-align: middle;
			}

			&:hover {
				text-decoration: none;
			}

		}

		&-link {

			&--dashboard a::before {
				content: '\f409';
			}

			&--orders a::before {
				content: '\f447';
			}

			&--downloads a::before {
				content: '\f50b';
			}

			&--edit-address a::before {
				content: '\f417';
			}

			&--payment-methods a::before {
				content: '\f301';
			}

			&--edit-account a::before {
				content: '\f304';
			}

			&--customer-logout a::before {
				content: '\f470';
			}

		}

		a:hover,
		.active a,
		.is-active a,
		.woocommerce-view-order &-link--orders a {
			@extend %colors_accent;
			border-color: transparent;
		}

	}

	&-content {

		@include media( map_get( $breakpoint, 'l' ) ) {
			float: $right; // {{RTL}}
			width: percentage( $golden_major );
		}

		@include media( map_get( $breakpoint, 'xl' ) ) {
			width: 72%;
		}

	}

}

.myaccount_user {

	a {
		font-weight: 700;
	}

}
