/* FILE: woocommerce/pages/_my-account-orders.scss */

.my_account_orders {

	th,
	td {
		vertical-align: middle;
	}

}

.order-number {
	font-weight: 700;
}

.order-actions,
.download-actions {

	.button {
		padding: ( $ratio_min +em ) 1em;
		margin: $ratio_min / 2 + em;
	}

}
