/* FILE: woocommerce/pages/_my-account-lost-password.scss */

//
// Page: My Account -> Lost password
//





.lost_reset_password {
	padding: 6%;
	max-width: 36em;
	margin: 0 auto;
	border-width: 2px;
	border-style: dashed;

	.input-text,
	.button {
		width: 100%;
	}

	p {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		&:last-of-type {
			margin-bottom: 0;
		}

	}

}
