/* FILE: woocommerce/pages/_my-account-add-payment-method.scss */

#add_payment_method {

	> div > p:first-child:last-child {
		padding: 6%;
		max-width: 36em;
		max-width: var(--layout_width_entry_content);
		margin: 0 auto;
		border-width: 2px;
		border-style: dashed;
	}

}
