/* FILE: woocommerce/pages/_my-account-orders.scss */

//
// Page: My Account -> Orders
//





// Orders table

	.my_account_orders {

		th,
		td {
			vertical-align: middle;
		}

	}

	.order-number {
		font-weight: 700;
	}

	.order-actions,
	.download-actions {

		.button {
			padding: ( $golden_minor +em ) 1em;
			margin: $golden_minor / 2 + em;
		}

	}
