/* FILE: main/content/pagination/_pagination.scss */

.pagination {
	clear: both;
	padding: 1px; // To display accessibility outline.
	margin-top: _pow( $golden_minor + 1, 4 ) +em;
	text-align: center;
	overflow: hidden;

	@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
		position: relative;

		&::after {
			@include rtl_property( content, attr(data-current) ' / ' attr(data-total), attr(data-current) ' \2216 ' attr(data-total) ); // {{RTL}}
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX( -50% )
			           translateY( -50% );
		}

	}

	a,
	span {
		display: none;
		width: _pow( $golden, 2 ) +em;
		padding: ( $golden_major +em ) 0;
		margin: $golden_minor / 2 +em;
		margin-#{$left}: 0; // {{RTL}}
		text-align: center;
		text-decoration: none;
		background: transparent;
		color: inherit;
		border-width: 1px;
		border-style: solid;
		vertical-align: top;
	}

	a {

		@include haf() {
			@extend %shaded_background;

			// Unfortunate iOS devices fix for double tap...
			@include media( ( '1112px', 'max-width' ) ) {
				&::before {
					display: none;
				}
			}
		}

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			background-color: map_get( $customize_options, 'color_accent' );
			color: map_get( $customize_options, 'color_accent_text' );
			background-color: var(--color_accent);
			color: var(--color_accent_text);
		}

	}

	.prev,
	.next {
		@extend %shaded_background;
		display: inline-block;

		// Unfortunate iOS devices fix for double tap...
		@include media( ( '1112px', 'max-width' ) ) {
			&::before {
				display: none;
			}
		}

		&:hover::before {
			display: none;
		}

	}

	@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {

		.prev {
			float: $left; // {{RTL}}
		}

		.next {
			float: $right; // {{RTL}}
		}

	}

	.dots {
		padding-left: $golden_major +em;
		padding-right: $golden_major +em;
		border-color: transparent;
	}

	.dots,
	.extend {
		width: auto;
	}

	.current {
		@extend %font_weight_700;
	}

	@include media( map_get( $breakpoint, 'm' ) ) {

		a,
		span {
			display: inline-block;
		}

	}

}
