/* FILE: starter/form/__post-password.scss */

//
// Password protected post form
//





.post-password-form {
	max-width: 38em;
	max-width: 70ch;
	padding: ( power( $golden, 2 ) +em ) 12%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-width: 2px;
	border-style: dashed;

	label,
	input {
		display: block;
		width: 100%;
		text-align: inherit;
	}

	label {
		margin-bottom: 1em;

		input {
			margin-top: $golden_minor + em;
		}

	}

}
