/* FILE: starter/content/form/_post-password.scss */

.post-password-form {
	max-width: 36em;
	padding: ( pow( $golden, 2 ) +em ) 12%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-width: 2px;
	border-style: dashed;

	label,
	input {
		display: block;
		width: 100%;
		text-align: inherit;
	}

	label {
		margin-bottom: 1em;

		input {
			margin-top: $golden_minor + em;
		}

	}

}
