/* FILE: starter/content/form/_reset.scss */

form {
	margin: 0 0 ( $golden +em );
}

fieldset {
	padding: 0;
	margin: 0;
	border-width: 0;
}

button,
input,
select,
textarea {
	max-width: 100%;
	padding: $golden_major +em;
	line-height: normal;
	font-size: 1em;
	font-family: inherit;
	color: inherit;
	border-width: 2px;
	border-style: solid;
	outline: 0;
	vertical-align: baseline;
}

select {
	padding: calc( #{ $golden_major +em } - 4px ); // Compensating for border width
}

textarea,
select[multiple],
select[size] {
	height: auto;
	line-height: $golden;
}

[type="search"] {
	box-sizing: border-box;
}

:invalid {
	box-shadow: none;
}
