/* FILE: main/sidebar/__widgets.scss */

//
// Widgets
//





// Basic global widget styles

	.widget {

		&[class*="set-colors-"] {
			padding-left: $golden +em;
			padding-right: $golden +em;
		}

		form {
			margin-bottom: 0;
		}

		input,
		select,
		textarea {

			.sidebar &,
			.footer-widgets & {
				width: 100%;
			}

		}

		li a {
			text-decoration: none;

			@include haf() {
				text-decoration: underline;
			}

		}

		ul {

			ul {
				border-top-width: 1px;
				border-top-style: solid;
			}

			li {
				border-top-width: 1px;
				border-top-style: solid;
				border-bottom-width: 0;

				&:first-child {
					border-top-width: 0;
				}

				+ li {
					margin-top: 0;
				}

				ul {
					margin: 0;
				}

			}

		}

	}



// Imports

	@import '_widget-icons';

	@import '_widget-calendar';

	@import '_widget-custom-menu';

	@import '_widget-recent-posts';

	@import '_widget-tag-cloud';

	@import '_widget-text';
