/* FILE: main/sidebar/__widget-recent-posts.scss */

//
// Recent Posts widget
//





// Articles list container

	.widget-recent-entries-list {

		p {
			margin-bottom: 1em;
		}

		&,
		.single & {

			.entry {
				float: none; // Resetting singular post styles
				width: 100%; // Resetting singular post styles
			}

		}

		.entry {
			padding: 1em 0;
			border-top-width: 1px;
			border-top-style: solid;
			overflow: hidden;

			&:first-child {
				margin-top: 0;
				border-top-width: 0;
			}

		}



		// Date

			.entry-date {
				@extend %font_size_golden;
				float: $left; // {{RTL}}
				width: pow( $golden, 2 ) +em;
				padding: $golden_minor +em;
				text-align: center;
				border: 1px solid;

				&,
				.sidebar &,
				.widget-area & {
					position: relative;
					left: auto;
					top: auto;
					line-height: 1 + $golden_minor / 2;
					font-size: 1em;
				}

				.sidebar &,
				.widget-area & {
					@extend %font_size_smaller;
					width: 3em;
				}

			}

			.day {
				@extend %font_weight_700;
			}

			.month {
				@extend %font_size_small;
				display: block;
				text-transform: uppercase;
			}



		// Content wrapper

			.entry-content {
				font-size: 1em;

				.single:not(.fl-builder):not(.content-layout-no-paddings) &,
				.posts-layout-list & {
					// Resetting singular post styles
					float: none;
					width: auto;
					padding: 0;
				}

			}



			// Title

				.entry-title {
					@extend %font_inherit;
					@extend %font_size_1em;
					@extend %font_style_normal;
					@extend %font_size_golden_minor;
					margin-bottom: $golden_major +em;
					line-height: 1 + $golden_minor;

					a {
						text-decoration: none;
						border-width: 0;
					}

					.sidebar &,
					.widget-area & {
						@extend %font_size_1em;
						margin-bottom: $golden_minor / 2 +em;
					}

				}



			// Excerpt

				.entry-summary {

					.sidebar &,
					.widget-area & {
						display: none;
					}

				}



			// More link

				.link-more {
					margin: 0;

					.sidebar &,
					.widget-area & {
						@extend %font_size_small;
						@extend %font_weight_400;
					}

				}

	}



// With date displayed

	.entry-date-enabled {

		.entry-content {
			margin-#{$left}: 4em; // {{RTL}}

			.sidebar &,
			.widget-area & {
				float: none;
				width: auto;
			}

		}

	}
