/* FILE: main/sidebar/_sidebar.scss */

//
// Sidebar
//





// Theme sidebar styles

	.sidebar {
		@extend %font_size_smaller;
		position: relative;
		margin-top: power( $golden, 2 ) +rem;

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			width: percentage( $golden_minor - .08 );
			margin-top: 0;
		}

		.widget {
			margin-bottom: power( 1 + $golden_minor, 4 ) +rem;
		}

	}



// Imports

	@import '_widgets';

	@import '_intro';

	@import '_footer';
