/* FILE: main/sidebar/_sidebar-intro.scss */

.intro-widgets-container,
.#{$special_color_class_prefix}intro-widgets,
.#{$special_color_class_prefix}intro-widgets > .fl-row-content-wrap,
.#{$special_color_class_prefix}intro-widgets > .fl-col-content {
	background-color: map_get( $customize_options, 'color_intro_widgets_background' );
	color: map_get( $customize_options, 'color_intro_widgets_text' );
	border-color: rgba( map_get( $customize_options, 'color_intro_widgets_text' ), 20 / 100 );
	background-color: var(--color_intro_widgets_background);
	color: var(--color_intro_widgets_text);
	border-color: var(--color_intro_widgets_text--a20);

	h2, h3, h4,
	.h1, .h2, .h3, .h4,
	a,
	.accent-color {
		color: map_get( $customize_options, 'color_intro_widgets_headings' );
		color: var(--color_intro_widgets_headings);
	}

}

.intro-widgets {
	@extend %horizontal_widget_area;

	&-container {
		border-top-width: 1px;
		border-top-style: solid;

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			// Preventing mobile horizontal scrolling
			// (Required for horizontal_widget_area.)
			overflow: hidden;
		}

	}

	&-inner {
		padding-top: 0;
		padding-bottom: 0;

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-top: $golden +rem;
			padding-bottom: $golden +rem;
		}

		@include media( map_get( $breakpoint, 'xl' ) ) {
			padding-top: _pow( $golden, 2 ) +rem;
			padding-bottom: _pow( $golden, 2 ) +rem;
		}

	}

	a {
		color: inherit;
	}

}
