/* FILE: main/sidebar/_widget.scss */

.widget {

	.sidebar & {
		margin: 0 0 ( _pow( $golden, 2 ) +em );

		&:last-child {
			margin-bottom: 0;
		}

	}

	&[class*="set-colors-"] {
		padding-left: $golden +em;
		padding-right: $golden +em;
	}

	form {
		margin-bottom: 0;
	}

	input,
	select,
	textarea {

		.sidebar &,
		.footer-widgets & {
			width: 100%;
		}

	}

	li a {
		text-decoration: none;

		@include haf() {
			text-decoration: underline;
		}

	}

	ul {
		margin: 0;
		list-style: none;

		ul {
			border-top-width: 1px;
			border-top-style: solid;
		}

		li {
			padding: ( $golden_minor +em ) 0;
			border-top-width: 1px;
			border-top-style: solid;

			&:first-child {
				border-top-width: 0;
			}

			ul {
				position: relative;
				bottom: $golden_minor * -1em;
				margin: 0;
			}

			li {
				padding-#{$left}: 1em; // {{RTL}}
			}

		}

	}

	.current_page_item > a,
	.current-menu-item > a {

		.sidebar &,
		.fl-widget & {
			@extend %colors_accent;
		}

	}

}
