//
// Screen reader hiding.
//
// @since  2.1.0
//
@mixin screen_reader( $action: 'hide' ) {
	@if 'show' == $action {
		clip: auto;
		clip-path: none;
		// Position can not be predicted here.
		width: auto;
		height: auto;
		line-height: normal;
	} @else {
		clip: rect( 1px, 1px, 1px, 1px );
		clip-path: inset( 50% );
		position: absolute $important_base_accessibility;
		width: 1px;
		height: 1px;
		line-height: 1px;
		overflow: hidden;
		word-wrap: normal $important_base_accessibility; // Many screen reader and browser combinations announce broken words as they would appear visually.
	}
}
