/* FILE: woocommerce/extensions/_woocommerce-cart-tab.scss */

//
// WooCommerce Cart Tab
//
// @see  https://wordpress.org/plugins/woocommerce-cart-tab/
//

.woocommerce-cart-tab-container {

	.widget_shopping_cart {

		body & {

			.buttons,
			.widgettitle {
				position: relative;
				left: auto;
				right: auto;
				top: auto;
				bottom: auto;
			}

			.buttons {

				.button {
					float: none;
					width: 100%;

					+ .button {
						margin-top: $ratio_min +em;
					}

				}

			}

			ul.product_list_widget {
				margin-top: $ratio +em;
			}

		}

	}

}
