/* FILE: editor-block/blocks/_block.scss */

.wp-block {
	max-width: $max_width_entry_content;
	z-index: 1; // In case of negative margin overlay.

	&.is-reusable {
		max-width: calc( 100% - 120px ) !important;
	}

	&[data-align="left"] {

		.block-editor-block-list__layout & > .is-block-content,
		#{ $selector_editor_wrapper } & .block-editor-block-list__block-edit {
			margin-right: $alignment_margin;
			margin-bottom: 1em;
		}

	}

	&[data-align="right"] {

		.block-editor-block-list__layout & > .is-block-content,
		#{ $selector_editor_wrapper } & .block-editor-block-list__block-edit {
			margin-left: $alignment_margin;
			margin-bottom: 1em;
		}

	}

	&[data-align="left"],
	&[data-align="right"] {

		.block-editor-block-list__layout & > .is-block-content,
		#{ $selector_editor_wrapper } & .block-editor-block-list__block-edit {

			.block-editor-block-list__block {
				padding-left: 0;
				padding-right: 0;

				&-edit {
					float: none;
					width: auto;
					max-width: none;
					margin-left: 0;
					margin-right: 0;
					margin-bottom: 0;
				}

			}

		}

	}

	&[data-align="wide"],
	&[data-align="full"] {

		.has-no-margin,
		.has-no-margin-vertical,
		.has-no-margin-bottom {
			// Simulate no margin between wide/full aligned blocks
			// with specific margin removal modifier classes applied.
			margin-bottom: calc( -1.618 * var(--typography_size_html) );
		}

	}

	&[data-align="wide"] {
		width: $max_width_content;
		max-width: 88%;
	}

}
