/* FILE: editor-block/blocks/_cover.scss */

.wp-block-cover {

	&__inner-container > .wp-block:last-child {
		margin-bottom: 0;
	}

}

// Overriding default WP styles:
@media (min-width: 600px) {
	[data-align=full] .wp-block-group > .wp-block-group__inner-container > .wp-block-cover {
		padding-left: var(--block_padding);
		padding-right: var(--block_padding);
	}
}
