/* FILE: editor-block/blocks/_cover.scss */

@if ( index( $support__block, 'cover' ) ) {

	.wp-block-cover {

		.wp-block &__inner-container,
		.wp-block & .wp-block-cover__inner-container {
			max-width: calc( 24em + #{ $ui_margin * 2 } );
		}

		&.has-alignwide-content .wp-block-cover__inner-container {
			max-width: calc( 36em + #{ $ui_margin * 2 } );
		}

		&.has-alignfull-content .wp-block-cover__inner-container {
			max-width: none;
		}

	}

	[data-type="core/cover"] {

		&[data-align="wide"],
		&[data-align="full"] {

			.wp-block-cover {
				padding-left: 10%;
				padding-right: 10%;
			}

			.wp-block-cover:not([class*="-min-height"]) {
				min-height: $golden_major * 100vh;
			}

		}

		&[data-align="left"],
		&[data-align="right"] {

			.wp-block-cover {
				max-width: none;
			}

			> .block-editor-block-list__block-edit {
				width: $alignment_width;
				max-width: $alignment_width;
			}

		}

		&[data-align="center"] {
			text-align: inherit;
		}

	}

}
