/* FILE: editor-block/blocks/_letest-posts.scss */

#{ $selector_editor_wrapper } .wp-block-latest-posts {

	&.wp-block-latest-posts:not(.alignwide):not(.alignfull) {
		margin-left: auto;
		margin-right: auto;
	}

	a:not(.link-more) { // Post title.
		pointer-events: none;
	}

	&__post-excerpt {

		a:last-child {
			display: none;
		}

	}

}
