/* FILE: editor-block/blocks/_media-text.scss */

.wp-block-media-text {

	&__media {
		height: 100% !important;
	}

	&__content {

		[data-align="full"],
		[data-align="wide"] {
			width: auto !important;
			padding-left: 0;
			padding-right: 0;
		}

	}

	.block-editor-inner-blocks .block-editor-inner-blocks {
		padding-left: 0;
		padding-right: 0;
	}

}

#{ $selector_editor_wrapper } [data-align="full"] > .wp-block-media-text {

	> .wp-block-media-text__content {
		max-width: calc( var(--layout_width_entry_content) + 2 * var(--media_text_padding_horizontal) );
		padding-left: var(--media_text_padding_horizontal); // No RTL here.
		padding-right: var(--media_text_padding_horizontal); // No RTL here.
	}

}
