/* FILE: editor-block/blocks/_quote.scss */

.wp-block-quote__citation,
.wp-block-pullquote__citation {
	@extend %font_size_small;
	margin-top: $ratio_maj +em;
	font-weight: 400;
	text-transform: none;

	&::before {
		content: '\2014\2002'; // &mdash; &ensp;
	}

}
