/* FILE: editor-block/blocks/_separator.scss */

[data-type="core/separator"] {
	clear: both;
}

#{ $selector_editor_wrapper } .wp-block-separator {
	opacity: 1;

	&.is-style-wide {
		max-width: $max_width_entry_content;
	}

	&.is-style-dots.has-background::before {
		color: inherit;
	}

}
