/* FILE: starter/wp/__embed.scss */

//
// WordPress embeds
//





// Tweets

	.twitter-tweet-rendered {
		width: 100% !important;
		margin: ( $golden +em ) 0 !important;
	}



// Videos

	.wp-video {
		width: 100% !important;
		height: auto !important;
		margin-bottom: $golden +em;

		&:last-child {
			margin-bottom: 0;
		}

	}



// Custom header video

	// Fixing screen reader hidden div creating 1px gap at the bottom of HTML body
	.wp-a11y-speak-region {
		left: 0;
		top: 0;
	}
