/* FILE: starter/wp/_alignment.scss */

.alignleft {
	float: left;
	margin-right: $horizontal_alignment_margin;
	margin-bottom: 1em;
}

.alignright {
	float: right;
	margin-left: $horizontal_alignment_margin;
	margin-bottom: 1em;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.alignnone {
	margin-left: 0;
	margin-right: 0;
}
