/* FILE: starter/content/wp/_caption.scss */

.wp-caption {
	position: relative;
	display: inline-block;
	max-width: 100%;
	padding: 0;
	margin: 0 auto ( $golden +em );
	text-align: center;
	background: transparent;
	overflow: hidden;

	&-text {
		@extend %font_size_small;
		@extend %line_height_golden_minor;
		padding: 1em 0 0;
		overflow: hidden;
	}

	&.aligncenter {
		display: block;
	}

}
