/* FILE: woocommerce/main/__badges.scss */

//
// Badges styles
//





// Sale flash (badge)

	.onsale {
		position: relative;
		display: inline-block;
		padding: ( $golden_minor +em ) ( $golden +em );
		margin-bottom: $golden +rem;
		text-transform: uppercase;
		font-size: 1em - $golden_minor / 2;
		font-weight: 700;
		border: 2px solid;

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			#{$right}: 0; // {{RTL}}
			top: 100%;
			border-style: solid;
			border-width: ( $golden_major +em ) 1em 0;
			border-#{$left}-width: 0; // {{RTL}}
			border-color: rgba( #000, .25 ) transparent transparent transparent; //*

			.single-product & {
				display: none;
			}

		}

		ul.products .product & {
			position: absolute;
			#{$right}: -1em; // {{RTL}}
			top: 0;
			padding-top: 0;
			padding-bottom: 0;
			margin: ( $golden_minor +rem ) 0;
			line-height: 1rem + 2 * $golden_major;
			border: 0;
		}

	}
