/* FILE: woocommerce/main/__demo.scss */

//
// Demo styles
//





// Demo notice

	%demo_store_notice {
		margin: 0;
		padding: 1em ( $golden +em );
		text-align: center;
		font-size: 1em - $golden_minor / 2;
		font-style: italic;

		&::before {
			@extend %wc_genericon;
			@extend %wc_icon_vertical_align_middle;
			content: '\f455';
			font-size: 1rem;
			margin-#{$right}: $golden_minor +em;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

	}

	.demo_store {
		@extend %demo_store_notice;
	}

	.woocommerce-store-notice {
		@extend %demo_store_notice;

		&__dismiss-link {
			margin-#{$left}: $golden +em; // {{RTL}}

			&::before {
				@extend %wc_genericon;
				@extend %wc_icon_vertical_align_middle;
				content: '\f406';
				font-size: 1rem;
				margin-#{$right}: $golden_minor +em;
			}

		}

	}
