/* FILE: woocommerce/main/__guide.scss */

//
// Checkout guide styles
//





.checkout-guide {
	display: block;
	margin-bottom: $padding_vertical;

	@include media( map_get( $breakpoint, 'xl' ) ) {
		margin-bottom: $golden_major * $padding_vertical / 2 + $padding_vertical
	}

	a {
		color: inherit;
	}

	li a {
		font-weight: inherit;
		text-decoration: none;
	}



	// List container

		&-steps {
			display: block;
			margin: 0;
			list-style: none;
			counter-reset: orderedList;

			@include media( map_get( $breakpoint, 'l' ) ) {
				display: flex;
				justify-content: center;
				text-align: center;
			}

		}



	// List item

		&-step {
			display: block;
			position: relative;
			padding: 0;
			margin: 0;

			@include media( map_get( $breakpoint, 'l' ) ) {
				flex: 0 1 16em;
			}

			&::before {
				display: none;
			}

			&.is-current {
				font-weight: 700;
			}

		}



	// List title

		&-title {
			display: block;
			margin: $golden_minor +em;
			text-transform: uppercase;
			transition: opacity ( $small_animation_speed +s );

			@include media( map_get( $breakpoint, 'l' ) ) {
				margin: 0;
				font-size: 1em - $golden_minor / 2;
			}



			// Step number

				&::before {
					counter-increment: orderedList;
					content: counters( orderedList, '' );
					display: inline-block;
					width: 2em;
					height: 2em;
					margin-#{$right}: 1em;
					line-height: 2;
					text-align: center;
					border-radius: 2em;

					@include media( map_get( $breakpoint, 'l' ) ) {
						display: block;
						margin: .5em auto 1em;
						font-size: $golden_minor / 2 + 1rem;
						font-weight: 300;
						box-shadow: 0 0 0 2px;
					}

				}



			// Step arrow

				&::after {
					@extend %wc_genericon;
				}

				$direction_multiplier: 1;
				@if rtl == $language_direction {
					$direction_multiplier: -1;
				}

				@include media( map_get( $breakpoint, 'l' ) ) {

					&::after {
						@include rtl_property( content, '\f429', '\f430' ); // {{RTL}}
						position: absolute;
						#{$right}: 0; // {{RTL}}
						top: 50%;
						font-size: 2em;
						transform: translateX( $direction_multiplier * 50% )
						           translateY( -50% );
					}

					.is-active:not(.is-current) &::after {
						@include rtl_property( content, '\f430', '\f429' ); // {{RTL}}
					}

					.checkout-guide-step:last-child &::after {
						display: none;
					}

				}



			// Passed & current step

				.is-active & {
					opacity: .33;
					text-decoration: line-through;

					&::before {
						box-shadow: 0 0 0 2px;
					}

					@include media( map_get( $breakpoint, 'l' ) ) {
						text-decoration: none;
					}

				}



			// Current step

				.is-current & {
					text-decoration: none;

					@include media( map_get( $breakpoint, 'l' ) ) {

						&::before {
							margin: 0 auto .5em;
							font-size: $golden +rem;
							font-weight: inherit;
							box-shadow: 0 0 0 4px;
						}

					}

				}

				@include haf() {
					opacity: 1;
				}

				.is-current & {
					opacity: 1;
				}

		}

}
