/* FILE: woocommerce/main/__loop.scss */

//
// Products loop styles
//





$gutter: 1.382; // In %

$column_gutter: 2 * $gutter / 100; // Calculation for column gutter inside SASS `percentage()` function

ul.products { // Unfortunately, in some cases also a DIV wrapper has a class of `.products`...
	clear: both;
	display: flex;
	flex-wrap: wrap;
	margin: 0 percentage( -$gutter / 100 );
	list-style: none;



	// List item (product & category)

		.product {
			position: relative;
			flex: 0 1 auto;
			width: percentage( 1 - $column_gutter );
			margin: 1em percentage( $gutter / 100 );
			border-width: 1px;
			border-style: solid;
			border-bottom-width: 2px;

			a {
				text-decoration: none;

				&:first-child {
					display: block;
				}

			}

				.woocommerce-LoopProduct-link {
					color: inherit;
				}

			img {
				position: relative;
				width: 100%;
				vertical-align: top;
			}

			.description {
				padding: $golden +em;

				@include media( map_get( $breakpoint, 'm' ) ) {
					padding: 2em;
				}

			}

				h3 {
					margin: 0;
					font-size: $golden_minor / 2 + 1em;
				}

				.entry-subtitle {
					@extend %wc_screen_reader_hiding;
				}

				.star-rating {
					position: absolute;
					#{$left}: 0; // {{RTL}}
					top: 0;
					margin: 1em;
				}

				.price {
					display: block;
					margin: ( $golden_minor +em ) 0 0;
					line-height: 1 + $golden_minor / 2;
				}

			.button,
			.added_to_cart {
				position: relative;
				display: block;
				margin: 0 -1px;
				white-space: nowrap;

				&::before {
					@extend %wc_genericon;
					content: '\f447';
					display: inline-block; // Required for animation
					margin-#{$right}: $golden_minor +em; // {{RTL}}
					line-height: $golden_major;
					font-size: 1em + $golden_minor;
					vertical-align: middle;

					@include in( '.product.outofstock' ) {
						display: none;
					}

				}

			}

			.button {

				+ .button {
					margin-top: 1em;
				}

				&.loading::before {
					content: '\f420';
					animation-name: rotate;
					animation-duration: $large_animation_speed * 2s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
				}

				&.added::before {
					content: '\f418';
				}

			}

			.added_to_cart {
				padding: ( $golden_minor +em ) 1em;
				text-align: center;
				text-decoration: none;
				font-size: 1em - $golden_minor / 2;

				&::before {
					content: '\f403';
				}

			}



			// Categories list

				&-category {

					.category-label {
						margin-bottom: 0;
						text-transform: uppercase;
						font-size: 1em - $golden_minor / 2;
					}

					a {
						color: inherit;
					}

					.count {
						position: absolute;
						#{$right}: 0;
						top: 0;
						padding: 0 ( $golden_major +em );
						margin: $golden_minor +rem;
						line-height: 1rem + 2 * $golden_major;
						font-size: 1rem;
						font-weight: 400;
					}

				}

		}



	// Buttons

		.added-to-cart {

			.button:nth-child(2)::before {
				content: '\f418';
			}

			.button.loading::before {
				content: '\f420';
			}

		}



	// Categories list

		&-categories {
			margin-bottom: pow( $golden, 2 ) +em;

			.product-category {
				margin-top: 0;
				margin-bottom: 2em;
			}

		}



	// Products columns

		// 2 columns `ul.products` layout gutter widening

			.woocommerce.archive.has-widgets-sidebar & {

				@include media( map_get( $breakpoint, 'm' ) ) {
					margin-left: percentage( -2 * $gutter / 100 );
					margin-right: percentage( -2 * $gutter / 100 );
				}

			}

		.product {

			// Small devices columns

				$columns: 2;

				@if 1 < $columns {

					@include media(
						( map_get( $breakpoint, 's' ), 'min-width' ),
						( map_get( $breakpoint, 'l' ), 'max-width' )
					) {
						width: percentage( 1 / $columns - $column_gutter );
					}

				}



			// Medium devices columns

				$columns: 3;

				.single-product &,
				.woocommerce.archive.no-widgets-sidebar & {

					@include media(
						( map_get( $breakpoint, 'l' ), 'min-width' ),
						( map_get( $breakpoint, 'xl' ), 'max-width' )
					) {
						width: percentage( 1 / $columns - $column_gutter );
					}

				}



			// Default layout
			// Relevant mostly for related and upsell products lists.

				$columns: 3;

				@include media( map_get( $breakpoint, 'xl' ) ) {
					width: percentage( 1 / $columns - $column_gutter );
				}



				// With sidebar

					// No longer needed with WooCommerce 3.3+!

					// $columns: 2;
					// .woocommerce.archive.has-widgets-sidebar & {
					// 	@include media( map_get( $breakpoint, 'm' ) ) {
					// 		width: percentage( 1 / $columns - 2 * $column_gutter );
					// 		margin-left: percentage( 2 * $gutter / 100 );
					// 		margin-right: percentage( 2 * $gutter / 100 );
					// 	}
					// }



			// Forced columns layouts

				@include in( 'ul.products.columns-1' ) {
					width: percentage( 1 - $column_gutter );
				}

				@for $i from 2 through 6 {

					@include in( 'ul.products.columns-#{$i}' ) {

						@include media( map_get( $breakpoint, 'l' ) ) {
							width: percentage( 1 / $i - $column_gutter );
						}

					}

				}



				// Medium devices columns

					$columns: 3;

					@for $i from 4 through 6 {

						@include in( 'ul.products.columns-#{$i}' ) {

							@include media(
								( map_get( $breakpoint, 'l' ), 'min-width' ),
								( map_get( $breakpoint, 'xl' ), 'max-width' )
							) {
								width: percentage( 1 / $columns - $column_gutter );
							}

						}

					}

		}

}



// Fullwidth products loops on single product pages

	.single-product .products-container {
		padding: $padding_vertical 0;
		border-top-width: 1px;
		border-top-style: solid;

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-top: $golden_major * $padding_vertical / 2 + $padding_vertical;
			padding-bottom: $golden_major * $padding_vertical / 2 + $padding_vertical;
		}

	}



// Imports

	@import '_loop-upsells';

	@import '_loop-related';

	@import '_loop-cross-sells';

	@import '_loop-search';
