/* FILE: woocommerce/main/__loop-search.scss */

//
// Products in search results
//





.search-results {

	.entry-title {

		.price {
			display: block;
			margin-top: 1rem;
		}

		del {
			display: inline;
			margin-#{$right}: $golden_minor +em; // {{RTL}}
		}

	}

	.product {

		.entry-summary {
			display: none;
		}

	}

}
