/* FILE: woocommerce/main/__loop-cross-sells.scss */

//
// Cross sells products loop styles
//
// This loop is displayed on Cart page.
//





.cross-sells {
	margin-bottom: pow( $golden, 2 ) +em;



	.thumbnail {
		float: $left; // {{RTL}}
		max-width: pow( 1 + $golden_minor, 4 ) +em;
		margin-#{$right}: 1em;
	}



	ul.products {
		margin: 0;

		a {
			text-decoration: none;
		}



		.product {
			width: 100%;
			padding: 1em;
			margin: 1em 0 0;
			border-color: inherit;

			&:first-child {
				margin-top: 0;
			}

			a:first-child {
				padding: 0;
				overflow: hidden;
			}

			&::before {
				display: none;
			}



			.description {
				padding: 0 0 1em ( pow( 1 + $golden_minor, 4 ) + 1em );
				text-align: $left; // {{RTL}}
			}

				.star-rating {
					position: relative;
					left: auto;
					top: auto;
					margin: ( $golden_minor +em ) 0;
					font-size: 1em - $golden_minor / 2;
					background-color: transparent;
					box-shadow: none;
				}



			.button {
				margin-top: $golden_major +rem;
				padding: $golden_minor +rem;
			}

		}

	}



	.onsale {
		display: none;
	}

}
