/* FILE: woocommerce/main/__password-meter.scss */

//
// Password meter styles
//





.woocommerce-password-strength,
.woocommerce-password-hint {
	display: block;
	line-height: 1 + $golden_minor;
	font-size: 1em - $golden_minor / 2;
	overflow: hidden;

	&::before {
		@extend %wc_genericon;
		content: '\f414';
		margin-#{$right}: $golden_major +em; // {{RTL}}
		vertical-align: top;
	}

}



.woocommerce-password-strength {
	@extend %wc_background_overlay_from_text_color_after;
	padding: $golden_major +em;
	margin: 0;
	text-align: center;
	font-weight: 700;

	&.good::before {
		content: '\f418';
	}

	&.strong::before {
		content: '\f470';
	}

}



.woocommerce-password-hint {
	margin-top: $golden_major +em;

	&::before {
		content: '\f455';
	}

}
