/* FILE: woocommerce/main/__shop-table.scss */

//
// Shop table styles
//





.shop_table {

	th,
	td {
		padding-left: 1rem;
		padding-right: 1rem;
		box-sizing: content-box;
		border-style: dashed;

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding: 1rem;
		}

		&:last-child {
			text-align: $right; // {{RTL}}
		}

	}

	th {
		@extend %wc_background_overlay_from_text_color_after; // Using after for responsive table compatibility
		text-transform: uppercase;
		font-weight: 700;

		&,
		&.product-name {
			font-size: 1em - $golden_minor / 2;
		}

	}



	.actions {

		&:hover {
			background-color: transparent;
		}

	}



	.product-remove {
		position: relative;
		text-align: center;

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-left: $golden_minor +em;
			padding-right: $golden_minor +em;
		}

		a {
			@extend %wc_indent_text_for_icon_only;
			width: 2em;
			height: 2em;
			line-height: 2;
			text-decoration: none;
			font-size: 1em + $golden_minor / 4;

			@include media( map_get( $breakpoint, 'l' ) ) {
				width: 1em;
				height: 1em;
				line-height: 1;
			}

			&::before {
				content: '\f406';
				height: 100%;
			}

		}

	}



	.product-thumbnail {
		text-align: center;

		@include media( map_get( $breakpoint, 'l' ) ) {
			padding-left: 0;
			padding-right: 0;

			img {
				max-width: pow( 1 + $golden_minor, 4 ) +em;
			}

		}

		@include media(
			( map_get( $breakpoint, 'l' ), 'min-width' ),
			( map_get( $breakpoint, 'xl' ), 'max-width' )
		) {
			display: none;
		}

	}



	.product-name {
		font-size: 1em - $golden_minor / 4;
		overflow: hidden;

		> a {
			display: block;
		}

		a {
			font-weight: 700;
			color: inherit;
		}

	}



	.product-price {
		text-align: $right; // {{RTL}}
		font-size: 1em - $golden_minor / 2;
	}



	.product-quantity {

		@include media( map_get( $breakpoint, 'l' ) ) {
			text-align: center;
		}

	}

		.quantity {
			margin: 0;

			.qty {
				font-size: $golden_minor + 1em;
				text-align: center;
				border-bottom-color: transparent;

				&:hover,
				&:focus {
					text-align: $left; // {{RTL}}
					border-bottom-color: currentColor;
				}

			}

		}

		tr:hover .qty {
			text-align: $left; // {{RTL}}
			border-bottom-color: currentColor;
		}



	.product-subtotal {

		.amount {
			font-weight: 700;
		}

	}



	// Responsive table
	//
	// Where is it used:
	// * Cart table
	// * Cart totals table
	// * Orders
	// * My Account > Downloads (WC2.6+)
	// * My Account > Payment Methods (WC2.6+)

		&_responsive {

			thead,
			th {
				display: none;
			}

			tr {
				display: block;
				padding: ( $golden +em ) 0;
			}

			td {
				clear: both;
				display: block;
				text-align: $right; // {{RTL}}

				&::before {
					content: attr( data-title );
					float: $left; // {{RTL}}
					margin-bottom: $golden_major +em;
					margin-#{$right}: 1em; // {{RTL}}
					text-transform: uppercase;
					font-size: 1rem - $golden_minor / 2;
					font-weight: 700;
				}

			}

			.product-remove,
			.product-thumbnail {

				&::before {
					display: none;
				}

			}

			.variation {
				float: $right; // {{RTL}}
			}

			.actions,
			.order-actions,
			.download-actions {

				&::before {
					display: none;
				}

			}

			@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {

				td,
				th {
					border-width: 0;
				}

				tr:not(:first-child) {
					border-top-width: 2px;
					border-top-style: solid;
				}

			}

			@include media( map_get( $breakpoint, 'l' ) ) {

				thead {
					display: table-header-group;
				}

				tr {
					display: table-row;
					padding: 0;
				}

				th,
				td {
					display: table-cell;
				}

				td {
					text-align: inherit;

					&::before {
						display: none;
					}

				}

				.variation {
					float: none;
				}

			}

		}

}



// Cart table

	.cart_item {

		th,
		td {
			vertical-align: middle;
		}

	}
