/* FILE: woocommerce/main/__single.scss */

//
// Single product page
//





.single-product {
	@extend %wc_fullwidth_sections_layout;

	&.no-widgets-sidebar .content-area {
		max-width: none;
	}



	// Summary container

		.summary-container {

			&-inner {
				@extend %wc_clearfix;
				@extend %wc_content_width;
				padding: $padding_vertical 0;

				@include media( map_get( $breakpoint, 'l' ) ) {
					padding-top: $golden_major * $padding_vertical / 2 + $padding_vertical;
					padding-bottom: $golden_major * $padding_vertical / 2 + $padding_vertical;
				}

				@include media( map_get( $breakpoint, 'xl' ) ) {
					padding-top: $golden * $padding_vertical;
					padding-bottom: $golden * $padding_vertical;
				}

			}

		}



		// Image gallery
		// @see  woocommerce/main/__gallery.scss



		// Summary

			.summary {
				margin: 0;

				@include media( map_get( $breakpoint, 'l' ) ) {
					float: $right; // {{RTL}}
					width: 48%;
				}

				@include media( map_get( $breakpoint, 'xl' ) ) {
					width: percentage( $golden_minor - .02 );
				}



				// Rating

					.woocommerce-product-rating {
						margin-bottom: 1em;
						overflow: hidden;
					}

					.star-rating {
						font-size: $golden_minor + 1em;
					}

					@include media( map_get( $breakpoint, 's' ) ) {

						.star-rating {
							float: $left; // {{RTL}}
						}

						.woocommerce-review-link {
							clear: none;
							float: $right; // {{RTL}}
							display: inline;
						}

					}



				// Sharing buttons

					.sharedaddy {
						padding-top: 1em;
						margin-top: 0;
						margin-bottom: $golden +em;
						border-top-width: 1px;
						border-top-style: solid;

						&:first-child {
							padding-top: 0;
							border-top-width: 0;
						}

						ul {
							margin: 0 !important;
						}

					}



				// Description

					[itemprop="description"], // WC pre-3.0 compatibility
					.woocommerce-product-details__short-description {
						margin-bottom: $golden +em;
					}

					.product-description-link {
						text-transform: uppercase;
						text-decoration: underline;
						font-size: 1em - $golden_minor / 2;
						font-weight: 700;

						&:hover {
							text-decoration: none;
						}

						&-container {
							margin-top: -1em;
							text-align: $right; // {{RTL}}
						}

					}



				// Price

					.price {
						margin-bottom: $golden +rem;
						font-size: $golden +em;
					}



				// Stock

					.stock {
						display: inline-block;
						padding: ( $golden_minor +em ) ( $golden_major +em );
						font-size: 1em - $golden_minor / 2;
						border-width: 1px;
						border-style: solid;

						&:empty {
							display: none;
						}

					}

					table .stock {
						display: block;
						padding: 0;
						margin-top: $golden_minor +em;
						border-width: 0;
						font-style: italic;
					}

					.in-stock {}

					.out-of-stock {
						margin-bottom: 0;
					}



				// Cart form

					.cart {

						.entry-subtitle {
							display: none;
						}

						table {
							margin: ( $golden +em ) 0;
							border-width: 0;

							th,
							td {
								@extend %wc_background_overlay_from_text_color;
								box-sizing: content-box;
								border-style: solid;
								border-width: 0;
								border-top-width: 2px;
								border-bottom-width: 2px;
								border-color: transparent;
								vertical-align: middle;
							}

						}

						.button {

							@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {
								display: block;
								width: 100%;
								margin-top: $golden +rem;
							}

						}

						.single_add_to_cart_button {
							display: block;
							width: 100%;
							padding-top: 1em;
							padding-bottom: 1em;
							margin-top: $golden +rem;
							font-size: 1em;
							font-weight: 700;
						}

						.hidden + .single_add_to_cart_button {
							margin-top: 0;
						}

					}



					// Groups

						.group_table {

							.qty {
								font-size: $golden_minor +1em;
							}

							label {
								text-transform: none;
								font-size: 1em;
							}

							.price {
								text-align: $right; // {{RTL}}
								font-size: 1em;
							}

						}

			}



		// Product meta

			.product_meta {
				margin-top: pow( 1 + $golden_minor, 4 ) +em;
				font-size: 1em - $golden_minor / 4;

				> span {
					display: block;
					margin: ( $golden_minor +em ) 0;
				}

			}

			.sku,
			.posted_in a {
				font-weight: 700;
			}

}
