/* FILE: woocommerce/main/__star-rating.scss */

//
// Star rating styles
//





.star-rating {
	@extend %wc_genericon;
	position: relative;
	width: 5em; // 5 stars of 1em width
	height: 1em;
	line-height: 1;
	text-align: $left; // {{RTL}}
	font-size: 1em;
	font-weight: 400;
	overflow: hidden;

	&::before,
	span,
	span::before {
		float: $left; // {{RTL}}
		position: absolute;
		#{$left}: 0; // {{RTL}}
		top: 0;
	}

	&::before {
		content: '\f511\f511\f511\f511\f511'; // Empty star
		opacity: .33;
	}

	span {
		padding-top: 1.5em; // Move the text away accessibly
		overflow: hidden;

		&::before {
			content: '\f408\f408\f408\f408\f408'; // Full star
			float: none;
		}

	}

}



// In review form

	p.stars {
		float: $right; // {{RTL}}
		display: inline-block;
		margin: 0;
		line-height: 1;
		font-size: $golden_minor + 1em;

		a {
			@extend %wc_indent_text_for_icon_only;
			height: 1em;
			margin: 1px;
			text-decoration: none;
			font-weight: 400;
			border-width: 0;

			&::before {
				content: '\f511'; // Empty star
				display: block;
				line-height: 1;
			}

			&:hover ~ a::before {
				content: '\f511'; // Empty star
			}

		}

		&:hover a::before {
			content: '\f408'; // Full star
		}

		&.selected {

			a.active {

				&::before {
					content: '\f408'; // Full star
				}

				~ a::before {
					content: '\f511'; // Empty star
				}

			}

			a:not(.active)::before {
				content: '\f408'; // Full star
			}

		}

	}
