/* FILE: woocommerce/main/__variations.scss */

//
// Variations list styles
//





.variation {
	margin: 0 0 ( $golden_minor +em );
	text-transform: uppercase;
	font-size: 1em - $golden_minor / 2;
	overflow: hidden;

	dt,
	dd {
		margin: 0;
	}

	dt {
		clear: $left; // {{RTL}}
		float: $left; // {{RTL}}
	}

	dd {
		float: $left; // {{RTL}}
		margin-#{$left}: $golden_minor +em; // {{RTL}}
	}

}



// On single product page

	.single-product .summary {

		.variations {

			.label {
				font-weight: 700;
				white-space: nowrap;
			}

			select {
				float: $right; // {{RTL}}
				width: auto;
				padding-#{$right}: $golden +em; // {{RTL}}
				padding-top: 0;
				padding-bottom: 0;
				background-color: transparent;
				background-origin: padding-box;
				border-width: 0;
				border-bottom-width: 2px;
				border-bottom-style: solid;
				border-color: currentColor;
				cursor: pointer;
			}

			&_button {
				@extend %wc_clearfix;
				margin-top: $golden +em;

				.button:first-child {
					width: 100%;
				}

			}

		}



		.single_variation {

			.price {
				display: block;
			}

		}



		.reset_variations {
			float: $right; // {{RTL}}
			margin-top: $golden_minor +em;
			margin-#{$right}: $golden_major +em; // {{RTL}}
			text-decoration: none;
			font-size: 1em - $golden_minor / 2;

			@include haf() {
				text-decoration: underline;
			}

			&::before {
				@extend %wc_genericon;
				@extend %wc_icon_vertical_align_middle;
				content: '\f420';
				margin-#{$right}: $golden_minor +em; // {{RTL}}
			}

		}



		.woocommerce-variation-description {
			margin-bottom: 1em;
		}

	}
