/* FILE: woocommerce/main/_badges.scss */

.onsale {
	position: relative;
	display: inline-block;
	padding: ( $ratio_min +em ) ( $ratio +em );
	margin-bottom: $ratio +rem;
	text-transform: uppercase;
	font-size: 1em - $ratio_min / 2;
	font-weight: 700;
	border: 2px solid;

	ul.products .product & {
		position: absolute;
		#{$right}: $ratio_min +em; // {{RTL}}
		top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin: ( $ratio_min +rem ) 0;
		line-height: 1rem + 2 * $ratio_maj;
		border: 0;
	}

	.products & {
		@extend %colors_accent;
	}

}
