/* FILE: woocommerce/main/_demo.scss */

.demo_store,
.woocommerce-store-notice {
	@extend %colors_accent;
	margin: 0;
	padding: 1em ( $ratio +em );
	text-align: center;
	font-size: 1em - $ratio_min / 2;
	font-style: italic;

	&::before {
		@extend %genericon;
		@extend %icon_vertical_align_middle;
		content: '\f455';
		font-size: 1rem;
		margin-#{$right}: $ratio_min +em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

}

.woocommerce-store-notice {

	&__dismiss-link {
		margin-#{$left}: $ratio +em; // {{RTL}}

		&::before {
			@extend %genericon;
			@extend %icon_vertical_align_middle;
			content: '\f406';
			font-size: 1rem;
			margin-#{$right}: $ratio_min +em;
		}

	}

}
