/* FILE: woocommerce/main/_price.scss */

.price {

	.amount {
		font-weight: 700;

		.product-type-grouped .summary > &,
		.product-type-variable .summary > & {
			font-weight: inherit;
		}

	}

	del {
		margin-#{$right}: $golden_minor +em; // {{RTL}}
		font-weight: 300;
		opacity: .5;

		.amount {
			font-weight: inherit;
		}

	}

	ins {
		margin: 0;
		text-decoration: none;
	}

	.single-product .summary & {
		@extend %colors_site_content_headings;
	}

	.single-product .product-type-grouped .summary > &,
	.single-product .product-type-variable .summary > & {
		font-size: 1em;
	}

	.search-results .entry-title & {
		display: block;
		margin-top: 1rem;
		font-size: 1rem;
	}

}

.woocommerce-price-suffix {
	margin-#{$left}: $golden_minor +em; // {{RTL}}
}

.amount-separator {
	margin: 0 ( $golden_minor / 2 +em );
	font-weight: 400;

	del & {
		margin: 0;
	}

}
