/* FILE: starter/content/sidebar/_sidebar.scss */

.sidebar {
	@extend %line_height_golden;
	margin: ( $golden +em ) 0 0;
	padding: ( $golden +em ) 0 0;

	@include media( map_get( $breakpoint, 'l' ) ) {
		float: $right; // {{RTL}}
		margin-top: 0;
		padding-top: 0;
	}

}
