/* FILE: main/content/__accessibility.scss */

//
// Accessibility content styles
//





// Extenders

	%accessible_link_style {
		text-decoration: underline;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}

	}

	%accessible_link_style_disable {
		text-decoration: none;
	}



// Content link styles

	a {
		@extend %accessible_link_style;
	}
