/* FILE: main/content/__accessibility.scss */

//
// Accessibility content styles
//





// Extenders

	%accessible_link_style {
		text-decoration: underline;
		font-weight: 600;

		&:hover,
		&:focus {
			text-decoration: none;
		}

	}

	%accessible_link_style_disable {
		text-decoration: none;
		font-weight: inherit;
	}



// Content link styles

	h1, h2, h3, h4,
	.h1, .h2, .h3, .h4,
	p,
	blockquote,
	li,
	dd {

		.entry-content & {

			a {
				@extend %accessible_link_style;
			}

		}

		.sidebar &,
		.posts .entry & {

			a {
				@extend %accessible_link_style_disable;
			}

		}

	}

	a.button {

		.site .entry-content & {
			text-decoration: none;
		}

	}
