/* FILE: main/content/__layout.scss */

//
// Site content layout
//
// Custom CSS class:
// - compensate-content-padding-top
// - compensate-content-padding-bottom
//





// Site content width holder

	.site-content {
		@extend .clearfix;

		&-inner {
			@extend %content_width;
			@extend .clearfix;
			padding: ( $golden_major * $padding_vertical ) 0;

			@include media( map_get( $breakpoint, 'l' ) ) {
				padding-top: $padding_vertical;
				padding-bottom: $padding_vertical;
			}

			@include media( map_get( $breakpoint, 'xl' ) ) {
				padding-top: $golden * $padding_vertical;
				padding-bottom: $golden * $padding_vertical;
			}

		}

			.compensate-content-padding-top {
				margin-top: -$golden_major * $padding_vertical;

				@include media( map_get( $breakpoint, 'l' ) ) {
					margin-top: -$padding_vertical;
				}

				@include media( map_get( $breakpoint, 'xl' ) ) {
					margin-top: -$golden * $padding_vertical;
				}

			}

			.compensate-content-padding-bottom {
				margin-bottom: -$golden_major * $padding_vertical;

				@include media( map_get( $breakpoint, 'l' ) ) {
					margin-bottom: -$padding_vertical;
				}

				@include media( map_get( $breakpoint, 'xl' ) ) {
					margin-bottom: -$golden * $padding_vertical;
				}

			}



		// Do not show the outline on the skip link target

			&[tabindex="-1"]:focus {
				outline: 0;
			}

	}



// Primary content container

	.content-area {

		@include media( map_get( $breakpoint, 'l' ) ) {
			width: percentage( $page_content_width / 100 );

			.has-widgets-sidebar & {
				float: $left; // {{RTL}}
			}

			.no-widgets-sidebar & {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}

			.has-blocks &,
			.posts-layout-list.no-widgets-sidebar &,
			.single.no-widgets-sidebar &,
			.attachment.no-widgets-sidebar & {
				max-width: 36em;
			}

		}

		.error404 &,
		.no-widgets-sidebar & {
			width: 100%;
		}

	}



// Extenders

	%fullwidth_sections_layout {

		.site-content-inner {
			width: 100%;
			max-width: none;
			padding: 0;
		}

		.content-area {
			float: none;
			width: 100%;
			max-width: none;
			padding: 0;
			margin: 0;
		}

	}
