/* FILE: main/content/__layout-outdented.scss */

//
// Outdented layouts
//





// Content

	.outdent-content {
		@extend .clearfix;
		margin: ( $golden +em ) 0;

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			margin: ( power( $golden, 2 ) +em ) 0;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.no-widgets-sidebar & {
			clear: both;

			@include responsive( map_get( $breakpoint, 'l' ) ) {
				margin-left: percentage( -$golden_minor * $golden_minor );
				margin-right: percentage( -$golden_minor * $golden_minor );
			}

			@include responsive( map_get( $breakpoint, 'xl' ) ) {
				margin-left: percentage( -$golden_major / 2 );
				margin-right: percentage( -$golden_major / 2 );
			}

		}

		@include responsive( map_get( $breakpoint, 'xxl' ) ) {
			margin-#{$left}: percentage( -$golden_minor * $golden_minor ); // {{RTL}}
		}

		.page:not(.page-layout-outdented) & {
			margin-left: 0;
			margin-right: 0;
		}

	}



// Page layout

	// This layout is being applied only on pages with no sidebar.
	// See theme HTML body classes.
	//
	// IMPORTANT!
	//
	// If you make change here, make sure to do the same for editor
	// stylesheet in `main/custom-styles/_editor-style.scss`.
	//

	.page-layout-outdented:not(.content-layout-no-paddings) {

		.entry-content-inner {

			> h2,
			> .outdent-heading {

				&:not(:first-child) {
					margin-top: power( 1 + $golden_minor, 4 ) +rem;

					@include responsive( map_get( $breakpoint, 'xl' ) ) {
						margin-top: 12%;
					}

				}

			}

			@include responsive( map_get( $breakpoint, 'xl' ) ) {
				padding-#{$left}: percentage( 1 - $page_content_width / 100 ); // {{RTL}}

				// H2 headings outdent

					> h2,
					> .outdent-heading {
						width: percentage( 1 / ( $page_content_width / 100 ) );
						height: $golden +em;
						padding-#{$right}: percentage( ( $page_content_width + $page_content_gutter ) / $page_content_width );
						margin-#{$left}: percentage( -1 / ( $page_content_width / 100 ) + 1 ); // {{RTL}}
						margin-bottom: -$golden +em;

						&.uppercase {
							letter-spacing: .075em;
						}

						+ h3 {
							margin-top: 0;
						}

					}

				// Outdented content

					.outdent-content {
						width: percentage( 1 / ( $page_content_width / 100 ) );
						margin-top: 12%;
						margin-bottom: 12%;
						margin-#{$left}: percentage( -1 / ( $page_content_width / 100 ) + 1 ); // {{RTL}}
						margin-#{$right}: 0; // {{RTL}}

						&:first-child {
							margin-top: 0;
						}

						&:last-child {
							margin-bottom: 0;
						}

					}

			}

		}

		.post-password-required .entry-content-inner {

			@include responsive( map_get( $breakpoint, 'xl' ) ) {
				padding-#{$left}: 0; // RTL
			}

		}

	}

