/* FILE: main/content/__meta.scss */

//
// Entry meta
//





.entry-meta {
	padding: 0;
	margin-top: 0;
	margin-bottom: $golden_major +rem;
	border-width: 0;

	&:empty,
	.updated,
	.label-updated {
		display: none;
	}

	&-element {
		@extend %font_weight_700;
		margin-#{$right}: $golden_major +em; // {{RTL}}
		opacity: 1;
	}

	&-description {
		@extend %font_weight_400;
		margin-#{$right}: $golden_minor +em; // {{RTL}}
		text-transform: uppercase;
	}

	a {
		text-decoration: none;

		@include haf() {
			text-decoration: underline;
		}

	}

	.author {

		body:not(.group-blog) & {
			display: none;
		}

	}



	// Single post meta

		.single & {
			margin-bottom: power( $golden, 2 ) +em;

			&-element {
				margin-#{$right}: $golden +em; // {{RTL}}
			}

		}



	// When page builder used

		.single.fl-builder &,
		.single.content-layout-no-paddings & {
			padding: 1em 0;
			margin: 0;
			text-align: center;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		.no-intro.fl-builder &,
		.no-intro.content-layout-no-paddings & {
			margin-top: -1px;
		}



	// In loop

		.single.fl-builder .posts &,
		.single.content-layout-no-paddings .posts & {
			@extend %font_size_small;
			padding: 1em 0;
			margin: 0 0 ( $golden +rem );
		}

		.posts & {
			@extend %font_size_small;
			line-height: 2;
		}

}



// Linked entry date

	.entry-date {

		a & {
			cursor: pointer;
		}

	}
