/* FILE: main/content/__the-posts-navigation.scss */

//
// Post navigation: Previous and next post link
//





.post-navigation {
	border-top-width: 1px;
	border-top-style: solid;

	.nav-links {
		@extend %content_width;

		@include media( map_get( $breakpoint, 'm' ) ) {
			display: flex;
			flex-wrap: wrap;
		}

		> div {
			position: relative;

			@include media( map_get( $breakpoint, 'm' ) ) {
				flex: 1 1 0%;
			}

			@include media( map_get( $breakpoint, 'l' ) ) {
				transition: opacity ( $large_animation_speed +s );
			}

			&:nth-child(2) {

				@include media( map_get( $breakpoint, 'm' ) ) {
					// Two links
					text-align: $right; // {{RTL}}
				}

			}

		}

		a {
			display: block;
			padding: 8% 0;
			margin: 1px; // For focus outline
			text-decoration: none;
			color: inherit;

			@include media( map_get( $breakpoint, 'm' ) ) {
				padding: $padding_vertical 0;
			}

		}



		// Link label ("Previous" or "Next")

			.label {
				@extend %font_size_small;
				display: block;
				text-transform: uppercase;
				white-space: nowrap;
				opacity: .8;
			}



		// Entry title

			.title {
				@extend %font_weight_700;
				display: block;
			}



		// Hover action

			&:hover > div {
				opacity: .5;
			}

			> div:not(:empty):hover {
				opacity: 1;
			}

	}

}
