/* FILE: main/content/__wp.scss */

//
// WordPress default styles
//





// Alignments

	// Pullquotes

		blockquote {

			&.alignleft,
			&.alignright {
				padding: 0;

				@include responsive( map_get( $breakpoint, 's' ) ) {
					width: 35%;
				}

			}

			&.alignleft {
				margin-left: 0;

				&::before {
					float: $right; // {{RTL}}
					margin-#{$right}: 0; // {{RTL}}
					margin-#{$left}: .25em; // {{RTL}}
				}

			}

			&.alignright {
				margin-right: 0;
			}

		}



// Gallery

	.gallery {

		img {
			width: 100%;
		}

		&-columns-1 .gallery-item {
			margin-top: 2em;
		}

		&-caption {
			@extend %font_style_italic;
			padding: 1em;
			margin-top: -1px; // To prevent a gap in certain cases.
		}

	}
