/* FILE: main/content/_layout.scss */

//
// Custom CSS class:
// - compensate-content-padding-top
// - compensate-content-padding-bottom
//

.site,
.site-content,
.#{$special_color_class_prefix}content,
.#{$special_color_class_prefix}content > .fl-row-content-wrap,
.#{$special_color_class_prefix}content > .fl-col-content {
	@extend %colors_site_content;
}

// Site content width holder

	.site-content {
		@extend %clearfix;

		&-inner {
			@extend %layout_content_width;
			@extend %clearfix;
			padding: var(--content_padding) 0;
		}

			.compensate-content-padding-top {
				margin-top: var(--content_padding_negative);
			}

			.compensate-content-padding-bottom {
				margin-bottom: var(--content_padding_negative);
			}

		// Do not show the outline on the skip link target

			&[tabindex="-1"]:focus {
				outline: 0;
			}

	}

	// Automatic compensation.
	.is-singular:not(.content-layout-no-paddings):not(.has-widgets-sidebar) .entry-content-inner > .alignfull {

		&:first-child {
			margin-top: var(--content_padding_negative);
		}

		&:not(.mb0):not(.is-style-no-margin-vertical):last-child {
			margin-bottom: var(--content_padding_negative);
		}

	}

// Primary content container

	.content-area {

		@include media( map_get( $breakpoint, 'l' ) ) {
			width: percentage( $page_content_width / 100 );

			.has-widgets-sidebar & {
				float: $left; // {{RTL}}
			}

			.no-widgets-sidebar & {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}

			.has-blocks &,
			.posts-layout-list.no-widgets-sidebar &,
			.single.no-widgets-sidebar &,
			.attachment.no-widgets-sidebar & {
				max-width: 36em;
				max-width: var(--layout_width_entry_content);
			}

		}

		.error404 &,
		.no-widgets-sidebar & {
			width: 100%;
		}

	}
