/* FILE: main/content/_posts-layout-list.scss */

.posts-layout-list {

	.posts {
		display: block;
		margin: 0;

		.entry {
			margin: 0 0 $padding_vertical;

			&:last-child {
				margin-bottom: 0;
			}

			&,
			.no-widgets-sidebar & {
				width: 100%;
			}

		}

	}

	.type-post {
		@extend %clearfix;

		.entry {

			&-header {
				padding-bottom: $ratio +em;
				border-bottom-width: 1px;
				border-bottom-style: solid;
			}

			&-content {

				@include media( map_get( $breakpoint, 'xl' ) ) {
					float: $right; // {{RTL}}
					width: percentage( $ratio_maj );
				}

			}

			&-meta {

				@include media( map_get( $breakpoint, 'xl' ) ) {
					float: $left; // {{RTL}}
					width: 34%;
					margin-bottom: 0;
				}

				&-element {
					display: block;
					margin-#{$right}: 0; // {{RTL}}
				}

			}

		}

	}

}
