/////////////////////
//
// Functions
//
/////////////////////





//
// Power math function.
//
// @since    1.0.0
// @version  5.0.0
//
// @param  num $base
// @param  int $exp
//
// @return  num  Base raised to the power of exponent.
//
@function pow( $base, $exp: 1 ) {

	// Variables

		$output: 1;


	// Processing

		@if 0 < $exp {
			@for $i from 1 through $exp {
				$output: $output * $base;
			}
		}


	// Output

		@return $output;

} // /pow



//
// Repeat CSS selectors several times.
//
// @since    1.0.0
// @version  5.0.0
//
// @example
//   .foo {
//     @at-root #{ repeat_selector( &, 2 ) } {
//       ...
//     }
//   }
//
// @param  int $selector  The CSS selector to repeat.
// @param  int $multiply  How many times to repeat the selector?
//
@function repeat_selector( $selector, $multiply: 1 ) {

	// Variables

		$output: '';


	// Processing

		@for $i from 1 through $multiply {
			$output: $output + $selector;
		}


	// Output

		@return $output;

} // /repeat_selector



//
// Replace string.
//
// @since    5.0.0
// @version  5.0.0
//
// @param  string $search
// @param  string $replace
// @param  string $subject
//
@function str_replace( $search, $replace, $subject ) {

	// Variables

		$index: str-index( $subject, $search );


	// Processing

		@if $index {
			@return str-slice( $subject, 1, $index - 1 ) + $replace + str_replace( $search, $replace, str-slice( $subject, $index + str-length( $search ) ) );
		}


	// Output

		@return $subject;

} // /str_replace




//
// Encode symbols for URL.
//
// @since    5.0.0
// @version  5.0.0
//
// @param  string $string
//
@function url_encode( $url ) {

	// Variables

		$encodes: (
			"%": "%25",
			"<": "%3C",
			">": "%3E",
			" ": "%20",
			"!": "%21",
			"*": "%2A",
			"'": "%27",
			'"': "%22",
			"(": "%28",
			")": "%29",
			";": "%3B",
			":": "%3A",
			"@": "%40",
			"&": "%26",
			"=": "%3D",
			"+": "%2B",
			"$": "%24",
			",": "%2C",
			"/": "%2F",
			"?": "%3F",
			"#": "%23",
			"[": "%5B",
			"]": "%5D",
		);


	// Processing

		@each $search, $replace in $encodes {
			$url: str_replace( $search, $replace, $url );
		}


	// Output

		@return $url;

} // /url_encode
