/////////////////////
//
// Functions
//
/////////////////////





//
// Power math function.
//
// @since    1.0.0
// @version  5.0.0
//
// @param  num $base
// @param  int $exp
//
// @return  num  Base raised to the power of exponent.
//
@function pow( $base, $exp: 1 ) {

	// Variables

		$output: 1;


	// Processing

		@if 0 < $exp {
			@for $i from 1 through $exp {
				$output: $output * $base;
			}
		}


	// Output

		@return $output;

} // /pow



//
// Convert px value to rem or em.
//
// @since    1.0.0
// @version  5.0.0
//
// @param  int $value           Value of px to convert.
// @param  int $base_font_size  If set, the output is in em relative to this base (font-size) value.
//
@function px( $value, $base_font_size: 0 ) {

	// Output

		@if 0 < $base_font_size {
			@return $value / $base_font_size +em;
		} @else {
			@return $value / $font_size +rem;
		}

} // /px



//
// Repeat CSS selectors several times.
//
// @since    1.0.0
// @version  5.0.0
//
// @example
//   .foo {
//     @at-root #{ repeat_selector( &, 2 ) } {
//       ...
//     }
//   }
//
// @param  int $selector  The CSS selector to repeat.
// @param  int $multiply  How many times to repeat the selector?
//
@function repeat_selector( $selector, $multiply: 1 ) {

	// Variables

		$output: '';


	// Processing

		@for $i from 1 through $multiply {
			$output: $output + $selector;
		}


	// Output

		@return $output;

} // /repeat_selector
