/* FILE: _custom-properties/_box-model.scss */

#{ $root } {

	// White spaces.

		--white_space: #{ $ratio_maj * $padding_vertical };
		@include media( map_get( $breakpoint, 'l' ) ) {
			--white_space: #{ $padding_vertical };
		}
		@include media( map_get( $breakpoint, 'xl' ) ) {
			--white_space: #{ $ratio * $padding_vertical };
		}

		--body_padding:  1rem; // Horizontal padding of HTML body.
		--block_padding: 1rem; // Horizontal padding of block content (for Cover/Group block, block with background,...).
		@include media( 500 ) {
			--body_padding:  30px;
			--block_padding: 30px;
		}
		@include media( 666 ) {
			--body_padding: 40px;
		}
		@include media( map_get( $breakpoint, 'xxl' ) ) {
			--body_padding:  60px;
			--block_padding: 40px;
		}

		--content_padding: var(--white_space);
		--content_padding_negative: calc( -1 * var(--content_padding) );

		// Default gap size.
		// Line height in rem.
		// Simulating rem unit for block editor styles consistency.
		--gap: calc( var(--typography_font_size_base) * var(--typography_line_height) );

		--gap_elements: 0;
		// Touch enabled devices.
		@media (hover: none) {
			--gap_elements: 10px;
		}

		--posts_list_gap: 1em;
		@include media( map_get( $breakpoint, 'l' ) ) {
			--posts_list_gap: 2em;
		}

		--letter_spacing: .05em;

		--navigation_button_toggle_spacing: var(--gap_elements);

	// Widths & heights.

		--max_screen_width: 1920px;

		--max_width_header_content: var(--max_screen_width);
		--max_width_footer_content: var(--layout_width_content);

		--hr_width: 100%;
		--hr_height: 1px;

		--button_toggle_sub_menu_size: 10px;
		// Touch enabled devices.
		@media (hover: none) {
			--button_toggle_sub_menu_size: 24px;
		}

		// WP:

			--wp-admin--admin-bar--height: 32px;
			@media screen and (max-width: 782px) {
				--wp-admin--admin-bar--height: 46px;
			}

			--wp--style--block-gap: var(--gap);
			--wp--style--gallery-gap-default: var(--wp--style--block-gap);

			--wp--style--spacing--base: 1vmin;
			@for $i from 1 through 10 {
				--wp--preset--spacing--#{ $i * 10 }: calc( #{ $i } * var(--wp--style--spacing--base) );
			}

}

.has-navigation-mobile {
	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
		--button_toggle_sub_menu_size: 32px;
	}
}
