/* FILE: woocommerce/custom-styles/__global.scss */

//
// Global color styles
//





// Checkout button

	.checkout-button,
	.checkout.button {

		&,
		.site .fl-builder-content .fl-module & {
			@extend %accent_colors;
		}

	}



// Edit link in titles

	.title .edit {
		@extend %button_default_colors;
	}



// Shop table

	.shop_table {

		th {
			@extend %site_content_headings_color;
		}

		.product-remove a {

			@include media( ( map_get( $breakpoint, 'l' ), 'max-width' ) ) {
				background-color: map_get( $customize_options, 'color_accent' );
				color: map_get( $customize_options, 'color_accent_text' );
				background-color: var(--color_accent);
				color: var(--color_accent_text);
			}

		}

	}



// Messages

	.woocommerce-error {
		border-color: map_get( $colors, 'error_background' ); //*
	}



// Badges

	.products .onsale {
		@extend %accent_colors;
	}



// Demo notice

	.demo_store,
	.woocommerce-store-notice {
		@extend %accent_colors;
	}
