/* FILE: woocommerce/custom-styles/__loop.scss */

//
// Products loop color styles
//





ul.products {

	.product {

		.star-rating {
			@extend %site_content_colors;
			box-shadow: 0 0 0 ( $golden_major +em ) map_get( $customize_options, 'color_content_background' );
			box-shadow: 0 0 0 ( $golden_major +em ) var(--color_content_background);
		}

		.button,
		.fl-module & .button {
			@extend %accent_colors;
		}



		// Categories list

			&-category {

				.count {
					@extend %site_content_colors;
				}

			}

	}

}
