/* FILE: woocommerce/custom-styles/__menu.scss */

//
// Shop mobile menu links styles
//





.shop-mobile-menu-links {
	background-color: map_get( $customize_options, 'color_header_background' );
	color: map_get( $customize_options, 'color_header_text' );
	border-color: rgba( map_get( $customize_options, 'color_header_text' ), 20 / 100 );
	background-color: var(--color_header_background);
	color: var(--color_header_text);
	border-color: var(--color_header_text--a20);

	.button:not(:hover):not(:focus):not(:active) {
		background: transparent;
		color: inherit;
	}

}
