/* FILE: woocommerce/custom-styles/__pages.scss */

//
// Pages color styles
//





// Checkout -> Order received

	ul.order_details {

		//
		// Zigzag pattern
		//
		&::after,
		&::before {
			background-image:
				linear-gradient(
					45deg,
					map_get( $customize_options, 'color_content_text' ) 25%,
					transparent 25%,
					transparent 75%,
					map_get( $customize_options, 'color_content_text' ) 75%,
					map_get( $customize_options, 'color_content_text' )
				),
				linear-gradient(
					-45deg,
					map_get( $customize_options, 'color_content_text' ) 25%,
					transparent 25%,
					transparent 75%,
					map_get( $customize_options, 'color_content_text' ) 75%,
					map_get( $customize_options, 'color_content_text' )
				);
			background-image:
				linear-gradient(
					45deg,
					var(--color_content_text) 25%,
					transparent 25%,
					transparent 75%,
					var(--color_content_text) 75%,
					var(--color_content_text)
				),
				linear-gradient(
					-45deg,
					var(--color_content_text) 25%,
					transparent 25%,
					transparent 75%,
					var(--color_content_text) 75%,
					var(--color_content_text)
				);
		}

	}

	.place-order .button.alt {

		&,
		.fl-module & {
			@extend %accent_colors;
		}

	}



// My Account

	.woocommerce-MyAccount-navigation {

		a:hover,
		.active a,
		.is-active a,
		.woocommerce-view-order &-link--orders a {
			@extend %accent_colors;
			border-color: transparent; //*
		}

	}
