/* FILE: woocommerce/custom-styles/__single.scss */

//
// Single product color styles
//





// Gallery

	.single-product-images .woocommerce-product-gallery__trigger {
		@extend %accent_colors;
	}



// Variations table

	.variations {
		@extend %site_content_headings_color;
	}



// Quantity input field

	.quantity {
		@extend %site_content_headings_color;
	}



// Price

	.single-product .summary .price {
		@extend %site_content_headings_color;
	}



// Add to cart button

	.add_to_cart_button,
	.single_add_to_cart_button {
		@extend %accent_colors;
	}
