/* FILE: woocommerce/custom-styles/_woocommerce.scss */

//
// WooCommerce color styles
//
// This stylesheet is being used in customizer CSS generator.
//





// Imports

	@import '_global';

	@import '_forms';

	@import '_loop';

	@import '_single';

	@import '_tabs';

	@import '_pages';

	@import '_widgets';

	@import '_menu';

	@import '_shortcodes';
