/* FILE: main/typography/_typography.scss */

//
// Theme typography
//





// Font families

	%font_body {
		font-family: #{ map_get( $customize_options, 'typography_fonts_text' ) };
		font-family: var(--typography_fonts_text);
	}

	%font_headings {
		font-family: #{ map_get( $customize_options, 'typography_fonts_headings' ) };
		font-family: var(--typography_fonts_headings);
	}

	%font_logo {
		font-family: #{ map_get( $customize_options, 'typography_fonts_logo' ) };
		font-family: var(--typography_fonts_logo);
		text-rendering: auto;
	}

	%font_inherit {
		font-family: inherit;
	}

	html {
		@extend %font_body;

		@include responsive( map_get( $breakpoint, 's' ) ) {
			font-size: map_get( $customize_options, 'typography_size_html' );
			font-size: var(--typography_size_html);
		}

	}



	// Font forcing classes

		.font {

			.site & {

				&-body {
					@extend %font_body;
				}

				&-headings,
				&-headings-primary {
					@extend %font_headings;
				}

				&-logo,
				&-headings-secondary {
					@extend %font_logo;
				}

				&-inherit {
					@extend %font_inherit;
				}

			}

		}
