/* FILE: main/typography/_typography.scss */

//
// Theme typography
//





// Font families

	%font_body {
		font-family: #{ map_get( $customize_options, 'typography_fonts_text' ) };
		font-family: var(--typography_fonts_text);
	}

	%font_headings {
		font-family: #{ map_get( $customize_options, 'typography_fonts_headings' ) };
		font-family: var(--typography_fonts_headings);
	}

	%font_logo {
		font-family: #{ map_get( $customize_options, 'typography_fonts_logo' ) };
		font-family: var(--typography_fonts_logo);
		text-rendering: auto;
	}

	%font_inherit {
		font-family: inherit;
	}

	html {
		@extend %font_body;

		@include media( map_get( $breakpoint, 's' ) ) {
			font-size: map_get( $customize_options, 'typography_size_html' );
			font-size: var(--typography_size_html);
		}

	}



	// Font forcing classes

		.site {

			.font-body,
			.has-root-font-family {
				@extend %font_body;
			}

			.font-headings,
			.font-headings-primary,
			.has-headings-font-family {
				@extend %font_headings;
			}

			.font-logo,
			.font-headings-secondary,
			.has-site-title-font-family {
				@extend %font_logo;
			}

			.font-inherit,
			.has-inherited-font-family {
				@extend %font_inherit;
			}

		}
