/* FILE: main/typography/_typography.scss */

//
// Theme typography
//





// Font families

	%font_body {
		font-family: #{ map_get( $font_family, 'body' ) };
	}

	%font_headings {
		font-family: #{ map_get( $font_family, 'headings' ) };
	}

	%font_logo {
		font-family: #{ map_get( $font_family, 'logo' ) };
		text-rendering: auto;
	}

	%font_inherit {
		font-family: inherit;
	}

	html {
		@extend %font_body;
	}



	// Font forcing classes

		.font {

			.site & {

				&-body {
					@extend %font_body;
				}

				&-headings,
				&-headings-primary {
					@extend %font_headings;
				}

				&-logo,
				&-headings-secondary {
					@extend %font_logo;
				}

				&-inherit {
					@extend %font_inherit;
				}

			}

		}
