/* FILE: starter/content/comments/_content.scss */

.comment-content {
	@extend .clearfix;

	a {
		@extend %break_words;
	}

	p,
	blockquote,
	table {
		margin-bottom: 1em;
	}

}

.comment {

	.reply {
		@extend %font_size_small;
	}

}
