/* FILE: starter/content/comments/_meta.scss */

.comment-meta {
	clear: both;
	padding-bottom: $golden_major +em;
	margin-bottom: 1em;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	overflow: hidden;

	.avatar {
		display: block;
		width: 5em - $golden;
		margin-bottom: 1em;
		border-radius: 50%;

		@include media( map_get( $breakpoint, 'm' ) ) {
			position: absolute;
			width: 5em;
			#{$left}: 0; // {{RTL}}
			top: $golden +em;
			margin-bottom: 0;
		}

	}

}

.comment-author {

	@include media( map_get( $breakpoint, 'm' ) ) {
		float: $left; // {{RTL}}
	}

}

.comment-metadata {
	@extend %font_size_small;

	@include media( map_get( $breakpoint, 'm' ) ) {
		float: $right; // {{RTL}}
	}

	.edit-link {
		padding-#{$left}: $golden +em; // {{RTL}}
		font-variant: small-caps;
	}

}

.bypostauthor {
	// The class is still required for Theme Check to pass,
	// so, compensate for this in your theme's `style.css` file.
}
