//
// Encode symbols for URL.
//
// @since    5.0.0
// @version  5.0.0
//
// @param  string $string
//
@function encode_url( $url ) {

	// Variables

		$encodes: (
			"%": "%25",
			"<": "%3C",
			">": "%3E",
			" ": "%20",
			"!": "%21",
			"*": "%2A",
			"'": "%27",
			'"': "%22",
			"(": "%28",
			")": "%29",
			";": "%3B",
			":": "%3A",
			"@": "%40",
			"&": "%26",
			"=": "%3D",
			"+": "%2B",
			"$": "%24",
			",": "%2C",
			"/": "%2F",
			"?": "%3F",
			"#": "%23",
			"[": "%5B",
			"]": "%5D",
		);


	// Processing

		@each $search, $replace in $encodes {
			$url: str_replace( $search, $replace, $url );
		}


	// Output

		@return $url;

} // /encode_url
